.entered-scripts {
    background-color: #222;
    font-weight: 600;
    padding: 10px;
    line-height: 1.2em;
    overflow-y: scroll;
    height: 500px;
    width: 100%;
}

.terminal-text-entry {
    background: #555;
    color: #8ec641;
    border: none;
    height: 50px;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    padding: 0 15px;
}

.terminal-submit-button {
    background: #8ec641;
    border: none;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    padding: 0 10px;
    text-transform: uppercase;

    &:disabled {
        background: #999;
        cursor: not-allowed;
    }
}

.mat-table-container {
    overflow-x: auto;
}

.mat-table {
    width: 100%;
    border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
    padding: 8px 16px;
    text-align: left;
}

.mat-header-row {
    background-color: #f0f0f0;
}

.mat-row:nth-child(even) {
    background-color: #fafafa;
}

.mat-row:hover {
    background-color: #f5f5f5;

    .description-input {
        background-color: #f5f5f5;
    }
}

.mat-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-action {
    border: none;
    background: none;
    font-size: 12px;
}

.description-input,
.description-input:focus,
.description-input:active {
    border: none !important;
    outline: none;
}
