.theme-container {
    padding-top: 15px;
}

.field-group-item {
    button {
        background: none;
        border: none;
        font-size: 12px;
    }
}

.theme-banner {
    padding: 60px 20px 100px 20px !important;
}
