.margin-top-extra {
    margin-top: 165px;
}

.margin-top-extra-toggle {
    margin-top: 300px;
}

.margin-top-extra-notes {
    margin-top: 270px;
}

.double-margin-top-extra {
    margin-top: 400px;
}

agm-map {
    height: 100%;
}