.add {
    border-radius: 100%;
    border: 2px solid #303030;
    height: 30px;
    width: 30px;

    &:hover {
        background-color: rgb(10, 22, 44);
        color: #fff;
    }
}

.field-group-item {
    button {
        background: none;
        border: none;
        font-size: 12px;
    }
}
