<div class="content-section">
	<div class="row" *ngIf="!loading_advertisers; else loader">
		<div class="col-lg-6">
			<ng-container *ngIf="advertiser.length > 0; else no_advertiser">
				<app-autocomplete-field
				[data_reference]="advertiser_data"
				[primary_keyword]="'name'"
				[key_of_value]="'id'"
				(data_value)="advertiserEntered($event)"
				[required]="true"
				[label]="'Type in an Advertiser name here'"
				[paging]="paging_advertiser"
                (call_next_page)="advertiserSearchBoxTrigger($event)"
                (searched)="searchAdvertiserData($event)"
                [loading_data]="loading_data_advertiser"
                [loading_search]="loading_search_advertiser"
                [initial_load]="initial_load_advertiser">
				</app-autocomplete-field>

				<mat-card class="p-4" *ngIf="entered_advertiser_data as e; else no_record">
					<div class="align-items-center d-flex mb-3">
						<div class="flex-even">
							<h3>{{ e.name }}</h3>
							<p class="sm-text">{{ e.address }}, {{ e.state}} {{ e.postalCode }}</p>
						</div>
						<div class="text-right">
							<span class="sm-text">{{ e.category }}</span>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg">
							<span class="sm-text w-100">
								Latitude
							</span>
							<p>{{e.latitude || '--'}}</p>
						</div>

						<div class="col-lg">
							<span class="sm-text w-100">
								Longitude
							</span>
							<p>{{e.longitude || '--'}}</p>
						</div>
					</div>
				</mat-card>
			</ng-container>
		</div>
		<div class="col-6 col-lg" *ngIf="advertiser.length > 0">
			<agm-map class="vh-50" [latitude]="lat" [longitude]="lng" [fitBounds]="location_selected"  [maxZoom]="19" >
				<agm-marker
				*ngIf="map_markers as h"
				[latitude]="h.latitude" 
				[longitude]="h.longitude"
				[agmFitBounds]="true"
				[iconUrl]="h.icon_url">
					<agm-info-window #window>
						<h4>{{ h.name }}</h4>
						<h6>Longitude: {{h.longitude}}</h6>
						<h6>Latitude: {{h.latitude}}</h6>
				  	</agm-info-window>
				</agm-marker>
			</agm-map>
			<p class="sm-text mt-3 bg-info p-3 text-white">Note: If advertiser is displayed but no marker is shown please check the coordinates of that advertiser.</p>
		</div>
	</div>

	<ng-template #loader>
        <div class="vh-50 d-flex align-items-center justify-content-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <ng-template #no_record>
        <mat-card class="vh-50 p-5">
            <div class="border-dashed d-flex align-items-center h-100 p-5 w-100">
                <div class="text-center w-100">
                    <span class="fas fa-map fa-2x text-primary mb-3"></span>
                    <h3>Welcome to Locator</h3>
                    <p class="sm-text">Enter an Advertiser name above to start</p>
                </div>
            </div>
        </mat-card>
    </ng-template>

	<ng-template #no_advertiser>
        <div class="align-items-center justify-content-center">
            <h3>Aw, Sorry!</h3>
			<p class="sm-text mb-3">
				There are no available advertiser profile at the moment.
			</p>
			<button mat-button mat-raised-button class="theme-btn mr-2" 
				(click)="createAdvertiserProfile()"
				[disabled]="is_view_only">Add Advertiser Profile<span class="fas fa-user ml-2 sm-text"></span>
            </button>
        </div>
    </ng-template>
</div>