<div class="generate-license-modal">
    <form [formGroup]="create_category_form" class="p-5 pb-0">
        <h3 class="text-center mb-4">Create Category</h3>
        <mat-form-field class="full-width">
            <mat-label>Category Name</mat-label>
            <input formControlName="categoryName" matInput placeholder="Ex: Buy One Take One" type="text" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Enter Category Slug</mat-label>
            <input formControlName="slug" matInput placeholder="Ex: buy-one-take-one" type="text" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Category Parent</mat-label>
            <input formControlName="parentCategory" matInput placeholder="Store" type="text" />
        </mat-form-field>
        <button mat-button mat-raised-button class="theme-btn mt-4">
            <span class="button-label"> Save </span>
        </button>
    </form>
</div>
