<mat-card class="p-0 thumbnail-card rounded-0 position-relative overflow-hidden" data-placement="top" [attr.title]="removeFilenameHandle(filename)">
	<div class="icon-overlay">
		<div class="type-icon sm-text">
			<i class="far fa-image text-primary mr-1" *ngIf="filetype != 'webm' && filetype != 'feed'" title="Image"></i>
			<i class="fas fa-video text-primary mr-1" *ngIf="filetype == 'webm'"  title="Video"></i>
			<i class="fas fa-rss-square text-primary mr-1" *ngIf="filetype == 'feed'"  title="Feed"></i>
			<i class="fas fa-user-circle mr-1" [ngClass]="dealer === '' || dealer === null ? 'text-gray' : 'text-primary'" [title]="dealer === '' || dealer === null ? 'Unassigned' : 'Assigned'"></i>
			<i class="fas fa-expand text-primary" *ngIf="is_fullscreen == 1" title="Fullscreen"></i>
		</div>
		<div class="type-icon trash-icon sm-text" *ngIf="!zone_content && !multiple_delete">
			<i class="fas fa-times text-danger" (click)="deleteMedia($event)" title="Delete Content"></i>
		</div>
		<div class="type-icon select-icon text-right sm-text" *ngIf="!zone_content && multiple_delete">
			<mat-checkbox
			(change)="deleteContentArray($event, content_id)" [checked]="is_checked" (click)="$event.stopPropagation()">
			</mat-checkbox>
		</div>
	</div>
    <img [src]="image_uri" alt="thumbnail">
    <p class="thumbnail-title">
        <a [routerLink]="[route, content_id]" target="_blank">
			<span>{{ filename | filename }}</span>
        </a>
	</p>
	
	<div class="is_converting d-flex align-items-center justify-content-center px-2" *ngIf="filetype == 'webm' && is_converted == 0">
		<div>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			<p class="xsm-text text-white mt-1">Preparing Video</p>
		</div>
	</div>
</mat-card>