.good {
	color: #8ec641;
}

.bad {
	color: #ee5454;
}

.information-modal {
	.contents {
		text-align: justify;
	}

	.text-break {
		white-space: pre-line;
		height: 250px;
	}

	button.dismiss {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 5px;
		line-height: 14px;
		min-width: auto;
	}

	.business-hours {
		ul {
			list-style: none;
		}
	}
}
