<div class="app-version">
    <ng-container *ngIf="!loading; else loader">
            </div>
        </div>

        <hr class="mat-bl-em" />

        <div class="row no-gutters">
            <div class="col-lg-12">
                <mat-tab-group dynamicHeight #tabGroup class="custom-mat-tab">
                    <!-- PLAYER APPS TAB -->
                    <mat-tab id="player-apps-tab" label="Player Apps">
                        <div class="mat-top-em">
                            <div class="flex">
                                <div class="flex-2 d-inline-flex">
                                    <button
                                        mat-button
                                        mat-raised-button
                                        class="theme-btn pi-control sm-text"
                                        (click)="onAddApp()">
                                        <span class="fas fa-plus"></span>
                                        <span class="ml-2 button_text_animation">Add App</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 app-version--table">
                                <app-version-table
                                    [table_data]="tableDataVersion"
                                    (on_delete)="onDeleteApp($event)"></app-version-table>
                            </div>
                        </div>
                    </mat-tab>

                    <!-- ROLLOUT TARGETS TAB -->
                    <mat-tab id="rollout-targets-tab" label="Rollout Targets">
                        
                        <div class="flex-even text-right mr-2">
                            <button
                                mat-button
                                mat-raised-button
                                class="theme-btn"
                                (click)="targetLicenseModal()"
                                [disabled]="is_view_only">
                                <span class="button-label">Add Target License</span>
                                <!-- <span class="fas fa-upload ml-2 sm-text"></span> -->
                            </button>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12 app-version--table">
                                <app-version-table
                                    [table_data]="rolloutTargetTableData"
                                    (on_delete)="onDeleteApp($event)"></app-version-table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </ng-container>

    <ng-template #loader>
        <div class="w-100 vh-50 d-flex align-items-center justify-content-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
