<div class="p-4 user-form position-relative">
	<h3 class="mb-4">Edit Feed</h3>

	<ng-container *ngIf="is_form_ready; else loading">
		<form class="text-left" [formGroup]="edit_feed_form" (ngSubmit)="saveFeed()" class="text-left" #formDirective="ngForm">
			<div class="d-flex flex-column mb-4">
				<mat-form-field class="full-width">
					<mat-label>Feed Type</mat-label>
					<input matInput formControlName="classification" matInput type="text" readonly />
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-label>Feed Title</mat-label>
					<input matInput formControlName="feedTitle" matInput type="text" placeholder="Ex: ESPN News" />
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-label>Feed Description</mat-label>
					<input matInput formControlName="feedDescription" matInput type="text" placeholder="Ex: ESPN Latest News Today" />
				</mat-form-field>

				<ng-container *ngIf="!is_loading_dealers; else loadingDealers">
					<div class="autocomplete-container full-width">
						<app-autocomplete-field
							(data_value)="dealerSelected($event)"
							[data_reference]="dealers_data"
							[key_of_value]="'dealerId'"
							[label]="'Choose A Dealer'"
							[placeholder]="'Choose A Dealer'"
							[primary_keyword]="'businessName'"
							[search_keyword]="'dealer'"
							[paging]="paging"
							(searched)="searchData($event)"
							[loading_data]="is_loading_dealers"
							[initial_value]="dealer_name"
							[new_value]="dealer_name"
							[disabled]="is_current_user_dealer"
							[loading_search]="loading_search"
							[disable_minimum_search_length]="true"
							[disabled]="true">
						</app-autocomplete-field>
					</div>
				</ng-container>

				<ng-container *ngIf="is_widget_feed; else feedUrl">
					<mat-form-field class="full-width">
						<mat-label>Widget Script</mat-label>
						<textarea
							matInput
							placeholder="Paste your widget here"
							formControlName="embeddedScript"
							cdkTextareaAutosize
							cdkAutosizeMinRows="10"
							cdkAutosizeMaxRows="15">
						</textarea>
					</mat-form-field>
				</ng-container>

				<ng-template #feedUrl>
					<mat-form-field class="full-width">
						<mat-label>Feed URL</mat-label>
						<input matInput formControlName="feedUrl" matInput type="text" placeholder="URL needs to be working" />
					</mat-form-field>
				</ng-template>
			</div>
			<div class="d-flex flex-even">
				<button
					mat-button
					mat-raised-button
					class="theme-btn mr-2"
					[disabled]="edit_feed_form.invalid || is_loading_dealers || (is_current_user_dealer_admin && !has_selected_dealer_id)">
					Submit
				</button>
				<button mat-button mat-raised-button class="theme-btn" [mat-dialog-close]="false">Cancel</button>
			</div>
		</form>
	</ng-container>

	<ng-template #loading>
		<div class="py-5">
			<app-spinner></app-spinner>
		</div>
	</ng-template>
</div>

<ng-template #loadingDealers>
	<div class="spinner-container d-flex align-items-center justify-content-between">
		<h4>Loading dealers...</h4>
		<app-spinner [diameter]="35"></app-spinner>
	</div>
</ng-template>
