<div class="p-4 user-form position-relative">
    <h3 class="mb-4">Edit Feed</h3>

    <ng-container *ngIf="isFormReady; else loading">
        <form
            class="text-left"
            [formGroup]="editFeedForm"
            (ngSubmit)="saveFeed()"
            class="text-left"
            #formDirective="ngForm">
            <div class="d-flex flex-column mb-4">
                <mat-form-field class="full-width">
                    <mat-label>Feed Type</mat-label>
                    <input matInput formControlName="classification" matInput type="text" readonly />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Feed Title</mat-label>
                    <input matInput formControlName="feedTitle" matInput type="text" placeholder="Ex: ESPN News" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Feed Description</mat-label>
                    <input
                        matInput
                        formControlName="feedDescription"
                        matInput
                        type="text"
                        placeholder="Ex: ESPN Latest News Today" />
                </mat-form-field>

                <ng-container *ngIf="!isLoadingDealers; else loadingDealers">
                    <div class="autocomplete-container full-width">
                        <app-dealer-autocomplete
                            (dealer_selected)="dealerSelected($event)"
                            [initial_value]="selectedDealers"
                            [isDisabled]="isDealerUser"
                            [active_only]="true"
                            [field_label]="'Choose A Dealer'">
                        </app-dealer-autocomplete>

                        <ng-template #loadingDealers>
                            <div class="spinner-container d-flex align-items-center justify-content-between">
                                <h4>Loading dealers...</h4>
                                <app-spinner [diameter]="35"></app-spinner>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>

                <ng-container *ngIf="is_widget_feed; else feedUrl">
                    <mat-form-field class="full-width">
                        <mat-label>Widget Script</mat-label>
                        <textarea
                            matInput
                            placeholder="Paste your widget here"
                            formControlName="embeddedScript"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="10"
                            cdkAutosizeMaxRows="15">
                        </textarea>
                    </mat-form-field>
                </ng-container>

                <ng-template #feedUrl>
                    <div class="position-relative">
                        <mat-form-field class="full-width">
                            <mat-label>Feed URL</mat-label>
                            <input
                                matInput
                                formControlName="feedUrl"
                                matInput
                                type="text"
                                placeholder="URL needs to be working" />
                        </mat-form-field>
                        <div
                            *ngIf="isValidatingUrl"
                            class="spinner-container d-flex align-items-center justify-content-between position-absolute top-0 right-0">
                            <app-spinner [diameter]="35"></app-spinner>
                        </div>
                    </div>
                </ng-template>

                <ng-container *ngIf="!isWidgetFeed">
                    <div class="alert alert-success" *ngIf="!isInvalidUrl && !isDirectTechUrl">
                        <p class="sm-text font-weight-bold">Entered Feed URL is a supported format.</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="!isInvalidUrl && isDirectTechUrl">
                    <div class="alert alert-warning">
                        <p class="sm-text font-weight-bold">Entered Feed URL may be invalid.</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="isInvalidUrl">
                    <div class="alert alert-danger">
                        <p class="sm-text font-weight-bold">Feed URL Error! Possible reasons may be:</p>
                        <ul class="sm-text font-weight-bold pl-4">
                            <li>Incorrect Link</li>
                            <li>The feed URL does not start with "http" or "https"</li>
                        </ul>
                    </div>
                </ng-container>
            </div>
            <div class="d-flex flex-even align-items-center">
                <ng-container *ngIf="!isWidgetFeed; else submitFeedBtn">
                    <!-- FEED SUBMIT BTN (FOR NON-WIDGET FEEDS) -->
                    <button mat-button mat-raised-button class="theme-btn mr-2" [disabled]="invalidFeedData">
                        Submit
                    </button>
                </ng-container>
                <button mat-button mat-raised-button class="theme-btn btn-danger" [mat-dialog-close]="false">
                    Cancel
                </button>

                <ng-template #submitFeedBtn>
                    <!-- WIDGET FEED SUBMIT BTN -->
                    <button mat-button mat-raised-button class="theme-btn mr-2" [disabled]="invalidWidgetData">
                        Submit
                    </button>
                </ng-template>
            </div>
        </form>
    </ng-container>

    <ng-template #loading>
        <div class="py-5">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>

<ng-template #loadingDealers>
    <div class="spinner-container d-flex align-items-center justify-content-between">
        <h4>Loading dealers...</h4>
        <app-spinner [diameter]="35"></app-spinner>
    </div>
</ng-template>
