<div class="modal-default-content p-2">
    <ng-container *ngIf="!display_warning; else warning">
        <div class="assign-license-modal" *ngIf="!unassigning_licenses; else loader">
            <h3 class="mb-0">Unassign License</h3>
            <p class="sm-text mb-4">Check the licenses you want to unassign</p>

            <ul class="list-unstyled text-left license-list">
                <li *ngFor="let l of licenses" class="mb-2">
                    <mat-checkbox (change)="licenseSelected($event, l.licenseId)">
                        <strong class="sm-text">
                            {{ l.alias || l.licenseKey }}
                        </strong>
                    </mat-checkbox>
                </li>
            </ul>

            <button
                mat-button
                mat-raised-button
                mat-dialog-close
                class="theme-btn mr-2"
                color="warn">
                Cancel
            </button>

            <button
                mat-button
                mat-raised-button
                (click)="displayWarning()"
                class="theme-btn"
                [disabled]="to_unassign.length == 0"
                *ngIf="!unassigning_licenses; else unassigning">
                <span class="button-label">Unassign Licenses</span>
                <span class="fas fa-check"></span>
            </button>

            <ng-template #unassigning>
                <button mat-button mat-raised-button class="theme-btn mr-3" [disabled]="true">
                    Please Wait . . .
                </button>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #warning>
        <div class="p-4 text-center">
            <app-warning-animation></app-warning-animation>
            <h3 class="mb-1 mt-2">Unassign License</h3>
            <p class="mb-4 sm-text font-weight-md text-warning">
                This will remove all screen data associated with this license
            </p>
            <button
                mat-button
                mat-raised-button
                class="theme-btn mr-2"
                [mat-dialog-close]="false"
                color="warn">
                Cancel
            </button>
            <button mat-button mat-raised-button class="theme-btn" (click)="unassignLicense()">
                Continue
            </button>
        </div>
    </ng-template>

    <ng-template #loader>
        <div class="h-100 d-flex align-items-center justify-content-center wh-cstm py-5">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
