<div id="dma-tab-view">
	<div class="content">
		<div class="content-container">
			<div class="map-overlay">
				<agm-map class="vh-100" [latitude]="latitude" [longitude]="longitude" [fitBounds]="hasSelectedData" [maxZoom]="19">
                    <agm-marker id="{{ host.hostId }}" *ngFor="let host of dataHostLocations"
						(markerClick)="onClickMarkedHostLocation(host.hostId, window)" [latitude]="host.latitude" [longitude]="host.longitude"
						[agmFitBounds]="true" [iconUrl]="host.icon_url">
				
                        <agm-info-window [isOpen]="currentHostIdSelected == host.hostId" #window>
                            <h4 class="font-weight-bold">{{ host.hostName ? host.hostName : host.name }}</h4>
                            <div class="mt-2">
                                <tr>
                                    <th>
                                        <h5 class="font-weight-bold">Address:</h5>
                                    </th>
                                    <td class="mr-2">
                                        <h5>{{ host.address }}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5 class="font-weight-bold">Category:</h5>
                                    </th>
                                    <td>
                                        <h5>{{ host.category }}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pr-2">
                                        <h5 class="font-weight-bold">Operation Hours: </h5>
                                    </th>
                                    <td>
                                        <tr *ngFor="let schedule of host.storeHoursParsed">
                                            <th class="pr-4">
                                                <h5>{{ schedule.day }} </h5>
                                            </th>
                                            <span *ngIf="schedule.periods[0]; else close">
                                                <td *ngFor="let hrs of schedule.periods; let j = index">
                                                    <h5 *ngIf="j > 0"> & </h5>
                                                    <h5 *ngIf="hrs.open == '' && hrs.close =='' && schedule.status"> - Open 24 hours</h5>
                                                    <h5 *ngIf="hrs.open == '' && hrs.close =='' && !schedule.status"> - Closed</h5>
                                                    <h5 *ngIf="hrs.open != '' && hrs.close !=''">
                                                        {{hrs.open}} - {{ hrs.close }}
                                                    </h5>
                                                </td>
                                            </span>
                                            <ng-template #close>- CLOSED</ng-template>
                                        </tr>
                                    </td>
                                </tr>
                            </div>
                            <h6 class="coordinates mt-3"><i class="fas fa-map-marker"></i> {{host.latitude}},{{host.longitude}}</h6>
                        </agm-info-window>	
				    </agm-marker>
                </agm-map>

				<!-- SEARCH CONTAINER -->
				<div class="search-container">
					<div class="search-box pl-3 pt-2 pr-3">
						<ng-container *ngIf="isFormReady">
							<form [formGroup]="searchSelectForm">
								<div class="d-flex">
									<div class="search-input full-width">
										<mat-form-field class="full-width md-text">
											<mat-select #multi_select formControlName="list" [placeholder]="select_placeholder"
												[multiple]="true" disableOptionCentering>
                                                <div class="custom-panel">
                                                    <mat-option>
                                                        <ngx-mat-select-search noEntriesFoundLabel="No results"
                                                            formControlName="searchKeyword"
                                                            [placeholderLabel]="search_placeholder"
                                                            [clearSearchInput]="true" 
                                                            [searching]="isSearching"
                                                            class="md-text">
                                                            <mat-icon class="clear">close</mat-icon>
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <div *ngIf="isSearching"><mat-spinner></mat-spinner></div>
                                                    <mat-option *ngFor="let data of data_reference" [value]="data">
                                                        <div *ngIf="is_host">
                                                            {{data.hostName ? data.hostName : data.name}}
                                                        </div>
                                                        <div *ngIf="is_category">
                                                            {{data.category}}
                                                        </div>
                                                        <div *ngIf="is_state">
                                                            {{data.state}}
                                                        </div>
                                                    </mat-option>
                                                </div>
                                                <footer class="selection">
                                                    <button class="theme-btn _primary md-text mr-3" (click)="multi_select.close()">APPLY SELECTION</button>
                                                </footer>
											</mat-select>
				
										</mat-form-field>
									</div>
								</div>
							</form>
						</ng-container>
					</div>
				
					<div class="selected-dma p-3" *ngIf="currentList.length > 0">
						<div class="col-lg-12 d-flex p-0">
							<div class="col-lg-7 p-0 pb-1">
                                <h5>{{result_placeholder}}</h5>
                            </div>
                            <div class="col-lg-5 p-0 pb-1 text-right md-text f-500 text-danger clickable" (click)="onClearResult()">
                                <i class="far fa-times-circle mr-2"></i>
                                <span>CLEAR SELECTION</span>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex p-0">
							<ng-container *ngIf="currentList.length > 0">
								<div class="list-container d-flex align-items-start flex-wrap">
									<div *ngFor="let data of currentList; let i = index;" class="data-selected pl-2 pr-2 mr-2 mb-2 sm-text text-white bg-primary d-flex align-items-center">
										<div class="name" *ngIf="is_host">{{data.hostName ? data.hostName : data.name}}</div>
										<div class="name" *ngIf="is_category">{{data.category}}</div>
										<div class="name" *ngIf="is_state">{{data.state}}</div>
										<div class="remove-btn cursor-pointer" (click)="onDeselectResult(i)">
											<mat-icon>close</mat-icon>
										</div>
									</div>
								</div>
							</ng-container>
						</div>
				
					</div>
				
					<ng-container *ngIf="currentList.length > 0">
						<div class="selected-info p-3 mt-3">
                            <div class="col-lg-12 bg-white text-center sm-text p-3 mb-3">
                                <span class="text-primary font-weight-bold">{{mergeList.length}} <span class="text-gray">HOST(S)</span></span>
                                <span> | </span>
                                <span class="text-primary font-weight-bold">{{licenses_count}} <span class="text-gray">LICENSE(S)</span></span>
                                <br>
                                <span class="fas fa-circle xsm-text text-primary mr-2"></span>
                                <span class="text-primary font-weight-bold">{{online}} <span class="text-gray">ONLINE</span></span>
                                <span> | </span>
                                <span class="fas fa-circle xsm-text text-danger mr-2"></span>
                                <span class="text-danger font-weight-bold">{{offline}} <span class="text-gray">OFFLINE</span></span>
                            </div>
							<mat-accordion *ngIf="((is_host || is_category || is_state) && mergeList.length > 0)">
								<mat-expansion-panel *ngFor="let data of mergeList" class="mb-3">
									<mat-expansion-panel-header class="mt-2">
										<mat-panel-title class="md-text p-0" (click)="onClickHostName(data.hostId)">
                                            <div class="col-lg-1 p-0 mt-2 mr-2 ml-2 text-left">
                                                <img class="map-header-status" [src]="data.icon_url" alt="Status">
                                            </div>
											<div class="name font-weight-bold md-text">
												{{data.hostName ? data.hostName : data.name}}
											</div>
										</mat-panel-title>
										<mat-panel-description class="md-text p-0">
											<div class="total-hosts">
												<b>{{ data.totalLicenses }}</b> License(s)
											</div>
										</mat-panel-description>
									</mat-expansion-panel-header>
									<div class="expansion-panel-content full-width">
                                        <hr>
										<mat-list>
                                            <div class="col-lg-12 d-flex p-0">
                                                <div class="col-lg-6 p-0 sm-text">
                                                    <span class="font-weight-bold text-gray">DEALER</span>
                                                    <br>
                                                    {{data.businessName}}
                                                </div>
                                                <div class="col-lg-6 p-0 sm-text">
                                                    <span class="font-weight-bold text-gray">CATEGORY</span>
                                                    <br>
                                                    {{data.generalCategory}} > {{data.category}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 d-flex p-0">
                                                <div class="col-lg-6 p-0 sm-text">
                                                    <span class="font-weight-bold text-gray">STATE</span>
                                                    <br>
                                                    {{data.state}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 d-flex p-0">
                                                <span class="font-weight-bold text-gray sm-text mt-2">LICENSES</span>
                                            </div>
											<mat-list-item *ngFor="let license of data.licenses" class="name sm-text p-0">
												<div class="col-lg-12 d-flex p-0 xsm-text clickable" (click)="getLink('licenses', license.licenseId)">
                                                    <span [ngClass]="license.piStatus === 0 ? 'text-danger': 'text-primary'"><i class="fas fa-circle xsm-text mr-3"></i></span>{{license.licenseKey}}
                                                </div>
											</mat-list-item>
										</mat-list>
									</div>
								</mat-expansion-panel>
							</mat-accordion>
				
						</div>
					</ng-container>
				
				</div>
			</div>

		</div>
	</div>
</div>