#dma-tab-view {
	.content {

		.content-container	{
			.map-overlay {
				position: relative;
			}

			.search-container {
				position: absolute;
				height: 600px;
				top: 10px;
				left: 10px;
				z-index: 99;
				width: 400px;
				padding-bottom: 10px;
				overflow-y: auto;

				.search-box {
					background-color: rgba(255,255,255, 0.8);
				}

				.selected-dma {
					background-color: white;

					.data-selected {
						border-radius: 5px;
						border: 1px solid gray;

						.remove-btn {
							text-align: center;
					
							mat-icon {
								font-size: 12px;
								line-height: 25px;
							}
						}
					}
				}

				.selected-info {
					background-color: rgba(255,255,255, 0.5);

					.total-hosts {
						margin-left: auto;
					}
				}
			}

		}
	}
}

img {
    position: absolute;
    left: -5px;
    top: -8px;
    width: 20px;
}