<div class="theme-container">
    <div class="row table-row">
        <div class="col-lg-4 p-0 mb-3">
            <button mat-button mat-raised-button 
                class="theme-btn pi-control _primary sm-text mr-2" 
                (click)="exportTable()"
                [disabled]="workbook_generation"
                title="Export Table to CSV">
                <span class="{{!workbook_generation ? 'fas fa-file-excel' : 'fas fa-spinner'}}"></span> 
                <span class="ml-2 button_text_animation">{{!workbook_generation ? 'Export' : 'Generating CSV'}}</span>
            </button>
        </div>
    </div>
    <div class="row table-row bg-white pt-3">
        <div class="col-lg-12 flex mb-5" *ngIf="is_loading; else spinner">
            <app-data-table id="billingTable" class="full-width" 
				[table_columns]="billings_table_column" 
				[table_data]="billing_data"
				[new_table]="true"
				[paging_details]="alldealervalues_paging"
				(page_triggered)="getAllDealerBillings($event)"
                [ctrl_column]="true"
				[ctrl_column_label]="'Auto Charge'"
				[ctrl_toggle]="true"
				(toggle_triggered)="toggleCharge($event)"
				(update_info)="reloadBilling()"
                [billing_action]="true"
                [is_view_only]="true">
            </app-data-table>
        </div>
    </div>
</div>

<ng-template #spinner>
    <div class="py-5 col-lg-12 text-center">
        <app-spinner [diameter]="85"></app-spinner>
    </div>
</ng-template>