.loader-overlay {
    background-color: rgba(#fff, 0.8);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.demo-container {
    border-radius: 5px;
    background-color: #000000;
    box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    overflow: hidden;

    app-playlist-demo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        height: 100%;
    }

    img,
    iframe,
    video {
        height: 100%;
        object-fit: contain;
    }
}

.playlist-host-license-expand {
    padding-right: 15px;
    overflow-y: scroll;
    min-height: 300px;
    max-height: 500px;
    position: relative;

    &.overlay {
        overflow: hidden;
    }
}

.load_overlay {
    background-color: #fff;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 500px;
}
