.image-container {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.select-image-button {
    flex-basis: 25%;
    font-size: 12px;
    max-width: 160px;
}

.flex-basis-80 {
    flex-basis: 80%;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.business-profile-image {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    z-index: 7;
    top: 15px;
    left: 15px;
}

.google-result-close-wrapper {
    z-index: 7;
    border-radius: 5px;
    background: #c6c4c4;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    button {
        color: #ffffff;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 1px;
    }
}

::ng-deep .no-spinners::-webkit-inner-spin-button,
::ng-deep .no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
