<div class="theme-container">
	<div class="title-section">
		<h1 class="page-title">{{ title }}</h1>
		<hr class="my-4" />
	</div>

	<div class="content-section">
		<div class="row">
			<div class="col-lg-6">
				<mat-card class="p-5">
					<ng-container *ngIf="is_page_ready; else loading">
						<h3 class="mb-1">Host Information</h3>
						<p class="sm-text mb-4">You can fill on the forms manually or search all these information via Google Scrape.</p>
						<form [formGroup]="new_host_form" (ngSubmit)="onCreateHostPlace()" class="text-left">
							<div class="row mb-4">
								<div class="col-lg-12 mb-3">
									<app-autocomplete-field
										(data_value)="setToDealer($event)"
										(call_next_page)="searchBoxTrigger($event)"
										(searched)="searchDealer($event)"
										[data_reference]="dealers_data"
										[primary_keyword]="'businessName'"
										[key_of_value]="'dealerId'"
										[required]="true"
										[label]="'Type in a Dealer Business Name'"
										[initial_value]="dealer_name"
										[new_value]="dealer_name"
										[disabled]="is_dealer"
										[paging]="paging"
										[loading_data]="loading_data"
										[loading_search]="loading_search">
									</app-autocomplete-field>
								</div>
								<div *ngFor="let field of new_host_form_fields" class="{{ field.col }} mb-3">
									<mat-form-field
										*ngIf="!field.autocomplete && !field.checkbox; else custom_field"
										[hideRequiredMarker]="false"
										[floatLabel]="'auto'"
										class="full-width">
										<mat-label>{{ field.label }}</mat-label>
										<input
											matInput
											[formControlName]="field.control"
											[placeholder]="field.placeholder"
											[required]="field.is_required" />
									</mat-form-field>

									<ng-template #custom_field>
										<div *ngIf="field.control == 'is_canada'">
											<mat-checkbox (change)="getCanadaAddress($event)">Canada Address</mat-checkbox>
										</div>

										<app-autocomplete-field
											*ngIf="field.control == 'category' && !no_category; else no_category_selected"
											(data_value)="setToCategory($event)"
											[data_reference]="categories_data"
											[primary_keyword]="'categoryName'"
											[key_of_value]="'categoryName'"
											[required]="field.is_required"
											[label]="field.label"
											[initial_value]="category_selected">
										</app-autocomplete-field>

										<app-autocomplete-field
											*ngIf="field.control == 'category2' && !no_category2; else no_category_selected2"
											(data_value)="setToGeneralCategory($event)"
											[data_reference]="gen_categories_data"
											[primary_keyword]="'generalCategory'"
											[key_of_value]="'generalCategory'"
											[required]="false"
											[label]="field.label"
											[initial_value]="category_selected"
											[disabled]="true">
										</app-autocomplete-field>

										<app-autocomplete-field
											*ngIf="field.control === 'city'"
											(data_value)="setCity($event)"
											[key_of_value]="'city_state'"
											[placeholder]="field.placeholder"
											[label]="field.label"
											[data_reference]="city_state"
											[search_keyword]="'city_state'"
											[primary_keyword]="'city_state'"
											[new_value]="city_selected"
											[initial_value]="city_selected">
										</app-autocomplete-field>

										<ng-template #no_category_selected>
											<mat-form-field
												*ngIf="field.control === 'category'"
												[hideRequiredMarker]="false"
												[floatLabel]="'auto'"
												class="full-width">
												<mat-label>Choose Category</mat-label>
												<input matInput formControlName="category" placeholder="Category" [required]="field.is_required" />
											</mat-form-field>
										</ng-template>

										<ng-template #no_category_selected2>
											<mat-form-field
												*ngIf="field.control === 'category2'"
												[hideRequiredMarker]="false"
												[floatLabel]="'auto'"
												class="full-width">
												<mat-label>Choose General Category</mat-label>
												<input
													matInput
													formControlName="category2"
													placeholder="General Category"
													[required]="false"
													[disabled]="true" />
											</mat-form-field>
										</ng-template>

										<app-autocomplete-field
											*ngIf="field.control == 'timezone'"
											(data_value)="setTimezone($event)"
											[data_reference]="timezone"
											[primary_keyword]="'name'"
											[key_of_value]="'id'"
											[required]="field.is_required"
											[label]="field.label">
										</app-autocomplete-field>
									</ng-template>
								</div>
								<div class="col-lg-12">
									<div class="d-flex align-items-center justify-content-between">
										<div class="heading">
											<h3 class="mb-1">Business Hours</h3>
											<p class="mb-4 sm-text">Click the letter of the corresponding day to set business hours</p>
										</div>
										<button mat-button mat-raised-button class="theme-btn bulk-edit" type="button" (click)="onBulkAddHours()">
											Bulk Add
										</button>
									</div>

									<div class="d-flex align-items-center mb-4" *ngFor="let h of operation_days">
										<div class="round-label mr-3" (click)="onSelectDay(h)" [ngClass]="h.status ? 'active' : ''">
											<span class="font-weight-bold">{{ h.label }}</span>
										</div>

										<div class="flex-even">
											<ng-container *ngIf="!is_always_open; else always_open">
												<ng-container *ngIf="h.status; else closed">
													<div class="mb-3" *ngFor="let t of h.periods; let i = index">
														<div class="d-flex align-items-center">
															<div class="mr-3">
																<div class="time-picker">
																	<mat-label class="sm-text">Opening Hours</mat-label>
																	<ngb-timepicker
																		[(ngModel)]="t.openingHourData"
																		[spinners]="false"
																		[meridian]="true"
																		[ngModelOptions]="{ standalone: true }"></ngb-timepicker>
																</div>
																<div class="d-inline-block mx-3">
																	<span>--</span>
																</div>
																<div class="time-picker">
																	<mat-label class="sm-text">Closing Hours</mat-label>
																	<ngb-timepicker
																		[(ngModel)]="t.closingHourData"
																		[spinners]="false"
																		[meridian]="true"
																		[ngModelOptions]="{ standalone: true }"></ngb-timepicker>
																</div>
															</div>
															<div class="flex-even add-remove-btn" *ngIf="h.periods.length > 1">
																<span class="remove-hours-btn" (click)="removeHours(h, i)">
																	<span class="fas fa-times"></span>
																</span>
															</div>
														</div>
													</div>
													<div>
														<span class="add-hours-btn" (click)="addHours(h)">
															Add Hours
															<span class="fas fa-plus ml-2"></span>
														</span>
													</div>
												</ng-container>

												<ng-template #closed>
													<h5 class="text-muted">Closed on {{ getFullDayName(h.label) }}</h5>
												</ng-template>
											</ng-container>
										</div>

										<ng-template #always_open>
											<h5 class="text-muted">Open 24 Hours, 7 Days a Week</h5>
										</ng-template>
									</div>
								</div>
							</div>
							<button mat-button mat-raised-button class="theme-btn mr-2" [disabled]="new_host_form.invalid || is_creating_host">
								{{ is_creating_host ? 'Saving Host Place...' : 'Submit' }}
							</button>
						</form>
					</ng-container>

					<ng-template #loading>
						<div class="py-5">
							<app-spinner></app-spinner>
						</div>
					</ng-template>
				</mat-card>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-between p-0">
					<div class="flex-basis-auto p-0" *ngIf="is_admin">
						<ng-container>
							<div class="d-flex flex-column align-items-center p-0 pt-4">
								<div class="image-container text-center">
									<img [src]="current_host_image" class="w-100-px h-100-px br-100" alt="admin" />
								</div>
								<button
									mat-raised-button
									class="mt-1 select-image-button"
									color="primary"
									(click)="onChoosePhotos()"
									[disabled]="!place_id">
									Choose image
								</button>
							</div>
						</ng-container>
					</div>
					<div class="p-0" [ngClass]="is_admin ? 'flex-basis-80' : 'flex-basis-100'" [class.pt-5]="is_admin">
						<label for="ng-scrape-form" class="pt-4 mb-3">Enter a Business Name</label>
						<div class="ng-form pt-1">
							<form [formGroup]="google_place_form" (ngSubmit)="onSearchBusiness()">
								<div class="d-flex">
									<input
										formControlName="location"
										autocomplete="off"
										type="text"
										name="ng-scrape-form"
										class="ng-input-form no-border full-width no-outline"
										placeholder="Business Name" />
									<button
										class="google-search-field-btn no-border right-0"
										[ngClass]="location_field ? 'disabled' : ''"
										[disabled]="location_field">
										<span class="fas fa-search"></span>
									</button>
								</div>
							</form>
							<div class="location-candidates material-shadow" *ngIf="location_candidate_fetched">
								<ul *ngIf="google_result.length != 0; else loading">
									<li *ngFor="let loc of google_result" (click)="plotToMap(loc)">
										<div class="d-flex align-items-center">
											<div class="mr-3">
												<span class="fas fa-map-marker-alt text-danger"></span>
											</div>
											<div class="flex-even">
												<h5>{{ loc.result.name }}</h5>
												<p class="sm-text mb-0">{{ loc.result.formatted_address | titlecase }}</p>
											</div>
										</div>
									</li>
								</ul>
								<ng-template #loading>
									<div class="bg-light py-5" *ngIf="!no_result">
										<app-spinner></app-spinner>
									</div>
									<div class="bg-light py-5" *ngIf="no_result">
										<span class="pl-3"> No Results Found. </span>
									</div>
								</ng-template>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 p-0 map-wrapper mt-3">
					<agm-map class="height-100" [latitude]="lat" [longitude]="lng" [fitBounds]="location_selected" [maxZoom]="19">
						<agm-marker
							*ngIf="selected_location"
							[latitude]="selected_location.geometry.location.lat"
							[longitude]="selected_location.geometry.location.lng"
							[agmFitBounds]="true">
						</agm-marker>
					</agm-map>
				</div>
			</div>
		</div>
	</div>
</div>
