<div *ngIf="!searching_licenses; else loader">
    <div class="p-0 contents mt-3" *ngIf="!no_licenses_result || !no_favorites; else nodata">
        <!-- FAVORITES SECTION -->
        <div class="row p-0 m-0" *ngIf="!no_favorites && favorite_view">
            <div class="col-lg-12 mt-2 mb-3 d-flex p-0 flex-wrap" *ngIf="favorites_list.length > 0">
                <span class="text-primary col-lg-12 mb-2">FAVORITES:</span>
                <div class="col-lg-2 mb-3" *ngFor="let license of favorites_list">
                    <div class="col-lg-12 image-holder p-0">
                        <img [src]="formulateScreenshotURL(license.screenshotUrl)" *ngIf="license.screenshotUrl != ''; else defaultScreenshot" height="150px" width="100%">
                        <ng-template #defaultScreenshot>
                            <div class="full-width screenshot-holder" style="background-image: url('assets/media-files/no-ss.png');">
                            </div>
                        </ng-template>
                        <div class="position-absolute top-0 right-0 pr-3 pt-2 h-150 z-index-5 clickable">
                            <div class="full-width pl-2 clickable favorites-container for-shadowing" (click)="removeToFavorites(license)">
                                <i class="fas fa-star favorites for-sha" title="Remove from Favorites"></i>
                            </div>
                        </div>
                        <div class="grid-details position-absolute top-0 pt-2 pl-0 full-width h-150">
                            <div class="full-width p-0 pl-2 for-shadowing">
                                <i class="fas fa-circle" [ngClass]="checkStatus(license)"></i>
                            </div>
                            <div class="full-width p-0 pl-2 for-shadowing">
                                <i class="fas fa-tv" title="{{license.displayStatus === 0 ? 'Display Off' : 'Display On'}}" [ngClass]="license.displayStatus === 0 ? 'text-danger' : 'text-primary'"></i>
                            </div>
                            <div class="mt-4 col-lg-12 d-flex p-0 bottom-0 sm-text text-white black-opacity z-index-10 license-details">
                                <div class="col-lg-11 p-0 text-center">
                                    <b><span class="sm-text clickable hover-primary" (click)="navigateToAlias(license.licenseId)" title="{{license.alias ? license.alias : license.licenseKey}}">{{license.alias ? (license.alias.length > 20) ? (license.alias | slice:0:20) + '...' : (license.alias) : (license.licenseKey.length > 20) ? (license.licenseKey | slice:0:20) + '...' : (license.licenseKey)}}</span></b>
                                    <br>
                                    <span class="xsm-text">
                                        <span *ngIf="dealers_name == ''" (click)="navigateToDealer(license.dealerId)" class="clickable hover-primary" title="license.businessName">{{license.businessName ? (license.businessName.length > 10) ? (license.businessName | slice:0:10) + '...' : (license.businessName) : ''}} / </span> 
                                        <span *ngIf="dealers_name != ''" title="{{dealers_name}}">{{dealers_name ? (dealers_name.length > 10) ? (dealers_name | slice:0:10) + '...' : (dealers_name) : ''}} / </span>
                                        <span class="clickable hover-primary" (click)="navigateToHost(license.hostId)" *ngIf="license.hostName; else nohost" title="{{license.hostName ? license.hostName : ''}}">{{license.hostName ? (license.hostName.length > 15) ? (license.hostName | slice:0:15) + '...' : (license.hostName) : 'No Host Assigned'}}</span>
                                    </span>
                                    <span *ngIf="license.screenshotUrl != ''">
                                        <br>
                                        <span class="xsm-text">{{ license.screenshotUrl | screenshot }}</span>
                                    </span>
                                </div>
                                <div class="col-lg-1 p-0 text-center">
                                    <span mat-button mat-raised-button [matMenuTriggerFor]="gridView" title="Show Options" class="hidden-button no-background text-white clickable">
                                        <span class="fas fa-ellipsis-v for-shadowing f-20 pt-4"></span>
                                    </span>
                                    <mat-menu #gridView="matMenu">
                                        <button class="md-text" mat-menu-item (click)="copyToClipboard(license.licenseKey)">Copy License Key</button>
                                        <button class="md-text" mat-menu-item (click)="copyToClipboard(license.anydeskId)">Copy AnyDesk ID</button>
                                        <button class="md-text" mat-menu-item (click)="copyToClipboard(getAnydeskPassword(license.licenseId))">Copy Password</button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0">
            <div class="col-lg-12 mt-2 mb-3 d-flex flex-wrap">
                <span class="text-primary col-lg-12 mb-2">NON-FAVORITES:</span>
                <div class="col-lg-2 mb-3" *ngFor="let license of license_data_for_grid_view">
                    <div class="col-lg-12 image-holder p-0">
                        <img [src]="formulateScreenshotURL(license.screenshotUrl)" *ngIf="license.screenshotUrl != ''; else defaultScreenshot" height="150px" width="100%">
                        <ng-template #defaultScreenshot>
                            <div class="full-width screenshot-holder" style="background-image: url('assets/media-files/no-ss.png');">
                            </div>
                        </ng-template>
                        <div class="position-absolute top-0 right-0 pr-3 pt-2 h-150 z-index-5 clickable">
                            <div class="full-width p-0 pl-2 clickable favorites-container for-shadowing" (click)="addToFavorites(license.licenseId)">
                                <i class="fas fa-star text-light-gray for-sha" title="Add to Favorites"></i>
                            </div>
                        </div>
                        <div class="grid-details position-absolute top-0 pt-2 pl-0 full-width h-150">
                            <div class="full-width p-0 pl-2 for-shadowing">
                                <i class="fas fa-circle" [ngClass]="checkStatus(license)"></i>
                            </div>
                            <div class="full-width p-0 pl-2 for-shadowing">
                                <i class="fas fa-tv" title="{{license.displayStatus === 0 ? 'Display Off' : 'Display On'}}" [ngClass]="license.displayStatus === 0 ? 'text-danger' : 'text-primary'"></i>
                            </div>
                            <div class="mt-4 full-width d-flex p-0 bottom-0 sm-text text-white black-opacity z-index-10 license-details">
                                <div class="col-lg-11 p-0 text-center">
                                    <b><span class="sm-text clickable hover-primary" (click)="navigateToAlias(license.licenseId)" title="{{license.alias ? license.alias : license.licenseKey}}">{{license.alias ? (license.alias.length > 20) ? (license.alias | slice:0:20) + '...' : (license.alias) : (license.licenseKey.length > 20) ? (license.licenseKey | slice:0:20) + '...' : (license.licenseKey)}}</span></b>
                                    <br>
                                    <span *ngIf="dealers_name == ''" (click)="navigateToDealer(license.dealerId)" class="hover-primary clickable xsm-text" title="license.businessName">{{license.businessName ? (license.businessName.length > 10) ? (license.businessName | slice:0:10) + '...' : (license.businessName) : ''}} / </span> 
                                    <span *ngIf="dealers_name != ''" title="{{dealers_name}}" class="xsm-text">{{dealers_name ? (dealers_name.length > 10) ? (dealers_name | slice:0:10) + '...' : (dealers_name) : ''}} / </span>
                                    <span class="clickable xsm-text hover-primary" (click)="navigateToHost(license.hostId)" *ngIf="license.hostName; else nohost" title="{{license.hostName ? license.hostName : ''}}">{{license.hostName ? (license.hostName.length > 15) ? (license.hostName | slice:0:15) + '...' : (license.hostName) : 'No Host Assigned'}}</span>
                                    <span *ngIf="license.screenshotUrl != ''">
                                        <br>
                                        <span class="xsm-text">{{ license.screenshotUrl | screenshot }}</span>
                                    </span>
                                </div>
                                <div class="col-lg-1 p-0 text-center">
                                    <span mat-button mat-raised-button [matMenuTriggerFor]="gridView" title="Show Options" class="hidden-button no-background text-white clickable">
                                        <span class="fas fa-ellipsis-v for-shadowing f-20 pt-4"></span>
                                    </span>
                                    <mat-menu #gridView="matMenu">
                                        <button class="md-text" mat-menu-item (click)="copyToClipboard(license.licenseKey)">Copy License Key</button>
                                        <button class="md-text" mat-menu-item (click)="copyToClipboard(license.anydeskId)">Copy AnyDesk ID</button>
                                        <button class="md-text" mat-menu-item (click)="copyToClipboard(getAnydeskPassword(license.licenseId))">Copy Password</button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center p-0 mt-3" *ngIf="paging_data_licenses.hasNextPage">
        <button class="text-white p-3 bg-primary btn md-text pl-5 pr-5" (click)="showMore(paging_data_licenses.page + 1, 24)" [disabled]="searching_licenses">
            <span>SHOW MORE</span>
        </button>
    </div>
</div>

<ng-template #nohost>
    <span class="xsm-text">
        <i>No Host Assigned</i>
    </span>
</ng-template>

<ng-template #loader>
    <div class="py-4 white-bg h-500">
        <app-spinner></app-spinner>
    </div>
</ng-template>

<ng-template #nodata>
    <div class="col-lg-12 pl-0 pr-0">
        <mat-card class="pt-5 pb-5 col-lg-12 text-center">
            <div class="mb-4">
                <i class="text-gray fa-5x far fa-file-alt"></i>
            </div>
            <h3 class="text-gray col-lg-12">No Results Found.</h3>
            <span class="text-gray col-lg-12">Try adjusting your search or filter to find what you're looking for.</span>
        </mat-card>
    </div>
</ng-template>