<div id="news-form" class="news-form">
    <form [formGroup]="newsForm">
        <div class="row mb-2">
            <div *ngFor="let n of newsFormFields" class="{{ n.width }}">
                <mat-form-field class="full-width mb-2" appearance="fill" *ngIf="!n.viewType">
                    <mat-label>{{ n.label }}</mat-label>
                    <input
                        matInput
                        formControlName="{{ n.formControlName }}"
                        [type]="n.type"
                        [required]="n.required"
                        autocomplete="off" />
                </mat-form-field>

                <div
                    class="full-width bg-gray mb-4 position-relative overflow-hidden upload-image-field"
                    appearance="fill"
                    *ngIf="n.viewType == 'upload'">
                    <img [src]="n.imageUri || '/assets/media-files/placeholder.png'" alt="Selected Image" />
                    <span class="sm-text label-when-filled" *ngIf="n.fileName">{{ n.label }}</span>
                    <p class="filename" [ngClass]="n.fileName ? 'filled' : ''" [title]="n.fileName">
                        {{ n.fileName ? (n.fileName | substring: 18) : '' || n.label }}
                    </p>
                    <button
                        *ngIf="n.fileName"
                        class="remove-button"
                        (click)="$event.preventDefault(); removeSelectedMedia(n.formControlName)">
                        <span class="fas fa-times"></span>
                    </button>
                    <button
                        class="upload-button"
                        (click)="$event.preventDefault(); openMediaLibraryModal(n.formControlName)">
                        <span class="fas fa-camera"></span>
                    </button>
                </div>

                <mat-form-field
                    class="full-width content-filter-dropdown"
                    appearance="fill"
                    *ngIf="n.viewType == 'select'">
                    <mat-label>{{ n.label }}</mat-label>
                    <mat-select formControlName="{{ n.formControlName }}" [disabled]="isMarking">
                        <mat-option *ngFor="let filter of n.options" [value]="filter.label">
                            {{ filter.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    class="full-width position-relative mb-2"
                    appearance="fill"
                    *ngIf="n.viewType == 'colorpicker'">
                    <mat-label>{{ n.label }}</mat-label>

                    <input
                        matInput
                        autocomplete="off"
                        formControlName="{{ n.formControlName }}"
                        [type]="n.type"
                        [(colorPicker)]="n.colorValue"
                        (colorPickerChange)="setColor(n.colorValue, n.formControlName)"
                        [cpAlphaChannel]="'enabled'"
                        [cpDisableInput]="true"
                        [value]="n.colorValue || ''" />

                    <div class="color-showcase position-absolute" [style.background]="n.colorValue"></div>
                </mat-form-field>

                <div class="error-message">
                    <p class="sm-text m-0"></p>
                </div>
            </div>
        </div>

        <!-- LOADER/SPINNER FOR FEED URL CHANGES -->
        <ng-container *ngIf="isCheckingUrl; else showUrlCheckResults">
            <div class="spinner-container d-flex justify-content-between mb-2">
                <app-spinner [diameter]="35" [message]="checkFeedUrlText"></app-spinner>
            </div>
        </ng-container>

        <!-- FEED URL CHECKING RESULTS -->
        <ng-template #showUrlCheckResults>
            <ng-container *ngIf="!isInitialUrlCheck">
                <div class="alert" [ngClass]="getAlertClass()">
                    <p class="sm-text font-weight-bold">
                        <ng-container *ngIf="!feedUrlHasValue">URL is required!</ng-container>
                        <ng-container *ngIf="feedUrlHasValue && !hasValidUrlFormat">
                            Invalid format. Please check the URL provided.
                        </ng-container>
                        <ng-container *ngIf="validUrlNoAccess">
                            The URL may not be accessible. Please ensure that it can be accessed via the browser.
                        </ng-container>
                        <ng-container *ngIf="validUrl"> URL is valid </ng-container>
                    </p>
                </div>
            </ng-container>
        </ng-template>

        <button
            mat-button
            mat-raised-button
            matStepperNext
            class="theme-btn"
            (click)="generateNewsFeed()"
            [disabled]="isFormInvalid">
            Next <span class="fas fa-long-arrow-right"></span>
        </button>
    </form>
</div>
