<div class="theme-container">
    <div class="row justify-content-center">
        <div class="col-lg-10 pt-5">
            <mat-card class="p-5">
                <h1 class="mb-2 text-center page-title">{{ title }}</h1>
                <p class="mb-5 text-center font-weight-md sm-text"> 
                    Create your own feeds, choose your images and set what texts to display.
                </p>

                <mat-horizontal-stepper #stepper *ngIf="(dealers && feed_types) || fetched_feed; else spinner" linear (selectionChange)="selectionChange($event)">
                    <!-- Begin: Step 1 -->
                    <mat-step>
                        <div class="row justify-content-center pt-4">
                            <div class="col-lg-8">
                                <app-feed-info
                                [feed_types]="feed_types"
                                [dealers]="dealers"
                                [is_dealer]="is_dealer"
                                (feed_info)="prepareFeedInfo($event)">
                                </app-feed-info>
                            </div>
                        </div>
                        <ng-template matStepLabel>Feed Information</ng-template>
                    </mat-step>
                    <!-- End: Step 1 -->

                    <!-- Begin: Step 2 -->
                    <mat-step>
                        <ng-template matStepLabel>Feed Content</ng-template>

                        <!-- Begin: Slider Form -->
                        <div class="bg-gray mt-5 p-4" *ngIf="feed_info && setSelectedFeedType(feed_info.feedTypeId) === 'Slide Feed'">
                            <app-slider-form 
                            *ngIf="selected_dealer" 
                            (structured_feed_items)="structureSlideFeedToGenerate($event)"
                            [feed_items]="feed_items"
                            [selected_dealer]="selected_dealer">
                            </app-slider-form>
                        </div>
                        <!-- End: Slider Form -->

                        <!-- Begin: Weather Maker -->
                        <div class="mt-5" *ngIf="feed_info && setSelectedFeedType(feed_info.feedTypeId) === 'Weather Feed'">
                            <app-weather-form 
                            (weather_feed_data)="structureWeatherFeedToGenerate($event)"
                            [selected_dealer]="selected_dealer">
                            </app-weather-form>
                        </div>
                        <!-- End: Weather Maker -->
                    </mat-step>

                    <!-- Begin: Step 4 -->
                    <mat-step>
                        <ng-template matStepLabel>Preview and Save</ng-template>
                        <div *ngIf="feed_items.length > 0 || generated_weather_feed; else no_feed_content">
                            <div class="row mb-5 mt-5">
                                <div class="col-lg-12 text-center">
                                    <h3>Here's a preview of your customized feed.</h3>
                                    <p class="sm-text">You can edit your generated feed by going back one step above.</p>
                                </div>
                            </div>
    
                            <div class="row justify-content-center" *ngIf="selected_index === 2">
                                <div class="col-lg-8 position-relative">

                                    <div class="loading-overlay" *ngIf="saving">
                                        <app-spinner [diameter]="70"></app-spinner>
                                    </div>

                                    <!-- Begin: Slide Feed Demo -->
                                    <app-feed-demo 
                                    *ngIf="generated_slide_feed && setSelectedFeedType(feed_info.feedTypeId) === 'Slide Feed'"
                                    [global_settings]="generated_feed.feedGlobalSettings"
                                    [feed_items]="feed_items"></app-feed-demo>
                                    <!-- End: Slide Feed Demo -->

                                    <!-- Begin: Weather Feed Demo -->
                                    <app-weather-demo
                                    *ngIf="generated_slide_feed && setSelectedFeedType(feed_info.feedTypeId) === 'Weather Feed'">
                                    </app-weather-demo>
                                    <!-- End: Weather Feed Demo -->

                                    <button *ngIf="feed_items.length > 0" mat-button mat-raised-button class="theme-btn mt-4" (click)="saveGeneratedFeed()" [disabled]="saving">Save</button>
                                </div>
                            </div>
                        </div>
                    </mat-step>
                    <!-- End: Step 4 -->
                </mat-horizontal-stepper>

                <ng-template #no_feed_content>
                    <div class="bg-gray p-5 text-center mt-5">
                        <h3>No Feed Items Available, Go Back to Step 2 - Feed Content</h3>
                    </div>
                </ng-template>

                <ng-template #no_dealer_selected>
                    <div class="bg-gray p-5 text-center mt-5">
                        <h3>Feed information is not valid, Go Back to Step 1 - Feed Information</h3>
                    </div>
                </ng-template>

                <ng-template #spinner>
                    <div class="py-5">
                        <app-spinner></app-spinner>
                    </div>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>