<div class="theme-container" id="generate-feed-page">
    <div class="row justify-content-center">
        <div class="col-lg-12 pt-5">
            <mat-card class="p-5">
                <h1 class="mb-2 text-center page-title">{{ title }}</h1>
                <p class="mb-5 text-center font-weight-md sm-text">
                    Create your own feeds, choose your images and set what texts to display.
                </p>

                <mat-horizontal-stepper
                    #stepper
                    *ngIf="(dealers && feed_types) || fetched_feed; else spinner"
                    linear
                    (selectionChange)="selectionChange($event)">
                    <!-- Begin: Step 1 -->
                    <mat-step>
                        <ng-template matStepLabel>Feed Information</ng-template>

                        <div class="row justify-content-center pt-4">
                            <div class="col-lg-8">
                                <ng-container *ngIf="dealers && dealers.length > 0; else spinner">
                                    <app-feed-info
                                        (formChanges)="onFormChanges($event)"
                                        [feed_types]="feed_types"
                                        [fetched_feed]="fetched_feed"
                                        [dealers]="dealers"
                                        [is_dealer]="is_dealer"
                                        [editing]="editing"
                                        (feed_info)="prepareFeedInfo($event)">
                                    </app-feed-info>
                                </ng-container>
                            </div>
                        </div>
                    </mat-step>
                    <!-- End: Step 1 -->

                    <!-- Begin: Step 2 -->
                    <mat-step>
                        <ng-template matStepLabel>Feed Content</ng-template>

                        <!-- Begin: Slider Form -->
                        <div
                            class="bg-gray mt-5 p-4"
                            *ngIf="
                                feed_info &&
                                setSelectedFeedType(feed_info.feedTypeId) === 'Slide Feed'
                            ">
                            <app-slider-form
                                (structured_slide_feed)="structureSlideFeedToGenerate($event)"
                                [banner_image_data]="
                                    fetched_feed ? fetched_feed.bannerImageData : null
                                "
                                [global_settings]="slide_global_settings"
                                [feed_items]="feed_items"
                                [selected_dealer]="selected_dealer">
                            </app-slider-form>
                        </div>
                        <!-- End: Slider Form -->

                        <!-- Begin: Weather Maker -->
                        <div
                            class="mt-5"
                            *ngIf="
                                feed_info &&
                                setSelectedFeedType(feed_info.feedTypeId) === 'Weather Feed'
                            ">
                            <app-weather-form
                                (weather_feed_data)="structureWeatherFeedToGenerate($event)"
                                [edit_weather_data]="fetched_feed ? fetched_feed.feedWeather : null"
                                [selected_dealer]="selected_dealer">
                            </app-weather-form>
                        </div>
                        <!-- End: Weather Maker -->

                        <!-- Begin: News Maker -->
                        <div
                            class="mt-5"
                            *ngIf="
                                feed_info && setSelectedFeedType(feed_info.feedTypeId) === 'News'
                            ">
                            <app-news-form
                                (news_feed_data)="structureNewsFeedToGenerate($event)"
                                [edit_news_data]="fetched_feed ? fetched_feed.feedNews : null"
                                [selected_dealer]="selected_dealer">
                            </app-news-form>
                        </div>
                        <!-- End: News Maker -->

                        <!-- Begin: Filler Maker -->
                        <div
                            class="mt-5"
                            *ngIf="
                                feed_info && setSelectedFeedType(feed_info.feedTypeId) === 'Fillers'
                            ">
                            <app-filler-form
                                (filler_data)="structureFillerFeedToGenerate($event)"
                                [filler_global_settings]="
                                    fetched_feed ? fetched_feed.fillerGlobalSettings : null
                                "
                                [filler_items_structured]="
                                    fetched_feed ? fetched_feed.feedFillers : []
                                "
                                [selected_dealer]>
                            </app-filler-form>
                        </div>
                        <!-- End: Filler Maker -->
                    </mat-step>
                    <!-- End: Step 2 -->

                    <!-- Begin: Step 4 -->
                    <mat-step>
                        <ng-template matStepLabel>Preview and Save</ng-template>
                        <div
                            *ngIf="
                                feed_items.length > 0 ||
                                    generated_weather_feed ||
                                    generated_news_feed ||
                                    generated_filler_feed;
                                else no_feed_content
                            ">
                            <div class="row mb-5 mt-5">
                                <div class="col-lg-12 text-center">
                                    <h3 class="mb-1">Here's a preview of your customized feed.</h3>
                                    <p class="sm-text">
                                        This is just a demo to see the styles applied. Save this
                                        feed to see it live with animations. You can edit your
                                        generated feed by going back one step above.
                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center" *ngIf="selected_index === 2">
                                <div class="col-lg-8 position-relative text-center">
                                    <div class="loading-overlay" *ngIf="saving">
                                        <app-spinner [diameter]="70"></app-spinner>
                                    </div>

                                    <!-- Begin: Slide Feed Demo -->
                                    <ng-container
                                        *ngIf="
                                            generated_slide_feed &&
                                            setSelectedFeedType(feed_info.feedTypeId) ===
                                                'Slide Feed'
                                        ">
                                        <app-feed-demo
                                            [banner_image_data]="selected_banner_image"
                                            [global_settings]="
                                                generated_slide_feed.feedGlobalSettings
                                            "
                                            [feed_items]="feed_items">
                                        </app-feed-demo>

                                        <button
                                            mat-button
                                            mat-raised-button
                                            class="theme-btn mt-4"
                                            (click)="saveGeneratedSlideFeed()">
                                            Save Slide Feed
                                        </button>
                                    </ng-container>
                                    <!-- End: Slide Feed Demo -->

                                    <!-- Begin: Weather Feed Demo -->
                                    <ng-container
                                        *ngIf="
                                            generated_weather_feed &&
                                            setSelectedFeedType(feed_info.feedTypeId) ===
                                                'Weather Feed'
                                        ">
                                        <app-weather-demo [weather_data]="generated_weather_feed">
                                        </app-weather-demo>

                                        <button
                                            mat-button
                                            mat-raised-button
                                            class="theme-btn mt-4"
                                            (click)="saveGeneratedWeatherFeed()">
                                            Save Weather Feed
                                        </button>
                                    </ng-container>
                                    <!-- End: Weather Feed Demo -->

                                    <!-- Begin: Weather Feed Demo -->
                                    <ng-container
                                        *ngIf="
                                            generated_news_feed &&
                                            setSelectedFeedType(feed_info.feedTypeId) === 'News'
                                        ">
                                        <app-news-demo [news_data]="generated_news_feed">
                                        </app-news-demo>

                                        <button
                                            mat-button
                                            mat-raised-button
                                            class="theme-btn mt-4"
                                            (click)="saveGeneratedNewsFeed()">
                                            Save News Feed
                                        </button>
                                    </ng-container>
                                    <!-- End: Weather Feed Demo -->

                                    <!-- Begin: Weather Feed Demo -->
                                    <ng-container
                                        *ngIf="
                                            generated_filler_feed &&
                                            setSelectedFeedType(feed_info.feedTypeId) === 'Fillers'
                                        ">
                                        <app-filler-demo [filler_data]="generated_filler_feed">
                                        </app-filler-demo>

                                        <button
                                            mat-button
                                            mat-raised-button
                                            class="theme-btn mt-4"
                                            (click)="saveGeneratedFillerFeed()">
                                            Save Filler Feed
                                        </button>
                                    </ng-container>
                                    <!-- End: Weather Feed Demo -->
                                </div>
                            </div>
                        </div>
                    </mat-step>
                    <!-- End: Step 4 -->
                </mat-horizontal-stepper>

                <ng-template #no_feed_content>
                    <div class="bg-gray p-5 text-center mt-5">
                        <h3>Incomplete Requirements, Go Back to Step 2 - Feed Content</h3>
                    </div>
                </ng-template>

                <ng-template #no_dealer_selected>
                    <div class="bg-gray p-5 text-center mt-5">
                        <h3>Feed information is not valid, Go Back to Step 1 - Feed Information</h3>
                    </div>
                </ng-template>

                <ng-template #spinner>
                    <div class="py-5">
                        <app-spinner></app-spinner>
                    </div>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>
