.zone {
    position: absolute;
    &.fullscreen {
        height: 100% !important;
        left: 0 !important;
        position: absolute;
        top: 0 !important;
        width: 100% !important;
        z-index: 9 !important;
    }
}
