.cursor-pointer {
    cursor: pointer;
}

.dealer-status-filters {
    display: flex;

    .active {
        margin-right: 5px;
    }

    .inactive {
        margin-left: 5px;
    }

    .active,
    .inactive {
        &:hover {
            opacity: 0.6;
        }

        &.selected {
            border-bottom: 1px solid black;
            box-shadow: unset;
        }
    }
}

.on-hover {
    &:hover {
        opacity: 0.6 !important;
    }
}

h2 {
    .text-primary {
        margin-right: 2px;
    }
}
