.frame-wrap {
    height: 100%; /* new height (400 * (1/0.8) ) */
    width: 100%; /* new width (100 * (1/0.8) )*/
    padding: 0;
    overflow: hidden;
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}
