<div class="statistics-graph col-lg-12 p-0 flex mb-3">
    <div class="col-lg-4">
        <mat-card class="card-graph" *ngIf="whole_data.length > 0; else no_data_for_year">
            <app-data-statistics-card *ngIf="value_graph"
                [id]="'total-view'"
                [total]="total"
                [label_array]="label_graph"
                [value_array]="value_graph"
                [month_array]="month_value_graph"
                [whole_data]="licenses_graph_data"
                [sub_title]="sub_title"
                (click_graph)="getGraphPoints($event)"
                [installation_average]="true"
                [loading_graph]="loading_graph">
            </app-data-statistics-card>
        </mat-card>
        <ng-template #no_data_for_year>
            <mat-card class="h-100 text-gray">
                <div class="col-lg-12 mt-5 center-vertically">
                    <div class="col-lg-12 text-center lg-text">
                        <i class="fas fa-file-excel f-50"></i>
                    </div>
                    <div class="col-lg-12 mt-3 text-center ">
                        <i class="fas fa-file-times lg-text"></i>
                        There are no records for year <span class="text-danger">{{current_year}}</span>. <br> Kindly use the custom date selection on the right to generate a report. 
                    </div>
                </div>
            </mat-card>
        </ng-template>
    </div>
    <div class="col-lg-8">
        <mat-card class="card-graph">
            <app-data-statistics-card-with-picker *ngIf="value_graph_detailed"
            (s_date)="getStartDate($event)"
            (e_date)="getEndDate($event)"
            (dealer_selected)="getDealerId($event)"
            [num_of_months]="number_of_months"
            [average]="average"
            [sub_title]="sub_title_detailed"
            [id]="'average-view'"
            [label_array]="label_graph_detailed"
            [value_array]="value_graph_detailed"
            [month_array]="month_value_graph_detailed"
            [whole_data]="licenses_graph_data_detailed"
            [generate_chart]="generate"
            [installation]="true"
            [total]="total_detailed">
            </app-data-statistics-card-with-picker>
        </mat-card>
    </div>
</div>

<ng-template #spinner>
    <div class="py-5">
        <app-spinner [diameter]="85"></app-spinner>
    </div>
</ng-template>