{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "trailingComma": "none"
            }
        }
    ],
    "singleQuote": true
}
