<mat-card>
	<div class="p-2" *ngIf="total_label; else spinner">
		<h4 class="fs-normal">
			<span class="{{ icon }} text-primary mr-3"></span>
			<span>{{ total_label }}</span>
		</h4>
		<hr class="mb-2" />
		<div class="row">
			<div class="col-lg-12 mb-3" *ngIf="active || inactive">
				<div class="row row-eq-height no-gutters">
					<div class="col-lg-6">
						<div class="p-3 text-center bg-primary mr-1">
							<h5 class="line-height-xlg xlg-text m-0 text-white">
								{{ active }}
							</h5>
							<p class="sm-text text-white">
								{{ active_label }}
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="p-3 text-center bg-gray-2 ml-1 text-gray">
							<h5 class="line-height-xlg xlg-text m-0">
								{{ inactive }}
							</h5>
							<p class="sm-text">
								{{ inactive_label }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 text-center">
				<h4 class="xlg-text text-primary line-height-xlg">
					{{ total }}
				</h4>
				<span class="p-0 sm-text text-gray"> Total {{ total_label }} </span>
			</div>
			<div class="col-lg-12 mb-2 text-center text-notes">
				<span class="sm-text font-weight-bold text-danger" *ngIf="notes">
					{{ notes }}
				</span>
			</div>
			<div class="col-lg-12" *ngIf="sub_label_left && sub_label_right">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-primary">
							<span class="{{ sub_label_left_icon }} "></span>
							<span class="ml-1">
								{{ sub_label_left_value }}
							</span>
							<span class="sm-text">
								{{ sub_label_left }}
							</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="text-right text-gray w-100">
							<span class="{{ sub_label_right_icon }}"></span>
							<span class="ml-1">
								{{ sub_label_right_value }}
							</span>
							<span class="sm-text">
								{{ sub_label_right }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #spinner>
		<div class="py-5">
			<app-spinner [diameter]="85"></app-spinner>
		</div>
	</ng-template>
</mat-card>
