<div class="mt-5" *ngIf="user_data">
	<div class="row mb-3">
		<div class="col-lg-6">
			<mat-card class="p-5">
				<h3>Change Password</h3>
				<p class="sm-text mb-4">Change this user's password.</p>
				<form [formGroup]="change_password" (ngSubmit)="changeUserPassword()">
					<mat-form-field class="full-width position-relative">
						<mat-label>Current Password</mat-label>
						<input
							formControlName="current_password"
							matInput
							[type]="is_password_field_type ? 'password' : 'text'"
							placeholder="Current Password" />
						<mat-icon class="pw-visibility" matSuffix (click)="togglePasswordFieldType()">{{
							is_password_field_type ? 'visibility_off' : 'visibility'
						}}</mat-icon>

						<span class="validation-message text-danger sm-text px-3 py-1" *ngIf="password_old_not_match">
							{{ current_password_validation_message }}
						</span>
					</mat-form-field>
					<mat-form-field class="full-width position-relative">
						<mat-label>New Password</mat-label>
						<input
							formControlName="new_password"
							matInput
							[type]="is_new_password_field_type ? 'password' : 'text'"
							placeholder="New Password" />
						<mat-icon class="pw-visibility" matSuffix (click)="toggleNewPasswordFieldType()">{{
							is_new_password_field_type ? 'visibility_off' : 'visibility'
						}}</mat-icon>

						<span class="validation-message warning sm-text px-3 py-1" *ngIf="password_invalid">
							{{ password_validation_message }}
						</span>
						<span class="validation-message good sm-text px-3 py-1" *ngIf="password_invalid == false">
							{{ password_validation_message }}
						</span>
					</mat-form-field>

					<mat-form-field class="full-width position-relative">
						<mat-label>Retype New Password</mat-label>
						<input
							formControlName="re_password"
							matInput
							[type]="is_retype_password_field_type ? 'password' : 'text'"
							placeholder="Retype New Password" />
						<mat-icon class="pw-visibility" matSuffix (click)="toggleRetypePasswordFieldType()">{{
							is_retype_password_field_type ? 'visibility_off' : 'visibility'
						}}</mat-icon>

						<span class="validation-message warning sm-text px-3 py-1" *ngIf="password_match == false">
							{{ password_is_match }}
						</span>
						<span class="validation-message good sm-text px-3 py-1" *ngIf="password_match">
							{{ password_is_match }}
						</span>
					</mat-form-field>

					<button mat-button mat-raised-button class="theme-btn mt-4" [disabled]="change_password_form_disabled">Save New Password</button>
				</form>
			</mat-card>
		</div>
		<div class="col-lg-6" *ngIf="!is_dealer">
			<mat-card class="p-5">
				<h3>Other Settings</h3>
				<form [formGroup]="other_settings_form" (ngSubmit)="onSaveOtherSettings()">
					<div class="col-lg-12 p-0">
						<div class="email-settings-container d-flex">
							<span>Receive email notifications:</span>
							<mat-slide-toggle formControlName="allowEmail"></mat-slide-toggle>
						</div>
					</div>
					<!-- SUBMIT BUTTON FOR OTHER SETTINGS FORM -->
					<button mat-button mat-raised-button class="theme-btn mt-4" type="submit" [disabled]="!other_settings_form.valid">
						Save Settings
					</button>
				</form>
			</mat-card>
		</div>
	</div>
</div>
