<div id="tagsPage" class="theme-container">
	<div class="title-section">
        <div class="d-flex align-items-center">
            <div class="flex-even">
                <h1 class="page-title">{{ title }}</h1>
            </div>
			<div class="flex-even text-right">
				<button mat-button mat-raised-button class="theme-btn"
					(click)="onAddTag()">
					Add Tags
				</button>
			</div>
        </div>
    </div>

	<hr class="my-4">

	<!-- COUNT CARDS SECTION -->
	<div class="row cards">
		<div class="col-lg">
			<!-- DEALER COUNT -->
			<div *ngIf="!isLoadingCount; else loading;">
				<app-data-card-count 
					[data_value]="count.dealer" 
					[data_label]="'Dealers'">
				</app-data-card-count>
			</div>
		</div>
		<div class="col-lg">
			<!-- HOST COUNT -->
			<div *ngIf="!isLoadingCount; else loading;">
				<app-data-card-count 
					[data_value]="count.host" 
					[data_label]="'Hosts'">
				</app-data-card-count>
			</div>
		</div>
		<div class="col-lg">
			<!-- ADVERTISER COUNT -->
			<div *ngIf="!isLoadingCount; else loading;">
				<app-data-card-count 
					[data_value]="count.advertiser" 
					[data_label]="'Advertisers'">
				</app-data-card-count>
			</div>
		</div>
		<div class="col-lg">
			<!-- LICENSE COUNT -->
			<div *ngIf="!isLoadingCount; else loading;">
				<app-data-card-count 
					[data_value]="count.license" 
					[data_label]="'Licenses'">
				</app-data-card-count>
			</div>
		</div>
	</div>

	<hr class="my-4">

	<mat-tab-group dynamicHeight animationDuration="0ms" [selectedIndex]="currentTabIndex" (selectedTabChange)="onChangeTab($event)">

		<!-- TAGS TAB -->
		<mat-tab label="Tags">
			<div class="row">
				<div class="col-lg">
					<ng-template matTabContent>
						<app-tags-tab
							[columns]="tagsTableSettings.columns"
							[currentTabIndex]="currentTabIndex"
							[currentTagType]="currentTagType"
							[currentUserRole]="currentUserRole"
							[tagTypes]="tagTypes"
							(clickedTagName)="onClickTagName($event)">
						</app-tags-tab>
					</ng-template>
				</div>
			</div>
		</mat-tab>

		<!-- TAG OWNERS TAB -->
		<mat-tab label="Owners">

			<ng-template matTabContent>
				<app-tag-owners-tab
					[columns]="tagOwnersTableSettings.columns"
					[currentUserRole]="currentUserRole"
					[tagTypes]="tagTypesMutated"
					[searchKey]="ownersTabSearchKey">
				</app-tag-owners-tab>
			</ng-template>

		</mat-tab>
	</mat-tab-group>
</div>

<ng-template #loading>
	<div class="py-4">
		<app-spinner [diameter]="60"></app-spinner>
	</div>
</ng-template>