<div class="theme-container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-title">Hosts</h1>
        </div>
        <div class="col-lg-4">
            <div class="text-right">
                <button
                    mat-button
                    mat-raised-button
                    class="theme-btn pi-control sm-text mr-2"
                    [routerLink]="createHostLink"
                    [disabled]="is_view_only"
                    title="Add Host Place">
                    <span class="fas fa-map-marker"></span>
                    <span class="ml-2 button_text_animation">Add Host Place</span>
                </button>
                <button
                    mat-button
                    mat-raised-button
                    *ngIf="tabGroup.selectedIndex === 0"
                    class="theme-btn pi-control sm-text _primary mr-2"
                    (click)="exportTable()"
                    [disabled]="workbook_generation"
                    title="Export to CSV">
                    <span
                        class="{{ !workbook_generation ? 'fas fa-file-excel' : 'fas fa-spinner' }}"
                        [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }"></span>
                    <span
                        class="ml-2 button_text_animation"
                        [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }"
                        >{{ !workbook_generation ? 'Export' : 'Generating CSV' }}</span
                    >
                </button>
            </div>
        </div>
    </div>

    <hr class="my-4" />

    <div class="row">
        <div class="col-3 col-lg">
            <mat-card class="h-100">
                <app-data-card-compare
                    *ngIf="host_count; else small_loader"
                    [compare_basis]="host_count.basis"
                    [compare_basis_label]="host_count.basis_label"
                    [good_value]="host_count.good_value"
                    [good_value_label]="host_count.good_value_label"
                    [bad_value]="host_count.bad_value"
                    [bad_value_label]="host_count.bad_value_label">
                </app-data-card-compare>
            </mat-card>
        </div>
        <div class="col-3 col-lg">
            <mat-card class="h-100 dealer-card">
                <app-data-card-count
                    *ngIf="host_count; else small_loader"
                    [data_value]="host_count.new_this_week_value"
                    [data_label]="host_count.new_this_week_label"
                    [data_description]="host_count.new_this_week_description">
                </app-data-card-count>
            </mat-card>
        </div>
        <div class="col-3 col-lg">
            <mat-card class="h-100 dealer-card">
                <app-data-card-count
                    *ngIf="host_count; else small_loader"
                    [data_value]="host_count.new_last_week_value"
                    [data_label]="host_count.new_last_week_label"
                    [data_description]="host_count.new_last_week_description">
                </app-data-card-count>
            </mat-card>
        </div>
        <div class="col-3 col-lg">
            <mat-card class="h-100 dealer-card">
                <app-data-card-count
                    *ngIf="host_count; else small_loader"
                    [data_value]="host_count.pending_installation_value"
                    [data_label]="host_count.pending_installation_label"
                    [data_description]="host_count.pending_installation_description">
                </app-data-card-count>
            </mat-card>
        </div>
    </div>

    <hr class="my-4" />

    <div class="row no-gutters">
        <div class="col-lg-12">
            <mat-tab-group
                dynamicHeight
                #tabGroup
                (selectedTabChange)="onTabChanged($event)"
                class="custom-mat-tab">
                <mat-tab id="hosts-view-tab" label="Hosts View">
                    <div *ngIf="tabGroup.selectedIndex === 0">
                        <div *ngIf="!initial_load; else loader">
                            <div *ngIf="!no_hosts; else no_data_initially">
                                <div class="row mt-3">
                                    <div class="offset-lg-8 col-lg-4">
                                        <app-search-field
                                            *ngIf="!initial_load"
                                            [form_title]="
                                                'Search Host Name, Address, City, Postal Code, or #Tag'
                                            "
                                            [placeholder]="'Example: N-Compass'"
                                            [data_reference]="host_data"
                                            [primary_keyword]="'host_name'"
                                            [secondary_keyword]="'host_name'"
                                            (searched)="hostFilterData($event)"
                                            [api_search]="true"></app-search-field>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!initial_load">
                                    <div class="col-lg-12">
                                        <ng-container *ngIf="!searching; else loader">
                                            <mat-card
                                                *ngIf="host_filtered_data.length > 0; else nodata">
                                                <app-data-table
                                                    [table_columns]="host_table_column"
                                                    [table_data]="host_filtered_data"
                                                    [new_table]="true"
                                                    [paging_details]="hostsPaging"
                                                    [active_tab]="host_sort_column"
                                                    [sort_column]="host_sort_column"
                                                    [sort_order]="host_sort_order"
                                                    [is_view_only]="is_view_only"
                                                    (update_info)="ngOnInit()"
                                                    (page_triggered)="getHosts($event)"
                                                    (to_sort_column)="
                                                        getHostColumnsAndOrder($event)
                                                    ">
                                                </app-data-table>
                                            </mat-card>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab id="licenses-view-tab" label="Licenses View">
                    <div class="mx-30" *ngIf="tabGroup.selectedIndex === 1">
                        <app-licenses [no_header]="true"> </app-licenses>
                    </div>
                </mat-tab>

                <mat-tab id="advertiser-view-tab" label="Advertisers View">
                    <div class="mx-30" *ngIf="tabGroup.selectedIndex === 2">
                        <app-advertisers [no_header]="true"> </app-advertisers>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <ng-template #nodata>
        <mat-card class="pt-5 pb-5 text-center text-gray">
            <div class="mb-4">
                <i class="fa-5x far fa-file-alt"></i>
            </div>
            <h3>No Results Found.</h3>
            <span>Try adjusting your search to find what you're looking for.</span>
        </mat-card>
    </ng-template>

    <ng-template #loader>
        <div class="py-4 white-bg h-500">
            <app-spinner [diameter]="60"></app-spinner>
        </div>
    </ng-template>

    <ng-template #no_data_initially>
        <mat-card class="p-5">
            <h3>What the!?</h3>
            <p class="sm-text mb-3">There are no available hosts at the moment.</p>
            <button
                mat-button
                mat-raised-button
                class="theme-btn mr-2"
                [routerLink]="createHostLink"
                [disabled]="is_view_only">
                Add Host Place
                <span class="fas fa-plus ml-2 sm-text"></span>
            </button>
        </mat-card>
    </ng-template>

    <ng-template #loader>
        <div class="py-4 white-bg h-500">
            <app-spinner [diameter]="60"></app-spinner>
        </div>
    </ng-template>

    <ng-template #small_loader>
        <div class="py-4 white-bg">
            <app-spinner [diameter]="60"></app-spinner>
        </div>
    </ng-template>

    <router-outlet></router-outlet>
</div>
