<div id="filler-form" class="filler-settings-form">
    <form [formGroup]="filler_settings_form">
        <div class="row mb-3">
            <div *ngFor="let f of filler_fields" class="{{ f.width }}">
                <mat-form-field class="full-width mb-2" appearance="fill" *ngIf="!f.viewType">
                    <mat-label>{{ f.label }}</mat-label>
                    <input
                        matInput
                        formControlName="{{ f.form_control_name }}"
                        [type]="f.type"
                        [required]="f.required"
                        autocomplete="off" />
                </mat-form-field>

                <!-- <div class="full-width bg-gray mb-4 position-relative overflow-hidden upload-image-field" appearance="fill" *ngIf="f.viewType == 'upload'">
                    <img [src]="f.imageUri || '/assets/media-files/placeholder.png'" alt="Selected Image">
                    <span class="sm-text label-when-filled" *ngIf="f.fileName">{{ f.label }}</span>
                        <p class="filename" [ngClass]="f.fileName ? 'filled' : ''" [title]="f.fileName">{{ f.fileName ? (f.fileName | substring:18) : '' || f.label }}</p>
                    <button *ngIf="f.fileName" class="remove-button" (click)="$event.preventDefault(); removeSelectedMedia(f.form_control_name);"><span class="fas fa-times"></span></button>
                    <button class="upload-button" (click)="$event.preventDefault(); openMediaLibraryModal(f.form_control_name);"><span class="fas fa-camera"></span></button>
                </div>

                <mat-form-field class="full-width content-filter-dropdown" appearance="fill" *ngIf="f.viewType == 'select'">
                    <mat-label>{{ f.label }}</mat-label>
                    <mat-select formControlName="{{ f.form_control_name }}" [disabled]="is_marking">
                        <mat-option *ngFor="let filter of f.options" [value]="filter.label">
                            {{ filter.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field class="full-width position-relative mb-2" appearance="fill" *ngIf="f.viewType == 'colorpicker'">
                    <mat-label>{{ f.label }}</mat-label>

                    <input
                    autocomplete="off"
                    [(colorPicker)]="f.colorValue"
                    (colorPickerChange)="colorPicker(f.colorValue, f.form_control_name)"
                    formControlName="{{ f.form_control_name }}"
                    [cpAlphaChannel]="'disabled'"
                    [cpDisableInput]="true"
                    matInput [type]="f.type"
                    [value]="f.colorValue || ''"/>

                    <div class="color-showcase position-absolute" [style.background]="f.colorValue"></div>
                </mat-form-field> -->

                <div class="error-message">
                    <p class="sm-text m-0"></p>
                </div>
            </div>
        </div>

        <div class="filler-playlist-panel p-3 mb-4 bg-gray">
            <div class="filler-playlist-panel-header bg-light rounded p-2 mb-3 d-flex">
                <div class="flex-even">
                    <button
                        mat-button
                        mat-raised-button
                        class="theme-btn"
                        (click)="openMediaLibraryModal()">
                        Add Filler Images <span class="fas fa-media"></span>
                    </button>
                </div>
                <div class="flex-even text-right">
                    <button
                        mat-button
                        mat-raised-button
                        class="theme-btn bg-danger"
                        (click)="removeFillerItem(null, true)"
                        [disabled]="selected_items.length < 2">
                        Remove Selected Images <span class="fas fa-times"></span>
                    </button>
                </div>
            </div>

            <div class="filler-playlist-panel-body">
                <div id="draggables" class="row no-gutters" #draggables>
                    <ng-container
                        *ngIf="filler_items && filler_items.length > 0; else no_filler_items">
                        <div
                            class="col-lg-1 mb-2"
                            *ngFor="let f of filler_items; let i = index"
                            [attr.data-id]="f.contentId">
                            <div
                                class="p-0 mx-1 thumbnail-card rounded-0 position-relative overflow-hidden">
                                <div class="button-wrap d-flex">
                                    <div class="flex-even text-left">
                                        <input type="checkbox" (change)="selectedItem(f)" />
                                    </div>

                                    <button
                                        class="filler-item-remove-button"
                                        (click)="removeFillerItem(f)">
                                        <span class="fas fa-times text-danger"></span>
                                    </button>
                                </div>
                                <img
                                    [src]="
                                        f.thumbnail ||
                                        'https://cdn.filestackcontent.com/resize=width:100/' +
                                            f.handlerId
                                    "
                                    alt="f.title" />

                                <div class="thumbnail-title">
                                    <div class="d-flex">
                                        <span class="sequence">{{ i + 1 }}</span>
                                        <span
                                            class="text-center ml-2 flex-even"
                                            [title]="f.title"
                                            >{{ f.title | substring: 8 }}</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-template #no_filler_items>
                        <div class="col-lg-12 p-5 text-center">
                            <h3>No Filler Items Available</h3>
                            <p class="sm-text">
                                Add images to get started with your filler playlist.
                            </p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

        <button
            mat-button
            mat-raised-button
            matStepperNext
            class="theme-btn"
            (click)="passFillerData()">
            Next <span class="fas fa-long-arrow-right"></span>
        </button>
    </form>
</div>
