.form-section {
	.add-tag {
		gap: 120px;

		.create {
			flex: 1 0 230px;
			.input-section {
				.tag-name {
					margin-right: 20px;
				}

				.exclude-toggle {
					margin-bottom: 10px;
				}
			}

			.existing-tags-select {
				width: 790px;
			}
		}

		.assign {
			flex: 1 0 250px;
		}
	}

	.preview {
		margin-top: 20px;

		.tags-row {
			margin-bottom: 30px;

			h4 {
				margin-right: 20px;
			}
		}

		.tags-container {
			.tag {
				margin-right: 5px;
				margin-bottom: 5px;
				padding: 1px 5px 1px 7px;
				font-size: 12px;
				text-shadow: black -1px 0px, black 0px 1px, black 1px 0px, black 0px -1px;
				color: white;
				border: 1px solid gray;

				&.dealer {
					border-radius: 5px;
				}
			}

			mat-icon {
				font-size: 15px;
			}

			.remove-btn,
			.excluded,
			.verifying,
			.not-existing,
			.exists {
				text-align: center;

				mat-icon {
					line-height: 25px;
				}
			}

			.exists {
				color: #dc3545;
			}
		}
	}
}

button[type='submit'] {
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 24px 24px 0;
}
