<div class="option-modal p-3" [@.disabled]="disable_animation">
	<div class="d-flex mb-4">
		<div class="flex-even">
			<h3>Playlist Content Options - #{{ c_index }}</h3>
			<p class="sm-text">
				Here you can set duration, display mode, and choose where host and licenses this content should play.
			</p>
		</div>
		<div>
			<button class="naked-btn" (click)="undoChanges()">
				<span class="fas fa-times"></span>
			</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="content-holder mb-3">
				<ng-container *ngIf="content_data.fileType | isvideo">
					<video muted [src]="content_data.url+content_data.fileName" controls class="w-100"></video>
				</ng-container>
				<ng-container *ngIf="content_data.fileType | isimage">
					<img [src]="content_data.url+content_data.fileName">
				</ng-container>
				<ng-container *ngIf="content_data.fileType == 'feed'">
					<div class="frame-wrap">
						<iframe class="responsive-iframe" [src]="content_data.url | sanitize" frameborder="0"></iframe>
					</div>
				</ng-container>
			</div>

			<div class="mb-4">
				<!-- <h4 class="word-break mb-1" [attr.title]="content_data.fileType != 'feed' ? removeFilenameHandle(content_data.fileName) : content_data.title"> -->
				<h4 class="word-break mb-1">
					<span *ngIf="content_data.fileType != 'feed'; else feed">
						{{ content_data.title }}
					</span>

					<ng-template #feed>
						<span>{{ content_data.title }}</span><br>
						<a class="feed-url" href="{{ content_data.url }}" matTooltip="{{ content_data.url }}" matTooltipClass="prevent-tooltip-truncate" target="_blank">{{ feed_url }}</a>
					</ng-template>
				</h4>
				<p class="sm-text">
					Creation Date: {{ content_data.dateCreated | date }}
				</p>
				<hr>
				<mat-slide-toggle
				(change)="toggleFullscreen($event)"
				[checked]="content_data.isFullScreen == 1 ? true : false">
					<h5 class="mb-0">Set to Fullscreen</h5>
				</mat-slide-toggle>
			</div>

			<div>
				<mat-form-field class="w-100">
					<mat-label>Set Content Duration</mat-label>
					<input matInput type="number" placeholder="Ex: 100" 
						[(ngModel)]="content_data.duration"
						(blur)="setDuration()"
						(change)="setDuration()"
						min="5" max="100" [disabled]="(content_data.fileType | isvideo) || (content_data.classification == 'generated_feed')">
					<mat-hint align="start"><strong>Applicable to feeds and images only. Min of 5 seconds.</strong> </mat-hint>
				</mat-form-field>
			</div>

			<hr>
			<!-- FREQUENCY SETTINGS -->
			<div class="frequency-settings d-flex flex-column">

				<div class="d-flex">
					<mat-label class="md-text">Frequency: </mat-label>
	
					<mat-radio-group name="opList" fxLayout="column" 
						[(ngModel)]="content_frequency" 
						(change)="onSelectFrequency()"
						[disabled]="total_contents <= 5"> 
						<mat-radio-button class="mr-3 md-text text-gray" name="frequencyList"
							*ngFor="let frequency of frequencyList" 
							[value]="frequency.value">{{ frequency.label }}
						</mat-radio-button>
					</mat-radio-group>
				</div>

				<div class="total-contents-notice" *ngIf="total_contents <= 5">
					<p class="text-danger">* You need at least 6 contents in the playlist to start setting frequencies</p>
				</div>
			</div>

			<hr>

			<!-- PLAYLIST CREDITS -->
			<div class="play-credits">
				<mat-form-field class="w-100">
					<mat-label>Play Credits</mat-label>
					<input matInput type="number" placeholder="No. of times content will play" min="1" max="1000000"
						[(ngModel)]="credits"
						(change)="onInputCredits()"
						[disabled]="!canEditCreditsField()">
					<span matSuffix *ngIf="credits > 0 && balance > 0;">/{{ balance }}</span>

					<mat-hint align="start"><strong>Can only be edited when there are 0 credits</strong> </mat-hint>
				</mat-form-field>
			</div>

			<hr>

		</div>
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-12">
					<div class="d-flex">
						<div class="flex-even">
							<h4>Content Schedule</h4>
							<p class="sm-text">
								<b>Date:  </b>{{ schedule.date }}<br>
								<b>Days:  </b>{{ schedule.days }}<br>
								<b>Time:  </b>{{ schedule.time }}<br>
							</p>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="overlayer">
				<div class="row">
					<div class="col-lg-12">
						<div class="d-flex">
							<div class="flex-even">
								<h4>Play Where</h4>
								<!-- <p class="sm-text mb-4">Choose which host and license you want this content displayed.</p> -->
								<p class="sm-text mb-4" *ngIf="host_license && host_license.length > 0">Content is currently playing on {{ total_whitelist }} out of {{ total_licenses }} licenses.</p>
							</div>
							<div class="ml-2" *ngIf="host_license && host_license.length > 0">
								<mat-slide-toggle class="sm-text"
								(change)="toggleAll($event)"
								[checked]="total_licenses === total_whitelist">
									<strong>Toggle All</strong>
								</mat-slide-toggle>
							</div>
						</div>
						<app-play-where
							[toggleEvent]="toggle_event.asObservable()"
							[content_data]="_dialog_data"
							(whitelisted)="hasWhiteListed($event)"
							(blocklist_changes_saved)="saveBlocklistChanges($event)"
							(blacklist_data_ready)="blacklist_ready=true"
							(blacklist_count)="getCount($event)">
						</app-play-where>
					</div>
				</div>

				<div class="position-absolute overlay" *ngIf="!blacklist_ready">
					<app-spinner [diameter]="70"></app-spinner>
				</div>
			</div>
		</div>
	</div>
	
	<button mat-button mat-raised-button class="theme-btn" 
		[disabled]="unchanged_playlist" [mat-dialog-close]="onSave()">
		Save Options
		<span class="fas fa-save ml-2"></span>
	</button>
</div>