<div class="option-modal" [@.disabled]="disable_animation">
    <div class="d-flex mb-2 media-navigation">
        <div class="flex-even">
            <h3 class="pt-2 mt-1 pl-3">
                Playlist Content Options <span class="text-primary"># {{ c_index }}</span>
            </h3>
        </div>
        <div>
            <button class="naked-btn" (click)="prev()" [disabled]="c_index == 1">
                <span
                    class="xlg-text fas fa-chevron-left text-gray"
                    [ngClass]="c_index == 1 ? 'text-light-gray drop-cursor' : 'text-gray'"
                    title="Prev"></span>
            </button>
            <button class="naked-btn" (click)="next()" [disabled]="c_index == contents_list.length">
                <span
                    class="xlg-text fas fa-chevron-right"
                    [ngClass]="
                        c_index == contents_list.length
                            ? 'text-light-gray drop-cursor'
                            : 'text-gray'
                    "
                    title="Next"></span>
            </button>
            <button class="naked-btn" (click)="undoChanges()">
                <span class="xlg-text fas fa-times text-danger" title="Close"></span>
            </button>
        </div>
    </div>
    <div class="row mb-2 pl-3 pr-3">
        <div class="col-lg-12">
            <p class="sm-text">
                Here you can set duration, display mode, and choose where host and licenses this
                content should play.
            </p>
        </div>
    </div>
    <div class="row pl-3 pr-3">
        <div class="col-lg-6">
            <div
                class="content-holder mb-3"
                *ngIf="content_data.classification == null; else fillerPreview">
                <ng-container *ngIf="content_data.fileType | isvideo">
                    <video
                        muted
                        [src]="content_data.url + content_data.fileName"
                        controls
                        class="w-100"></video>
                </ng-container>
                <ng-container *ngIf="content_data.fileType | isimage">
                    <img [src]="content_data.url + content_data.fileName" />
                </ng-container>
                <ng-container *ngIf="content_data.fileType == 'feed'">
                    <img
                        class="full-width height-100 p-absolute"
                        [src]="feed_demo_url + content_data.url | sanitize"
                        frameborder="0" />
                </ng-container>
            </div>

            <ng-template #fillerPreview>
                <div class="content-holder mb-3">
                    <ng-container *ngIf="content_data.fileType == 'video'">
                        <video muted [src]="content_data.url" controls class="w-100"></video>
                    </ng-container>
                    <ng-container *ngIf="content_data.fileType == 'image'">
                        <img [src]="content_data.url" />
                    </ng-container>
                    <ng-container *ngIf="content_data.fileType == 'feed'">
                        <img
                            class="full-width height-100 p-absolute"
                            [src]="content_data.url"
                            frameborder="0" />
                    </ng-container>
                </div>
            </ng-template>

            <div class="mb-4">
                <h4 class="word-break mb-1">
                    <span *ngIf="content_data.fileType != 'feed'; else feed">
                        <a
                            [routerLink]="[media_content_base_url, content_data.contentId]"
                            target="_blank"
                            >{{ content_data.title }}</a
                        >
                    </span>

                    <ng-template #feed>
                        <span>{{ content_data.title }}</span
                        ><br />
                        <a
                            class="feed-url"
                            href="{{ content_data.url }}"
                            matTooltip="{{ content_data.url }}"
                            matTooltipClass="prevent-tooltip-truncate"
                            target="_blank"
                            >{{ feed_url }}</a
                        >
                    </ng-template>
                </h4>
                <p class="sm-text">
                    Uploaded by {{ content_data.createdByName }} on
                    {{ content_data.dateCreated | date }}
                </p>
                <hr />
                <div class="d-flex align-items-center">
                    <mat-slide-toggle
                        (change)="toggleFullscreen($event)"
                        [checked]="content_data.isFullScreen == 1 ? true : false"
                        [disabled]="is_child_frequency">
                        <h5 class="mb-0 ml-2">Set to Fullscreen</h5>
                    </mat-slide-toggle>

                    <p class="md-text ml-5 font-bold" *ngIf="content_data.filesize">
                        File Size: {{ content_data.filesize | filesize }}
                    </p>
                </div>
            </div>

            <div *ngIf="!is_livestream">
                <mat-form-field class="w-100">
                    <mat-label>Set Content Duration</mat-label>
                    <input
                        matInput
                        type="number"
                        placeholder="Ex: 100"
                        [(ngModel)]="content_data.duration"
                        (blur)="setDuration()"
                        (change)="setDuration()"
                        min="5"
                        max="100"
                        [disabled]="
                            is_child_frequency ||
                            (content_data.fileType | isvideo) ||
                            content_data.classification == 'filler-v2'
                        " />
                    <mat-hint
                        align="start"
                        *ngIf="content_data.classification != 'filler-v2'; else forFillers"
                        ><strong>Applicable to feeds and images only. Min of 5 seconds.</strong>
                    </mat-hint>
                    <ng-template #forFillers>
                        <mat-hint align="start"
                            ><strong
                                >Image Fillers Duration is set to Filler Feeds Duration.</strong
                            >
                        </mat-hint>
                    </ng-template>
                </mat-form-field>
            </div>

            <div *ngIf="content_data.classification == 'filler-v2'">
                <hr clas="mt-2" />
                <div class="row">
                    <div class="col-lg-12">
                        <span class="sm-text"
                            >Filler Group: <b>{{ content_data.fillerGroupName }}</b>
                        </span>
                    </div>
                </div>
            </div>

            <hr *ngIf="!is_livestream && content_data.classification == null" />
            <!-- FREQUENCY SETTINGS -->
            <div
                class="frequency-settings d-flex flex-column"
                *ngIf="!is_livestream && content_data.classification == null">
                <div class="d-flex">
                    <mat-label class="md-text">Frequency: </mat-label>

                    <mat-radio-group
                        name="opList"
                        fxLayout="column"
                        [(ngModel)]="content_frequency"
                        (change)="onSelectFrequency()"
                        [disabled]="total_contents <= 5 || is_child_frequency">
                        <mat-radio-button
                            class="mr-3 md-text text-gray"
                            name="frequencyList"
                            *ngFor="let frequency of frequencyList"
                            [value]="frequency.value"
                            >{{ frequency.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="total-contents-notice" *ngIf="total_contents <= 5">
                    <p class="text-danger">
                        * You need at least 6 contents in the playlist to start setting frequencies
                    </p>
                </div>
            </div>

            <hr />

            <!-- PLAY CREDITS -->
            <!-- <div class="play-credits">
				<ng-container *ngIf="!host_license || host_license.length <= 0; else playCreditsSettings">
					<div class="license-assignment-notice">
						<p class="text-danger">* Assign the current playlist to a license to set play credits</p>
					</div>
				</ng-container>
	
				<ng-template #playCreditsSettings>
					<div class="toggle-credits-setting">
						<mat-slide-toggle
							(change)="onToggleCredits()"
							[(ngModel)]="content_data.creditsEnabled"
							[disabled]="!can_toggle_credits">
							<h5 class="mb-0 ml-2">Enable/Disable Credits</h5>
						</mat-slide-toggle>
					</div>
		
					<div class="play-credits-settings mt-4" *ngIf="content_data.creditsEnabled">
						<div class="d-flex align-items-baseline flex-column">
							<mat-form-field class="w-50">
								<mat-label>Set Play Credits</mat-label>
								<input matInput type="number" placeholder="No. of times content will play" min="1" max="1000000"
									[(ngModel)]="credits"
									(change)="onInputCredits()"
									[disabled]="!canEditCreditsField()">
								<span matSuffix *ngIf="credits > 0 && balance > 0;">/{{ balance }}</span>
			
							</mat-form-field>
							<mat-hint align="start"><strong>Can only be edited when there are 0 credits</strong> </mat-hint>
						</div>
					</div>
	
					<hr>
				</ng-template>
			</div> -->
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex">
                        <div class="flex-even">
                            <h4>Content Schedule</h4>
                            <p class="sm-text">
                                <b>Date: </b>{{ schedule.date }}<br />
                                <b>Days: </b>{{ schedule.days }}<br />
                                <b>Time: </b>{{ schedule.time }}<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="overlayer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex">
                            <div class="flex-even">
                                <h4>Play Where</h4>
                                <!-- <p class="sm-text mb-4">Choose which host and license you want this content displayed.</p> -->
                                <p
                                    class="sm-text mb-4"
                                    *ngIf="host_license && host_license.length > 0">
                                    Content is currently playing on {{ total_whitelist }} out of
                                    {{ total_licenses }} licenses.
                                </p>
                            </div>
                            <div class="ml-2" *ngIf="host_license && host_license.length > 0">
                                <mat-slide-toggle
                                    class="sm-text"
                                    (change)="toggleAll($event)"
                                    [checked]="total_licenses === total_whitelist"
                                    [disabled]="is_child_frequency">
                                    <strong class="ml-2">Toggle All</strong>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <app-play-where
                            *ngIf="!is_paging"
                            [toggleEvent]="toggle_event.asObservable()"
                            [content_data]="selected_data"
                            (blocklist_changes_saved)="saveBlocklistChanges($event)"
                            (blacklist_data_ready)="blackListDataLoaded($event)"
                            (blacklist_count)="getCount($event)"
                            [is_child_frequency]="is_child_frequency">
                        </app-play-where>
                    </div>
                </div>

                <div class="position-absolute overlay" *ngIf="!blacklist_ready">
                    <app-spinner [diameter]="70"></app-spinner>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 pl-3 pr-3">
        <button
            mat-button
            mat-raised-button
            class="theme-btn"
            [disabled]="unchanged_playlist"
            [mat-dialog-close]="onSave()">
            Save Options
            <span class="fas fa-save ml-2"></span>
        </button>
    </div>
</div>
