<div id="licenses-page-dealers-tab" class="content d-flex flex-column">
    <div class="controls-and-search-container d-flex mat-top-em">
        <div class="search-field-container text-right">
            <mat-form-field class="full-width">
                <mat-label>
                    <span class="fas fa-search sm-text mr-2"></span>
                    {{ role_label }}
                </mat-label>
                <input matInput [formControl]="searchControl" />
            </mat-form-field>
        </div>
    </div>

    <mat-card>
        <ng-container *ngIf="isPageReady; else loader">
            <app-data-table
                [table_data]="currentTableData"
                [table_columns]="tableColumns"
                [new_table]="true"
                [spinner_enabled]="false"
                [pagination_enabled]="false">
            </app-data-table>
            <div class="load-data-button-container d-flex justify-content-center mat-top-em">
                <button
                    mat-raised-button
                    class="theme-btn _primary"
                    (click)="addToTable()"
                    [disabled]="hasNoData || !isPreloadDataReady">
                    <ng-container *ngIf="isPreloadDataReady; else preloadingData"> Load more dealers... </ng-container>
                    <ng-template #preloadingData> Loading dealers... </ng-template>
                </button>
            </div>
        </ng-container>
    </mat-card>
</div>

<ng-template #loader>
    <ng-container *ngIf="!hasNoData; else noData">
        <div class="py-4 white-bg h-500">
            <app-spinner></app-spinner>
        </div>
    </ng-container>
</ng-template>

<ng-template #noData>
    <mat-card class="pt-5 pb-5 text-center">
        <div class="mb-4">
            <i class="text-gray fa-5x far fa-file-alt"></i>
        </div>
        <h3 class="text-gray">No Results Found</h3>
        <span class="text-gray">This page currently has no available data</span>
    </mat-card>
</ng-template>
