<div>
    <h3 class="mb-1">Add Target Release</h3>
</div>
<ng-container *ngIf="!license_generated; else success">
    <div id="target_release" class="generate-license-modal p-4 pb-0 h-100" *ngIf="!is_submitted; else loading">
        
        <ng-container>
            <!-- <p class="sm-text mb-4">Choose a dealer and set number of license to generate.</p> -->
            <form [formGroup]="target_release">
                <ng-container *ngIf="!isLoadingHosts; else loader">
                    <div class="search-bar pl-3 pt-2 pr-3">
                        <form [formGroup]="dealerSelection">
                            <div class="d-flex">
                                <div class="search-input full-width">
                                    <mat-form-field class="full-width md-text">
                                        <mat-select
                                            #dealerMultiSelect
                                            formControlName="selectedDealers"
                                            [placeholder]="'Select Dealer Name(s)'"
                                            [multiple]="true"
                                            disableOptionCentering
                                            class="full-width">
                                            <div class="custom-panel">
                                                <mat-option>
                                                    <ngx-mat-select-search
                                                        noEntriesFoundLabel="No results"
                                                        [formControl]="dealerFilterControl"
                                                        [placeholderLabel]="'Search Dealer Name'"
                                                        [clearSearchInput]="false"
                                                        [searching]="isSearching">
                                                        <mat-icon class="clear" ngxMatSelectSearchClear
                                                            >close</mat-icon
                                                        >
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let dealer of filteredDealers | async"
                                                    [value]="dealer">
                                                    <div class="dealer sm-text">
                                                        {{ dealer.businessName }}
                                                    </div>
                                                </mat-option>
                                            </div>
                                            <footer class="selection">
                                                <button
                                                    class="theme-btn _primary md-text mr-3"
                                                    (click)="dealerMultiSelect.close()">
                                                    APPLY SELECTION
                                                </button>
                                            </footer>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="preview">
                                <div class="dealers-row p-0 pb-3">
                                    <div
                                        class="col-lg-12 p-0 d-flex"
                                        *ngIf="selectedDealersControl.value.length > 0">
                                        <div class="col-lg-7 p-0 pb-1">
                                            <h5>Dealer Name(s):</h5>
                                        </div>
                                        <div
                                            class="col-lg-5 p-0 pb-1 text-right md-text f-500 text-danger clickable"
                                            (click)="onClearSelection()">
                                            <i class="far fa-times-circle mr-2"></i>
                                            <span>CLEAR SELECTION</span>
                                        </div>
                                    </div>

                                    <div
                                        class="col-lg-12 p-0 selected-dealers-container d-flex flex-row align-items-start flex-wrap"
                                        *ngIf="selectedDealersControl.value.length > 0">
                                        <div
                                            *ngFor="let dealer of selectedDealersControl.value; let i = index"
                                            class="dealer d-flex align-items-center"
                                            [ngClass]="!isFiltered ? 'dealer' : 'disable-dealer'">
                                            <div class="name">{{ dealer.businessName }}</div>
                                            <div class="remove-btn cursor-pointer" (click)="onRemoveDealer(i)">
                                                <mat-icon>close</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="search-result" *ngIf="selectedHosts && selectedDealersControl.value.length > 0">
                        <mat-accordion>
                            <div class="row">
                                <div class="col-lg-12 pb-20">
                                    <mat-expansion-panel
                                        class="mb-3"
                                        *ngFor="let dealer of selectedDealers; let i = index"
                                        [expanded]="dealer.dealerId === expandedDealerId"
                                        hideToggle="true"
                                        #example
                                        id="outer-mat">
                                        <mat-expansion-panel-header class="pr-0 pl-0">
                                            <mat-panel-title class="md-text p-0 align-items-center">
                                                <p class="col-lg-11 text-left">
                                                    <span class="font-weight-bold md-text">
                                                        {{ dealer.businessName }}
                                                    </span>
                                                    <mat-checkbox class="text-left pl-3">
                                                        <strong class="sm-text">
                                                        Select All
                                                        </strong>
                                                    </mat-checkbox>
                                                    <br />
                                                </p>
            
                                                <div
                                                    class="col-lg-1 p-0 text-right"
                                                    *ngIf="dealer.hosts.length > 0">
                                                   
                                                    <div *ngIf="!example.expanded" class="ctm-accordion-icon">
                                                        <i class="fas fa-plus"></i>
                                                    </div>
                                                    <div *ngIf="example.expanded" class="ctm-accordion-icon">
                                                        <i class="fas fa-minus"></i>
                                                    </div>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <h4>Host Name(s):</h4>
                                        <div class="row" *ngIf="dealer.hosts.length > 0">
                                            <div class="col-lg-12" *ngFor="let host of dealer.hosts">
                                                <mat-expansion-panel
                                                    #example
                                                    id="outer-mat"
                                                    class="mb-3 p-2 pt-2"
                                                    hideToggle
                                                    (click)="onExpandHost(host.hostId, dealer.dealerId)"
                                                    [expanded]="host.hostId === expandedHostId"
                                                    [class.panelBorder]="example.expanded">
                                                    <mat-expansion-panel-header class="pr-0 pl-0">
                                                        <mat-panel-title class="md-text p-0">
                                                            <div class="col-lg-1 p-0 mt-2 mr-2 ml-2 text-left">
                                                                <!-- <img
                                                                    class="map-header-status"
                                                                    [src]="host.iconUrl"
                                                                    alt="Status" /> -->
                                                            </div>
                                                            <p class="col-lg-9 p-0 mt-1 mr-2 text-left">
                                                                <span class="font-weight-bold md-text">
                                                                    {{ host.name }}
                                                                    <mat-checkbox class="text-left pl-3">
                                                                        <strong class="sm-text">
                                                                        Select All License
                                                                        </strong>
                                                                    </mat-checkbox>
                                                                </span>
                                                                
                                                                <br />
                                                                <span class="sm-text">
                                                                    {{ host.city }}
                                                                    {{ host.state }}
                                                                    {{ host.postalCode }}
                                                                </span>
                                                            </p>
                                                            <div class="col-lg-2 p-0 text-right">
                                                                <div
                                                                    *ngIf="!example.expanded"
                                                                    class="ctm-accordion-icon">
                                                                    <i class="fas fa-plus"></i>
                                                                </div>
                                                                <div
                                                                    *ngIf="example.expanded"
                                                                    class="ctm-accordion-icon">
                                                                    <i class="fas fa-minus"></i>
                                                                </div>
                                                            </div>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <div
                                                        class="pt-2"
                                                        *ngIf="!isLoadingLicenseCount; else loader_sm_no_text">
                                                        <div
                                                            class="host-licenses-list"
                                                            *ngIf="host.licenses.length > 0; else no_licenses_text">
                                                            <div
                                                                class="col-xs-6 mr-3"
                                                                *ngFor="let license of host.licenses">
                                                                <div>
                                                                    <span
                                                                        class="fas fa-circle mr-1 sm-text"
                                                                        [ngClass]="{
                                                                            'text-primary':
                                                                                license.status === 'online',
                                                                            'text-danger':
                                                                                license.status === 'offline',
                                                                            'text-pending':
                                                                                license.status === 'pending'
                                                                        }">
                                                                    </span>
                                                                    <a
                                                                        [routerLink]="setLink(license.licenseId)"
                                                                        target="_blank">
                                                                        {{
                                                                            license.alias &&
                                                                            license.alias.length > 0
                                                                                ? license.alias
                                                                                : license.licenseKey
                                                                        }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ng-template #no_licenses_text>
                                                            <p>No licenses for this host</p>
                                                        </ng-template>
                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                        </mat-accordion>
                    </div>
                </ng-container>
                
            </form>
        </ng-container>

        <ng-template #loader>
            <div class="vh-50 d-flex align-items-center justify-content-center">
                <app-spinner></app-spinner>
            </div>
        </ng-template>
        
        <ng-template #loader_sm>
                <div class="text-center py-4">
                    <app-spinner [diameter]="65"></app-spinner>
                    <h5 class="mt-3">Getting License Information. Please Wait.</h5>
                </div>
            </ng-template>
        
        <ng-template #loader_sm_no_text>
                <div class="loader-sm-no-text py-4">
                    <app-spinner [diameter]="65"></app-spinner>
                </div>
        </ng-template>


    </div>
</ng-container>


