<ng-container *ngIf="!license_generated; else success">
    <div id="target_release" class="generate-license-modal p-4 pb-0 h-100" *ngIf="!is_submitted; else loading">
        <ng-container>
            <h3 class="mb-1">Add Target Release</h3>
            <!-- <p class="sm-text mb-4">Choose a dealer and set number of license to generate.</p> -->
            <app-dealer-autocomplete (dealer_selected)="setAssignedTo($event)" [active_only]="true">
            </app-dealer-autocomplete>
            <form [formGroup]="target_release">

                <div class="preview">
                    <div class="dealers-row d-flex">
                        <h4>Dealers:</h4>
                    </div>
                </div>

                <!-- Dealer Tags Preview -->
                    <!-- DEALERS LIST -->
                    <!-- <div
                        class="selected-dealers-container d-flex flex-row align-items-start flex-wrap"
                        *ngIf="selectedOwnersControl.value.length > 0">
                        <div
                            *ngFor="let owner of selectedOwnersControl.value; let i = index"
                            class="owner d-flex align-items-center">
                            <div class="business-name">{{ owner.displayName }}</div>
                            <div class="remove-btn cursor-pointer" (click)="onRemoveOwner(i)">
                                <mat-icon>close</mat-icon>
                            </div>
                        </div>
                    </div> -->
                

                <div class="row mt-4">
                    <hr class="full-width" />
                    <div class="col-lg-12">
                        <div class="d-flex">
                            <div class="flex-even mt-3">
                                <h4>Play Where</h4>
                                <!-- <p class="sm-text mb-4">Choose which host and license you want this content displayed.</p> -->
                                <p class="sm-text mb-4">
                                    Content is currently playing on {{ total_whitelist }} out of
                                    {{ total_licenses }} licenses.
                                </p>
                            </div>
                            <div class="ml-2 mt-3" *ngIf="host_license && host_license.length > 0">
                                <mat-slide-toggle
                                    class="sm-text"
                                    (change)="content_data.classification != 'filler-v2' && toggleAll($event)"
                                    [checked]="total_licenses === total_whitelist"
                                    [disabled]="content_data.classification == 'filler-v2' || is_child_frequency">
                                    <strong class="ml-1">Toggle All</strong>
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <app-play-where
                            *ngIf="!is_paging"
                            [toggleEvent]="toggle_event.asObservable()"
                            [content_data]="selected_data"
                            (blocklist_changes_saved)="saveBlocklistChanges($event)"
                            (blacklist_data_ready)="blackListDataLoaded($event)"
                            (blacklist_count)="getCount($event)"
                            [is_child_frequency]="is_child_frequency">
                        </app-play-where>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</ng-container>

<ng-template #loading>
    <div class="text-center license-list overflow-hidden d-flex align-items-center justify-content-center h-100">
        <app-spinner></app-spinner>
    </div>
</ng-template>

<ng-template #success>
    <div class="text-center license-list overflow-hidden d-flex align-items-center justify-content-center h-100">
        <div>
            <app-success-animation class="mb-2"></app-success-animation>
            <h3 class="mb-4">License assignment succesful!</h3>
            <button mat-button mat-raised-button mat-dialog-close class="theme-btn mr-3">OK</button>
        </div>
    </div>
</ng-template>
