<!-- <div class="card-header p-4 py-3 bg-dark align-center">
    <img src="/assets/media-files/logo-light.png" class="form-logo" alt="logo">
</div> -->
<div class="position-relative" id="login">
    <div class="overlay d-flex align-items-center justify-content-center" *ngIf="show_overlay">
        <mat-spinner></mat-spinner>
    </div>
    <div class="col-lg-12 d-flex login-container p-0">
        <div class="col-lg-5 p-0">
            <img src="/assets/media-files/login-bg.png" class="full-width" />
        </div>
        <div class="col-lg-7">
            <div class="logo-area offset-lg-1 pt-5 col-lg-10">
                <img
                    src="/assets/media-files/logo-black.png"
                    class="form-logo full-width"
                    alt="logo" />
                <div class="caption col-lg-12 text-gray md-text f-500">
                    START YOUR PATH TO FINANCIAL FREEDOM
                </div>
            </div>
            <div class="offset-lg-1 col-lg-10">
                <form
                    class="login-form"
                    [formGroup]="login_form"
                    (ngSubmit)="authUser()"
                    [ngClass]="is_error ? 'pt-4' : 'pt-2'">
                    <mat-form-field
                        class="full-width mb-0 position-relative"
                        *ngFor="let f of login_form_view">
                        <mat-label class="md-text">{{ f.label }}</mat-label>

                        <input
                            class="md-text pb-2"
                            *ngIf="f.type !== 'password'; else passwordField"
                            formControlName="{{ f.control }}"
                            matInput
                            placeholder="{{ f.placeholder }}"
                            type="{{ f.type }}" />

                        <ng-template #passwordField>
                            <div class="password-container d-flex">
                                <input
                                    class="md-text"
                                    formControlName="{{ f.control }}"
                                    matInput
                                    placeholder="{{ f.placeholder }}"
                                    [type]="is_password_field_type ? 'password' : 'text'" />
                                <mat-icon
                                    class="pw-visibility md-text"
                                    matSuffix
                                    (click)="togglePasswordFieldType()"
                                    >{{
                                        is_password_field_type ? 'visibility_off' : 'visibility'
                                    }}</mat-icon
                                >
                            </div>
                        </ng-template>

                        <span class="field-error" *ngIf="is_submitted && form[f.control].errors">{{
                            f.error
                        }}</span>
                    </mat-form-field>
                    <div class="sm-text f-500 mb-2 uppercase p-0 text-danger" *ngIf="is_error">
                        {{ error_msg }}
                    </div>
                    <button
                        type="submit"
                        mat-raised-button
                        class="bg-primary text-white text-center full-width"
                        [ngClass]="is_error ? '' : 'mt-4'">
                        LOGIN
                    </button>
                    <div class="col-lg-12 text-center sm-text pt-4">
                        <span>
                            Don't have an account?
                            <br />
                            Inquire with our
                            <span class="text-primary clickable" (click)="routeToGuest()"
                                >GUEST</span
                            >
                            account here!
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
