.mode-selection {
	label {
		background-color: #8EC641;
		border-color: #8EC641;
		cursor: pointer;

		&.active {
			background-color: #1C2731;
			border-color: #1C2731;
		}

		&.disabled {
			opacity: 0.6;
			cursor: unset;
		}
	}
}