.validation-message {
    position: absolute;
    right: 20px;

    &.good {
        color: rgb(140, 202, 68);
    }
    
    &.warning {
        color: rgb(230, 71, 71);
    }
}

.pw-visibility {
	cursor: pointer;
}

.radio-btn-container {
	label {
		margin-right: 15px;
	}
}

.toggle-field-container {
	margin-bottom: 15px;
	
	span {
		margin-right: 20px;
	}

}

.selected-dealer-disabled {
    opacity: 50% !important;
}