.licenses-heading {
    align-items: baseline;
    display: flex;
    margin-bottom: 20px;

    h4 {
        line-height: 20px;
    }

    button {
        justify-content: flex-end;
        margin-left: auto !important;
    }
}

.install-date {
    display: inline-flex;
    justify-content: flex-end;

    span,
    mat-icon {
        font-size: 14px;
    }

    mat-icon {
        cursor: pointer;
        text-align: right;
        line-height: 18px;
    }
}

.disabled {
    opacity: 0.5;
}

.create-screen-height {
    height: 450px;
}

.create-screen-stepper-wrapper {
    position: relative;
    overflow: hidden;
}

.save-spinner-overlay {
    background: rgba($color: #fff, $alpha: 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
