<div class="p-2">
    <div class="dialog-heading d-flex align-items-start">
        <div class="flex-even">
            <div class="d-flex align-items-center">
                <h3 class="p-0">Advertiser Details:</h3>
                <span class="status sm-text ml-3" [ngClass]="advertiser.status === 'A' ? 'active' : 'inactive'">
                    <span class="fas fa-circle xsm-text mr-2"> </span>
                </span>
            </div>
            <p class="p-0 sm-text mb-4">You can update advertiser details here:</p>
        </div>
        <mat-slide-toggle (change)="onToggleStatus($event)" labelPosition="before" [(ngModel)]="is_active_advertiser">
            <span class="sm-text font-weight-bold">{{ is_active_advertiser ? 'Active' : 'Inactive' }}</span>
        </mat-slide-toggle>
        <button class="modal-close-btn hidden-button" [mat-dialog-close]="false">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <ng-container *ngIf="is_form_ready; else loading">
        <form [formGroup]="edit_advertiser_form" (ngSubmit)="saveAdvertiserData()" class="text-left">
            <div class="row">
                <div class="col-lg-12 mb-3" *ngIf="!is_dealer">
                    <app-dealer-autocomplete
                        (dealer_selected)="dealerSelected($event)"
                        [initial_value]="selectedDealer"
                        [active_only]="true"
                        [isDisabled]="is_dealer">
                    </app-dealer-autocomplete>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="business-name mr-3 full-width">
                        <mat-label>Advertiser Business Name</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="businessName"
                            placeholder="Ex. NcompassTV Advertiser" />
                    </mat-form-field>
                </div>

                <div class="col-lg-6">
                    <ng-container *ngIf="categories_loaded; else loadingCategories">
                        <div class="categories-selection flex-even">
                            <app-autocomplete-field
                                [data_reference]="categories_data"
                                [primary_keyword]="'categoryName'"
                                [key_of_value]="'categoryName'"
                                (data_value)="setCategory($event)"
                                [required]="true"
                                [label]="'Choose Category'"
                                [new_value]="category_selected"
                                [initial_value]="category_selected">
                            </app-autocomplete-field>
                        </div>
                    </ng-container>

                    <ng-template #loadingCategories>
                        <div class="d-flex full-width">
                            <div class="mr-4 mt-2">
                                <span class="md-text font-italic">Loading Categories...</span>
                            </div>
                            <app-spinner [diameter]="20"></app-spinner>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="full-width">
                        <mat-label>Latitude</mat-label>
                        <input matInput type="number" step="any" formControlName="lat" placeholder="Ex. 58.933" />
                    </mat-form-field>
                </div>

                <div class="col-lg-6">
                    <mat-form-field class="full-width">
                        <mat-label>Longitude</mat-label>
                        <input matInput type="number" step="any" formControlName="long" placeholder="Ex. 58.933" />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="full-width">
                        <mat-label>Address</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="address"
                            placeholder="Ex. 21st Drive Fifth Avenue Place" />
                    </mat-form-field>
                </div>

                <div class="col-lg-6">
                    <app-city-autocomplete
                        (city_selected)="citySelected($event)"
                        [selected_city_from_google]="selectedCity"
                        (city_autocomplete_ready)="setInitialCity($event)"></app-city-autocomplete>
                </div>

                <ng-template #loadingCities>
                    <div class="flex-even">
                        <div class="d-flex full-width">
                            <div class="mr-4 mt-2">
                                <span class="md-text font-italic">Loading Cities...</span>
                            </div>
                            <app-spinner [diameter]="20"></app-spinner>
                        </div>
                    </div>
                </ng-template>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field class="full-width">
                        <mat-label>State</mat-label>
                        <input matInput type="text" formControlName="state" placeholder="Ex. IL" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="full-width">
                        <mat-label>Region</mat-label>
                        <input matInput type="text" formControlName="region" placeholder="Ex. SW" />
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-form-field class="full-width">
                        <mat-label>Zip Code</mat-label>
                        <input matInput type="text" formControlName="zip" placeholder="Ex. 54001" />
                    </mat-form-field>
                </div>
            </div>

            <button
                mat-button
                mat-raised-button
                type="submit"
                class="theme-btn mt-4 mr-2"
                color="primary"
                [disabled]="
                    edit_advertiser_form.invalid ||
                    (canada_selected && edit_advertiser_form.get('zip').value.length !== 6) ||
                    (!canada_selected && edit_advertiser_form.get('zip').value.length !== 5)
                ">
                Update
            </button>
            <button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="false">Cancel</button>
        </form>
    </ng-container>
</div>

<ng-template #loading>
    <div class="py-5">
        <app-spinner></app-spinner>
    </div>
</ng-template>

<ng-template #loaderSmall>
    <app-spinner [diameter]="60"></app-spinner>
</ng-template>
