<div class="col-lg-12 p-0 flex">
    <div class="p-0" [ngClass]="installation ? 'col-lg-2' : 'col-lg-4'">
        <form [formGroup]="contentsForm" *ngIf="contentsForm">
            <div class="col-lg-12 p-0 flex">
                <div class="col-lg-12 p-0">
                    <mat-form-field class="full-width" appearance="fill" appDefaultDateFormat>
                        <mat-label class="md-text">Start Date</mat-label>
                        <input
                            formControlName="start_date"
                            (dateInput)="onSelectStartDate($event.value)"
                            matInput
                            [matDatepickerFilter]="dateFilter"
                            [matDatepicker]="datePicker"
                            readonly />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="datePicker"
                            [disabled]="searching"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-12 p-0 flex">
                <div class="col-lg-12 p-0">
                    <mat-form-field class="full-width" appearance="fill" appDefaultDateFormat>
                        <mat-label class="md-text">End Date</mat-label>
                        <input
                            formControlName="end_date"
                            (dateInput)="onSelectEndDate($event.value)"
                            matInput
                            [matDatepickerFilter]="dateFilter"
                            [matDatepicker]="datePicker2"
                            [min]="start_date"
                            readonly />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="datePicker2"
                            [disabled]="searching"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="md-text col-lg-12 p-0">Select Dealer</div>
            <div class="col-lg-12 flex p-0">
                <div class="col-lg-11 p-0">
                    <app-autocomplete-field
                        (data_value)="setDealerId($event)"
                        [data_reference]="dealers_data"
                        [key_of_value]="'dealerId'"
                        [label]="'Choose A Dealer'"
                        [placeholder]="'Choose A Dealer'"
                        [primary_keyword]="'businessName'"
                        [search_keyword]="'dealer'"
                        [paging]="paging"
                        (call_next_page)="searchBoxTrigger($event)"
                        (searched)="searchData($event)"
                        [loading_data]="loading_data"
                        [loading_search]="loading_search"
                        [disabled]="!start_date || !end_date"
                        [reset_value]="clear_dealer">
                    </app-autocomplete-field>
                </div>
                <div class="col-lg-1 p-0 pt-3 text-left">
                    <button
                        class="hidden-button white-bg fas fa-times"
                        [ngClass]="
                            selected_dealer ? 'text-danger cursor-pointer' : 'text-gray drop-cursor'
                        "
                        title="Unselect Dealer"
                        [disabled]="!selected_dealer"
                        (click)="unselectDealer()"></button>
                </div>
            </div>
        </form>
    </div>
    <div [ngClass]="installation ? 'col-lg-10' : 'col-lg-8'">
        <mat-card>
            <app-data-statistics-card
                *ngIf="
                    (generate_chart && !installation) ||
                        (installation && total && is_valid_onchange);
                    else no_content
                "
                [id]="'average-view'"
                [total_dealer]="total_dealer"
                [label_array]="label_array"
                [value_array]="value_array"
                [month_array]="month_array"
                [sub_title]="sub_title"
                [num_of_months]="num_of_months"
                [average]="average"
                [installation]="installation"
                [s_date]="start_date"
                [e_date]="end_date"
                [dealer_selected]="selected_dealer_name"
                [whole_data]="whole_data"
                [no_click]="true"
                [picker]="true"
                [total]="total">
            </app-data-statistics-card>
        </mat-card>
    </div>
    <ng-template #no_content>
        <div class="border-dashed d-flex align-items-center h-100 p-5 w-100">
            <div class="text-center w-100">
                <span class="fas fa-briefcase fa-2x text-primary mb-3"></span>
                <h3>{{ !generate_chart ? 'No Data Found' : 'Date Exceeded' }}</h3>
                <p class="sm-text mb-3">
                    {{
                        installation
                            ? "Adjust the dealer or date range up to 1 year to display selected dealer's breakdown."
                            : "Adjust the dealer or date range to display selected dealer's breakdown."
                    }}
                </p>
            </div>
        </div>
    </ng-template>
</div>
