<ng-container>
    <div class="assign-media-modal p-4 position-relative" *ngIf="!noDealerData; else no_dealers">
        <button class="modal-close-btn no-border top-0 right-0 no-background p-absolute" [mat-dialog-close]="false">
            <span class="fas fa-times"></span>
        </button>
        <ng-container *ngIf="initialLoad; else loading">
            <h3 *ngIf="!isReassigningContent; else title_edit">You are uploading content for:</h3>
            <ng-template #title_edit>
                <h3>You are editing content for:</h3>
            </ng-template>
            <p class="sm-text mb-4">Select a Dealer to get his/her Hosts and Advertiser.</p>

            <div class="text-left control-toggle mb-3" *ngIf="isReassigningContent">
                <mat-slide-toggle
                    class="mr-3"
                    (change)="onToggleFloatingContent($event)"
                    [checked]="is_floating ? 'checked' : 'false'">
                </mat-slide-toggle>
                <span class="text-muted md-text">Set as Floating Content</span>
            </div>
            <!-- Dealer -->
            <app-dealer-autocomplete
                (dealer_selected)="dealerSelected($event)"
                [active_only]="true"
                [initial_value]="dealerOwner"
                [isDisabled]="isDealer"
                [isDealerAdmin]="isUserDealerAdmin">
            </app-dealer-autocomplete>

            <!-- Host -->
            <div class="position-relative">
                <app-host-autocomplete
                    *ngIf="assignData.dealerId; else no_dealer_host"
                    [dealer_id]="assignData.dealerId || null"
                    (host_selected)="hostSelected($event)"
                    [initial_value]="hostOwner">
                </app-host-autocomplete>
                <ng-template #no_dealer_host>
                    <p class="bg-info text-white p-2 mb-3 sm-text">No Host Available</p>
                </ng-template>
            </div>

            <!-- Advertiser -->
            <div class="position-relative">
                <app-advertiser-autocomplete
                    *ngIf="assignData.dealerId; else no_dealer_adv"
                    [dealer_id]="assignData.dealerId || null"
                    (advertiser_selected)="advertiserSelected($event)">
                </app-advertiser-autocomplete>
                <ng-template #no_dealer_adv>
                    <p class="bg-info text-white p-2 mb-0 sm-text">No Advertiser Available</p>
                </ng-template>
            </div>

            <div *ngIf="!isReassigningContent; else edit_button">
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <button
                            mat-button
                            mat-raised-button
                            class="theme-btn mt-4 mr-2"
                            [mat-dialog-close]="assignData"
                            [disabled]="!assignData.dealerId">
                            Done
                        </button>
                        <button
                            mat-button
                            mat-raised-button
                            class="theme-btn mt-4"
                            (click)="resetOwnerData()"
                            [mat-dialog-close]="assignData">
                            Skip
                        </button>
                    </div>

                    <div>
                        <mat-slide-toggle
                            (change)="setOptimizedVideoUploadValue($event)"
                            [(ngModel)]="optimizeVideoUpload">
                            <small class="ml-2">Optimize video upload (Recommended)</small>
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>

            <ng-template #edit_button>
                <button
                    mat-button
                    mat-raised-button
                    class="theme-btn mt-4 mr-2"
                    (click)="updateData()"
                    [disabled]="!assignData.dealerId && !is_floating">
                    Update
                </button>
                <button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="false">Cancel</button>
            </ng-template>
        </ng-container>
    </div>

    <ng-template #loading>
        <div class="py-5">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <ng-template #no_dealers>
        <div class="p-3">
            <h3>No Dealers Available</h3>
            <p class="sm-text mb-4">The media files you'll be uploading will be tagged as "Floating".</p>
            <button
                mat-button
                mat-raised-button
                class="theme-btn mt-4 mr-2"
                [mat-dialog-close]="false"
                [routerLink]="['administrator/users/create-user/dealer']">
                Create Dealer First
            </button>
            <button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="true">Continue</button>
        </div>
    </ng-template>
</ng-container>
