<div class="container pt-2" id="edit-host">
    <div class="row">
        <div class="col-lg-9">
            <div class="d-inline-flex">
                <h3>Edit Host</h3>
                <span class="sm-text ml-3" [ngClass]="host.status === 'A' ? 'text-primary' : 'text-white'">
                    <span class="fas fa-circle"></span>
                </span>
            </div>
        </div>
        <div class="col-lg-2 text-right">
            <mat-slide-toggle (change)="onToggleStatus($event)" labelPosition="before" [(ngModel)]="is_active_host">
                <span class="sm-text font-weight-bold">{{ is_active_host ? "Active" : "Inactive" }}</span>
            </mat-slide-toggle>
        </div>
        <div class="col-lg-1 text-right">
            <button class="text-light-gray no-border no-background" [mat-dialog-close]="false">
                <span class="fas fa-times"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="edit_host_form" (ngSubmit)="saveHostData()">
                <div class="custom-mat-tab mt-3">
                    <mat-tab-group>
                        <mat-tab label="Details">
                            <div class="h-500 overflow-y-auto overflow-x-hidden">
                                <div class="flex my-2">
                                    <div class="margin-left-auto sm-text">
                                        <span class="text-gray font-weight-bold">CREATED BY :</span>
                                        <span class="ml-2 text-primary"> {{ created_by.firstName }}</span>
                                        <span class="ml-1 text-primary">{{ created_by.lastName }}</span>
                                        <span class="ml-2 font-italic text-gray">({{ created_by.roleName }})</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <app-autocomplete-field
                                        class="full-width"
                                        [data_reference]="dealers_data"
                                        [primary_keyword]="'businessName'"
                                        [key_of_value]="'dealerId'"
                                        (data_value)="onSelectDealer($event)"
                                        [required]="true"
                                        [label]="'Type in a Dealer Business Name'"
                                        [new_value]="dealer.businessName"
                                        [initial_value]="dealer.businessName"
                                        [disabled]="!is_current_user_admin || is_dealer_change_disabled"
                                        [paging]="paging"
                                        (call_next_page)="getDealers($event)"
                                        (searched)="searchDealer($event)"
                                        [no_edit]="closed_without_edit"
                                    >
                                    </app-autocomplete-field>

                                    <ng-container *ngIf="is_current_user_admin">
                                        <mat-icon
                                            class="clickable position-absolute mt-2 r-15 text-gray"
                                            [ngClass]="{ 'text-danger': !is_dealer_change_disabled }"
                                            (click)="changeHostDealer(!is_dealer_change_disabled)"
                                        >
                                            {{ is_dealer_change_disabled ? "mode_edit" : "close" }}
                                        </mat-icon>
                                    </ng-container>
                                </div>
                                <div class="flex">
                                    <div class="flex-even pr-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>Host Business Name</mat-label>
                                            <input matInput type="text" formControlName="businessName" placeholder="Ex. Angel's Burger" />
                                        </mat-form-field>
                                    </div>
                                    <div class="flex-even">
                                        <div *ngIf="categories_loaded; else loadingCategories">
                                            <app-autocomplete-field
                                                [data_reference]="categories_data"
                                                [primary_keyword]="'categoryName'"
                                                [key_of_value]="'categoryName'"
                                                (data_value)="setCategory($event)"
                                                [required]="true"
                                                [label]="'Choose Category'"
                                                [new_value]="category_selected"
                                                [initial_value]="category_selected"
                                            >
                                            </app-autocomplete-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="flex-even pr-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>Latitude</mat-label>
                                            <input matInput type="number" step="any" formControlName="lat" placeholder="Ex. 58.933" />
                                        </mat-form-field>
                                    </div>

                                    <div class="flex-even pr-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>Longitude</mat-label>
                                            <input matInput type="number" step="any" formControlName="long" placeholder="Ex. 58.933" />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="flex">
                                    <mat-checkbox [(ngModel)]="canada_selected" [ngModelOptions]="{ standalone: true }" (change)="getCanadaAddress($event)" class="sm-text">
                                        Canada Address
                                    </mat-checkbox>
                                </div>

                                <div class="flex">
                                    <div class="flex-even pr-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>Address</mat-label>
                                            <input matInput type="text" formControlName="address" placeholder="Ex. 21st Drive Fifth Avenue Place" />
                                        </mat-form-field>
                                    </div>
                                    <div class="flex-even pr-3">
                                        <div *ngIf="cities_loaded; else loadingCities">
                                            <app-autocomplete-field
                                                [label]="'City'"
                                                [placeholder]="'Ex. Chicago'"
                                                (data_value)="setCity($event, true)"
                                                [key_of_value]="'city_state'"
                                                [data_reference]="city_state"
                                                [search_keyword]="'city_state'"
                                                [primary_keyword]="'city_state'"
                                                [new_value]="city_selected"
                                                [initial_value]="city_selected"
                                                [is_city]="true"
                                            >
                                            </app-autocomplete-field>
                                        </div>
                                    </div>
                                    <div class="state-container">
                                        <mat-form-field>
                                            <mat-label>State</mat-label>
                                            <input matInput type="text" formControlName="state" placeholder="Ex. IL" />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="region-container pr-3">
                                        <mat-form-field>
                                            <mat-label>Region</mat-label>
                                            <input matInput type="text" formControlName="region" placeholder="Ex. SW" />
                                        </mat-form-field>
                                    </div>

                                    <div class="zip-container pr-3">
                                        <mat-form-field>
                                            <mat-label>Zip Code</mat-label>
                                            <input matInput type="text" formControlName="zip" placeholder="Ex. 54001" />
                                        </mat-form-field>
                                    </div>

                                    <div class="timezone-container pr-3">
                                        <div *ngIf="timezones_loaded; else loadingTimezones">
                                            <app-autocomplete-field
                                                [data_reference]="timezones"
                                                [primary_keyword]="'name'"
                                                [key_of_value]="'id'"
                                                (data_value)="setTimezone($event)"
                                                [required]="true"
                                                [label]="'Timezone'"
                                                [initial_value]="host.timeZoneData.name"
                                            >
                                            </app-autocomplete-field>
                                        </div>
                                    </div>

                                    <div class="flex-even">
                                        <mat-form-field class="full-width">
                                            <mat-label>Vistar Venue ID</mat-label>
                                            <input matInput type="text" formControlName="vistar_venue_id" placeholder="Venue ID for Vistar" />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="flex-even pr-3" *ngIf="!is_current_user_dealer">
                                        <mat-form-field class="full-width">
                                            <mat-label>Notes</mat-label>
                                            <textarea matInput maxLength="500" formControlName="notes" placeholder="Enter your notes here.."> </textarea>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex-even">
                                        <mat-form-field class="full-width">
                                            <mat-label>Others</mat-label>
                                            <textarea matInput maxLength="500" formControlName="others" placeholder="Other stuff here..."> </textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <!---------------- BUSINESS HOURS SECTION ---------------->
                        <mat-tab label="Hours">
                            <div class="h-500 overflow-y-auto overflow-x-hidden">
                                <div class="flex">
                                    <div class="margin-left-auto my-2">
                                        <button mat-button mat-raised-button class="theme-btn bulk-edit" type="button" (click)="onBulkEditHours()">Bulk Edit</button>
                                    </div>
                                </div>

                                <div *ngFor="let h of business_hours; let business_hour_index = index">
                                    <div class="flex mb-2">
                                        <div class="day-container mr-3">
                                            <div
                                                class="round-label mt-4"
                                                (click)="selectDay(h)"
                                                [ngClass]="h.status ? 'active' : ''"
                                                matTooltip="Click to set {{ h.day }} as {{ h.status ? 'closed' : 'open' }}"
                                            >
                                                <span class="font-weight-bold">{{ h.label }}</span>
                                            </div>
                                        </div>

                                        <div class="flex-even">
                                            <div *ngIf="h.status; else closed">
                                                <div *ngFor="let period of h.periods; let period_index = index">
                                                    <div class="flex" *ngIf="isOpenButNotAllDay(period); else openAllDay">
                                                        <div class="opening-container mr-3">
                                                            <mat-label class="sm-text">Opening Hours</mat-label>
                                                            <ngb-timepicker
                                                                class="full-width"
                                                                [(ngModel)]="period.openingHourData"
                                                                (change)="checkBusinessHoursFields()"
                                                                [spinners]="false"
                                                                [meridian]="true"
                                                                [ngModelOptions]="{ standalone: true }"
                                                            >
                                                            </ngb-timepicker>
                                                        </div>

                                                        <div class="separator-container mx-3 mt-4 pt-2">
                                                            <span> - </span>
                                                        </div>

                                                        <div class="closing-container mr-3 ml-3">
                                                            <mat-label class="sm-text">Closing Hours</mat-label>
                                                            <ngb-timepicker
                                                                [(ngModel)]="period.closingHourData"
                                                                (change)="checkBusinessHoursFields()"
                                                                [spinners]="false"
                                                                [meridian]="true"
                                                                [ngModelOptions]="{ standalone: true }"
                                                            >
                                                            </ngb-timepicker>
                                                        </div>

                                                        <div class="flex-even pt-4">
                                                            <div class="flex">
                                                                <div class="wholeday-container mr-3">
                                                                    <button
                                                                        class="btn btn-outline-primary"
                                                                        type="button"
                                                                        matTooltip="{{ 'Set to open for 24 hours on ' + h.day }}"
                                                                        (click)="setToOpenAllDay(business_hour_index, period_index)"
                                                                    >
                                                                        24h
                                                                    </button>
                                                                </div>
                                                                <div class="flex-even mr-3">
                                                                    <div *ngIf="isOpenButNotAllDay(period)">
                                                                        <i class="add-hours-btn fas fa-plus ml-2 f-20" (click)="addHours(h)" title="Add Period"> </i>
                                                                        <i
                                                                            *ngIf="h.periods.length > 1"
                                                                            class="remove-hours-btn fas fa-times f-20"
                                                                            title="Remove Period"
                                                                            (click)="removeHours(h, period_index)"
                                                                        ></i>
                                                                        <mat-icon class="float-right p-1 text-primary" [ngClass]="checkSchedule(h.day)" title="Valid time">
                                                                            {{ checkSchedule(h.day) === "valid" ? "check_circle text-primary" : "cancel" }}
                                                                        </mat-icon>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ng-template #openAllDay>
                                                        <h5 class="pt-4 mt-2">
                                                            <span
                                                                class="text-primary clickable"
                                                                (click)="removeOpenAllDay(business_hour_index, period_index)"
                                                                matTooltip="Click to change"
                                                                >Open 24 hours</span
                                                            >
                                                        </h5>
                                                    </ng-template>
                                                </div>
                                            </div>
                                            <ng-template #closed>
                                                <h5 class="pt-4 mt-2 text-danger">Closed on {{ getFullDayName(h.label) }}</h5>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

                <div class="flex">
                    <div class="flex-even">
                        <button
                            mat-button
                            mat-raised-button
                            type="submit"
                            class="theme-btn mt-4 mr-2"
                            color="primary"
                            [disabled]="
                                has_invalid_schedule ||
                                edit_host_form.invalid ||
                                (canada_selected && edit_host_form.get('zip').value.length !== 6) ||
                                (!canada_selected && edit_host_form.get('zip').value.length !== 5)
                            "
                        >
                            Update
                        </button>
                        <button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="false">Cancel</button>
                    </div>
                    <div class="delete-host-container text-right">
                        <button *ngIf="is_current_user_admin" mat-button mat-raised-button class="theme-btn mt-4 delete bg-danger" type="button" (click)="onDeleteHost()">
                            Delete Host
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #loadingCategories>
    <div>
        <div class="mr-4 mt-2">
            <span class="md-text font-italic">Loading Categories...</span>
        </div>
        <app-spinner [diameter]="20"></app-spinner>
    </div>
</ng-template>

<ng-template #loadingCities>
    <div>
        <div class="mr-4 mt-2">
            <span class="md-text font-italic">Loading Cities...</span>
        </div>
        <app-spinner [diameter]="20"></app-spinner>
    </div>
</ng-template>

<ng-template #loadingTimezones>
    <div>
        <div class="mr-4 mt-2">
            <span class="md-text font-italic">Loading Timezones...</span>
        </div>
        <app-spinner [diameter]="20"></app-spinner>
    </div>
</ng-template>
