button.dismiss {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}

.warning {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px;
}

.schedule-type {
    h3 {
        margin-bottom: 5px;
    }

    .mat-radio-button {
        display: block;
        font-size: 15px !important;
        margin-bottom: 15px;
    }
}

.filler {
    border-left: 2px solid lightgray;
    max-width: 2px;
    height: 420px;
}

.scheduling {
    .checkboxes {
        margin-top: 15px;
    }

    .mat-slide-toggle {
        float: right;
    }
}

.warning {
    color: red;
    width: 500px;
    font-size: 13px;
    margin-top: 30px;
    position: absolute;
}

button.submit {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #8ec641;
    color: #ffffff;
}
