<div class="analytics-tab-container" *ngIf="screen; else no_screen">
    <div class="row mt-4 align-items-center">
        <div class="col-lg-4">
            <h2>{{ current_date_display }}</h2>
        </div>
        <div class="col-lg-8 text-right">
            <mat-form-field class="mr-3" appearance="fill">
                <mat-label>Zone</mat-label>
                <mat-select [(value)]="selected_zone">
                    <mat-option [value]="-1"> Show All </mat-option>
                    <mat-option *ngFor="let zone of content_per_zone" [value]="zone.zone_order">
                        {{ zone.zone_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="mr-3" appearance="fill">
                <mat-label>Select Display Mode</mat-label>
                <mat-select
                    [(value)]="selected_display_mode"
                    (selectionChange)="onSelectDisplayMode($event.value)">
                    <mat-option *ngFor="let mode of display_mode" [value]="mode.value">
                        {{ mode.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="mr-3"
                appearance="fill"
                *ngIf="selected_display_mode === 'monthly'">
                <mat-label>Select Month</mat-label>
                <mat-select
                    [(value)]="selected_month"
                    (selectionChange)="onSelectMonth($event.value)">
                    <mat-option *ngFor="let month of months" [value]="month.value">
                        {{ month.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selected_display_mode === 'daily'">
                <mat-label>Choose a date</mat-label>
                <input
                    matInput
                    (dateInput)="onSelectDate($event.value)"
                    [matDatepicker]="picker"
                    [(value)]="queried_date"
                    readonly />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <!-- Monthly -->
    <ng-container *ngIf="selected_display_mode === 'monthly'">
        <div class="row" *ngIf="!monthly_chart_updating; else loader">
            <ng-container *ngIf="monthly_content_count.length > 0; else no_data">
                <ng-container *ngFor="let cc of monthly_content_count">
                    <div class="col-lg-4 mb-4" [ngClass]="inZone(cc) ? '' : 'd-none'">
                        <mat-card style="height: 375px">
                            <div class="d-flex align-items-center">
                                <div class="chart-thumbnail mr-3">
                                    <img
                                        [src]="
                                            cc.fileType !== 'webm'
                                                ? cc.thumbnail
                                                : cc.url +
                                                  cc.fileName.substr(
                                                      0,
                                                      cc.fileName.lastIndexOf('.') + 1
                                                  ) +
                                                  'jpg'
                                        "
                                        alt="content-thumbnail" />
                                </div>
                                <div>
                                    <a
                                        [routerLink]="[
                                            '/administrator/media-library/',
                                            cc.contentId
                                        ]"
                                        target="_blank">
                                        <h5
                                            *ngIf="cc.fileType != 'feed'; else is_feed"
                                            [title]="cc.fileName | nohandle">
                                            {{ cc.fileName | nohandle | substring: 20 }}
                                        </h5>

                                        <ng-template #is_feed>
                                            <h5>{{ cc.title }}</h5>
                                        </ng-template>
                                    </a>
                                    <p class="sm-text mb-0">Uploaded {{ cc.dateCreated | date }}</p>
                                </div>
                            </div>

                            <app-data-graph
                                *ngIf="!destroy_monthly_charts"
                                [analytics_reload]="analytics_reload.asObservable()"
                                [data_set]="cc.contentPlaysListCount"
                                [graph_id]="cc.contentId + '_monthly'"
                                [realtime_data_per_license]="realtime_data"
                                [date_format]="selected_display_mode"
                                [date_queried]="queried_date"
                                [page]="'single-license'">
                            </app-data-graph>
                        </mat-card>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <!-- Yearly -->
    <ng-container *ngIf="selected_display_mode === 'yearly'">
        <div class="row" *ngIf="!yearly_chart_updating; else loader">
            <ng-container *ngIf="yearly_content_count.length > 0; else no_data">
                <div class="col-lg-4 mb-4" *ngFor="let cc of yearly_content_count">
                    <mat-card style="height: 375px">
                        <div class="d-flex align-items-center">
                            <div class="chart-thumbnail mr-3">
                                <img
                                    [src]="
                                        cc.fileType !== 'webm'
                                            ? cc.thumbnail
                                            : cc.url +
                                              cc.fileName.substr(
                                                  0,
                                                  cc.fileName.lastIndexOf('.') + 1
                                              ) +
                                              'jpg'
                                    "
                                    alt="content-thumbnail" />
                            </div>
                            <div>
                                <a
                                    [routerLink]="['/administrator/media-library/', cc.contentId]"
                                    target="_blank">
                                    <h5
                                        *ngIf="cc.fileType != 'feed'; else is_feed_y"
                                        [title]="cc.fileName | nohandle">
                                        {{ cc.fileName | nohandle | substring: 20 }}
                                    </h5>

                                    <ng-template #is_feed_y>
                                        <h5>
                                            {{ cc.title }}
                                        </h5>
                                    </ng-template>
                                </a>
                                <p class="sm-text mb-0">Uploaded {{ cc.dateCreated | date }}</p>
                            </div>
                        </div>

                        <app-data-graph
                            [analytics_reload]="analytics_reload.asObservable()"
                            [data_set]="cc.contentPlaysListCount"
                            [graph_id]="cc.contentId + '_yearly'"
                            [realtime_data_per_license]="realtime_data"
                            [date_format]="selected_display_mode"
                            [date_queried]="queried_date"
                            [page]="'single-license'">
                        </app-data-graph>
                    </mat-card>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- Daily -->
    <ng-container *ngIf="selected_display_mode === 'daily'">
        <div class="row" *ngIf="!daily_chart_updating; else loader">
            <ng-container *ngIf="daily_content_count.length > 0; else no_data">
                <ng-container *ngFor="let cc of daily_content_count">
                    <div class="col-lg-4 mb-4" [ngClass]="inZone(cc) ? '' : 'd-none'">
                        <mat-card style="height: 375px">
                            <div class="d-flex align-items-center">
                                <div class="chart-thumbnail mr-3">
                                    <img
                                        [src]="
                                            cc.fileType !== 'webm'
                                                ? cc.thumbnail
                                                : cc.url +
                                                  cc.fileName.substr(
                                                      0,
                                                      cc.fileName.lastIndexOf('.') + 1
                                                  ) +
                                                  'jpg'
                                        "
                                        alt="content-thumbnail" />
                                </div>
                                <div>
                                    <a
                                        [routerLink]="[
                                            '/administrator/media-library/',
                                            cc.contentId
                                        ]"
                                        target="_blank">
                                        <h5
                                            *ngIf="cc.fileType != 'feed'; else is_feed_d"
                                            [title]="cc.fileName | nohandle">
                                            {{ cc.fileName | nohandle | substring: 20 }}
                                        </h5>

                                        <ng-template #is_feed_d>
                                            <h5>
                                                {{ cc.title }}
                                            </h5>
                                        </ng-template>
                                    </a>
                                    <p class="sm-text mb-0">Uploaded {{ cc.dateCreated | date }}</p>
                                </div>
                            </div>

                            <app-data-graph
                                *ngIf="!destroy_daily_charts"
                                [analytics_reload]="analytics_reload.asObservable()"
                                [data_set]="cc.contentPlaysListCount"
                                [graph_id]="cc.contentId + '_daily'"
                                [realtime_data_per_license]="realtime_data"
                                [date_format]="selected_display_mode"
                                [date_queried]="queried_date"
                                [page]="'single-license'">
                            </app-data-graph>
                        </mat-card>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>

<ng-template #no_screen>
    <div class="no-screen vh-50 row align-items-center justify-content-center">
        <div class="col-lg-12 text-center">
            <span class="fa fa-tv"></span>
            <br />
            <div class="captions mt-3">No Screen Assigned</div>
        </div>
    </div>
</ng-template>

<ng-template #loader>
    <div class="loader text-center py-5 d-flex align-items-center vh-50">
        <div class="w-100">
            <mat-spinner></mat-spinner>
            <h3 class="mt-4 mb-2">Please Wait</h3>
            <p class="sm-text">Getting content logs from database. This might take a while.</p>
        </div>
    </div>
</ng-template>

<ng-template #no_data>
    <div class="col-lg-12 text-center">
        <div class="loader text-center py-5 d-flex align-items-center vh-50">
            <div class="w-100">
                <h3 class="mt-4 mb-2">No Data Found</h3>
                <p class="sm-text">There are no recorded plays of content during this date.</p>
            </div>
        </div>
    </div>
</ng-template>
