<ng-container>
    <div class="py-4 px-3" *ngIf="!form_submitted && !clone_success && all_dealers; else loading">
        <h3>You are cloning {{ screen_data.screen_title }}</h3>
        <p class="sm-text mb-4">Fill the basic information to continue with the cloning process.</p>

        <form [formGroup]="clone_screen_form" (ngSubmit)="cloneScreen()">
            <div *ngFor="let f of form_fields_view">
                <mat-form-field class="full-width">
                    <mat-label>{{ f.label }}</mat-label>
                    <input
                        formControlName="{{ f.control }}"
                        type="{{ f.type }}"
                        matInput
                        placeholder="{{ f.placeholder }}" />
                </mat-form-field>
            </div>

            <div *ngIf="!is_dealer">
                <div class="col-12 p-0">
                    <app-autocomplete-field
                        [data_reference]="screen_types"
                        [primary_keyword]="'description'"
                        [key_of_value]="'screenTypeId'"
                        (data_value)="setScreenType($event)"
                        [required]="true"
                        [label]="'Click to select a Screen Type'">
                    </app-autocomplete-field>
                </div>

                <app-autocomplete-field
                    *ngIf="no_dealer_selected; else dealer_selected"
                    (data_value)="dealerSelected($event)"
                    [key_of_value]="'dealerId'"
                    [placeholder]="'Select A Dealer'"
                    [label]="'Select A Dealer'"
                    [data_reference]="dealers_data"
                    [search_keyword]="'businessName'"
                    [primary_keyword]="'businessName'"
                    [initial_value]="dealer_name"
                    [new_value]="dealer_name"
                    [disabled]="is_dealer"
                    [paging]="paging"
                    (call_next_page)="searchBoxTrigger($event)"
                    (searched)="searchData($event)"
                    [loading_data]="loading_data"
                    [loading_search]="loading_search">
                </app-autocomplete-field>

                <ng-container *ngIf="no_host_available">
                    <span class="sm-text text-danger font-weight-bold ml-3"
                        >This dealer has no available hosts.</span
                    >
                </ng-container>

                <ng-template #dealer_selected>
                    <h6 class="sm-text text-muted mb-2">Selected Dealer</h6>
                    <div
                        class="auto-complete-selected mb-3 px-3 py-2"
                        *ngFor="let dealer of selected_dealer">
                        <span class="sm-text text-white font-weight-bold mr-3">{{
                            dealer.businessName
                        }}</span>
                        <a (click)="deselectDealer()"
                            ><span class="fas fa-times text-white"></span
                        ></a>
                    </div>
                </ng-template>
            </div>

            <!-- for display only -->
            <div *ngIf="is_dealer">
                <app-autocomplete-field
                    (data_value)="dealerSelected($event)"
                    [key_of_value]="'dealerId'"
                    [placeholder]="'Select A Dealer'"
                    [label]="'Select A Dealer'"
                    [data_reference]="all_dealers"
                    [search_keyword]="'businessName'"
                    [primary_keyword]="'businessName'"
                    [initial_value]="dealer_name"
                    [new_value]="dealer_name"
                    [disabled]="is_dealer"
                    [paging]="paging"
                    (call_next_page)="getDealers($event)"
                    (searched)="searchData($event)"
                    [loading_data]="loading_data">
                </app-autocomplete-field>

                <div class="col-12 p-0">
                    <app-autocomplete-field
                        [data_reference]="screen_types"
                        [primary_keyword]="'description'"
                        [key_of_value]="'screenTypeId'"
                        [label]="'Screen Type'"
                        [initial_value]="screen_type.description"
                        [new_value]="screen_type.description"
                        [disabled]="true">
                    </app-autocomplete-field>
                </div>
            </div>

            <div *ngIf="!no_dealer_selected && hosts.length > 0">
                <app-autocomplete-field
                    *ngIf="no_host_selected; else host_selected"
                    [autocompleteSetting]="'off'"
                    [key_of_value]="'hostId'"
                    [placeholder]="'Select A Host'"
                    [label]="'Select A Host'"
                    [data_reference]="hosts_data"
                    [search_keyword]="'name'"
                    [primary_keyword]="'name'"
                    [paging]="paging_host"
                    [loading_data]="loading_data_host"
                    [loading_search]="loading_search_host"
                    [initial_load]="initial_load"
                    (data_value)="hostSelected($event)"
                    (call_next_page)="hostSearchBoxTrigger($event)"
                    (searched)="searchHostData($event)">
                </app-autocomplete-field>

                <ng-template #host_selected>
                    <h6 class="sm-text text-muted mb-2">Selected Host</h6>
                    <div
                        class="auto-complete-selected px-3 py-2"
                        *ngFor="let host of selected_host">
                        <span class="sm-text text-white font-weight-bold mr-3">{{
                            host.name
                        }}</span>
                        <a (click)="deselectHost()"
                            ><span class="fas fa-times text-white"></span
                        ></a>
                    </div>
                </ng-template>
            </div>

            <button
                mat-button
                mat-raised-button
                class="theme-btn mt-4 mr-2"
                [disabled]="form_valid">
                Submit
            </button>
            <button
                mat-button
                mat-raised-button
                class="theme-btn mt-4 bg-danger"
                [mat-dialog-close]="false">
                Cancel
            </button>
        </form>
    </div>

    <ng-template #loading>
        <div
            class="d-flex align-items-center justify-content-center w-100 h-100 py-5"
            *ngIf="!clone_success">
            <div class="py-5">
                <app-spinner></app-spinner>
                <h5 class="mt-4 text-center">Please wait...</h5>
            </div>
        </div>
    </ng-template>

    <ng-container *ngIf="clone_success">
        <div class="py-4 text-center success-container">
            <app-success-animation></app-success-animation>
            <h3 class="mb-1">Screen Cloned Successfully!</h3>
            <p class="mb-0 sm-text font-weight-md">Click the button below to continue</p>
            <button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="true">
                Continue
            </button>
        </div>
    </ng-container>
</ng-container>
