.password-container {
    .field {
        display: flex;
        flex-direction: row;

        .pw-visibility {
            cursor: pointer;
        }
    }
}

.validation {
    display: flex;

    .validation_msg {
        position: unset;
    }
}
