<div class="p-5 user-form">
    <div class="d-flex align-items-center mb-5">
        <div class="mr-3">
            <img src="/assets/media-files/dealer-icon.png" class="user-icon" alt="admin-icon" />
        </div>
        <div class="flex-even">
            <h3 class="mb-0">{{ form_title }}</h3>
            <p class="sm-text mb-0">{{ form_description }}</p>
        </div>
        <div class="text-right">
            <a class="sm-text font-weight-bold text-primary" [routerLink]="['/administrator/users/create-user']">
                <span class="fas fa-angle-left mr-2"></span>
                Select User Type
            </a>
        </div>
    </div>
    <ng-container *ngIf="new_dealer_form">
        <form
            [formGroup]="new_dealer_form"
            #formDirective="ngForm"
            (ngSubmit)="createNewDealer(formDirective)"
            class="text-left position-relative">
            <div class="row mb-4">
                <ng-container>
                    <div *ngFor="let field of form_fields_view" class="{{ field.width }}">
                        <mat-form-field
                            class="full-width"
                            *ngIf="
                                !field.is_autocomplete && field.type !== 'password' && !field.isComponent;
                                else customField
                            ">
                            <mat-label>{{ field.label }}</mat-label>
                            <input
                                formControlName="{{ field.control }}"
                                type="{{ field.type }}"
                                matInput
                                placeholder="{{ field.placeholder }}" />
                        </mat-form-field>

                        <ng-template #customField>
                            <mat-form-field class="full-width" *ngIf="field.control === 'password'">
                                <mat-label>{{ field.label }}</mat-label>
                                <div class="field d-flex">
                                    <input
                                        formControlName="{{ field.control }}"
                                        matInput
                                        placeholder="{{ field.placeholder }}"
                                        [type]="is_password_field_type ? 'password' : 'text'" />
                                    <mat-icon class="pw-visibility" matSuffix (click)="togglePasswordFieldType()">{{
                                        is_password_field_type ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                                </div>
                            </mat-form-field>

                            <mat-form-field class="full-width" *ngIf="field.control === 're_password'">
                                <mat-label>{{ field.label }}</mat-label>
                                <div class="field d-flex">
                                    <input
                                        matInput
                                        formControlName="{{ field.control }}"
                                        placeholder="{{ field.placeholder }}"
                                        [type]="is_retype_password_field_type ? 'password' : 'text'" />
                                    <mat-icon
                                        class="pw-visibility"
                                        matSuffix
                                        (click)="toggleRetypePasswordFieldType()"
                                        >{{ is_retype_password_field_type ? 'visibility_off' : 'visibility' }}</mat-icon
                                    >
                                </div>
                            </mat-form-field>

                            <ng-container *ngIf="field.control === 'contactNumber'">
                                <app-contact-number
                                    (contact_value)="getContactValue($event)"
                                    (touch_and_not_valid)="setContactNumberToInvalid($event)">
                                </app-contact-number>
                            </ng-container>

                            <ng-container *ngIf="field.is_autocomplete">
                                <app-city-autocomplete (city_selected)="citySelected($event)"></app-city-autocomplete>
                            </ng-container>
                        </ng-template>

                        <div class="validation" *ngIf="field.type === 'password'">
                            <span
                                *ngIf="field.password_field"
                                class="validation_msg sm-text"
                                [ngClass]="password_is_valid ? 'success' : 'error'">
                                {{ password_is_valid_msg }}
                            </span>

                            <span
                                *ngIf="field.re_password_field"
                                class="validation_msg sm-text"
                                [ngClass]="password_is_match ? 'success' : 'error'">
                                {{ password_match_msg }}
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <button
                mat-button
                mat-raised-button
                class="theme-btn mr-2"
                [disabled]="form_invalid || contactTouchAndInvalid">
                Create Dealer
            </button>
        </form>
    </ng-container>
    <div class="submit-on-load d-flex align-items-center justify-content-center" *ngIf="is_submitted">
        <app-spinner></app-spinner>
    </div>
</div>
