.search-result {
	background-color: #fafafa;
	max-height: 75vh;
	overflow-y: auto;
	padding: 15px;
}

.host-licenses-list {
	margin-left: 20px;
	
	.pi-status {
		margin-left: 10px;
		border-radius: 5px;
		background: #EE5454;
		font-size: 12px;
		padding: 1px 7px;

		&.online {
			background: #8EC641;
		}
	}
}

.loader-sm-no-text {
	margin: 0 auto;
}