<div class="single-version">
    <ng-container *ngIf="!loading; else loader">
        <div class="single-version--content mb-5">
            <div class="single-version--title">
                <h1>{{ appName }}</h1>
            </div>

            <div class="single-version--button">
                <button
                    mat-button
                    mat-raised-button
                    class="theme-btn pi-control sm-text"
                    (click)="onAddPlayerVersion()">
                    <span class="fas fa-plus"></span>
                    <span class="ml-2 button_text_animation">Add App Version</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 single-version--table">
                <app-version-table
                    [table_data]="tableDataVersion"
                    (on_delete)="deleteAppVersion($event)"></app-version-table>
            </div>
        </div>
    </ng-container>

    <ng-template #loader>
        <div class="vh-50 d-flex align-items-center justify-content-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
