<div class="theme-container pt-4">
    <div class="row">
        <div class="col-lg-12">
            <span>January, 22, 2023</span>
            <p>Jeremicah created this host</p>
        </div>
    </div>

    <div class="content-section">
        <div class="row">
            <div class="col-lg-12">
                <mat-card>
                    table goes here
                    <!-- <app-data-table
								[table_data]="data here"
								[table_columns]="column_here"
								[new_table]="true"
								[paging_details]="paging_data"
								[active_tab]="sort_column"
								[sort_column]="sort_column"
								[sort_order]="sort_order"
								(reload_page)="reload_page($event)"
								(update_info)="reload_page($event)"
								(page_triggered)="getActivity($event)"
								(to_sort_column)="getColumnsAndOrder($event)"
								>
					</app-data-table> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>