.gray-back {
	background: $gray;
	padding: 5px;
	margin-top: 10px;
}

.dealer-card {
	app-data-card-count {
		mat-card {
			box-shadow: none !important;
			padding: 0px;
		}
	}
}

.select-dealer-field {
	right: 30px;
	top: 100px;
	width: 400px;

	.icon {
		color: #555;
		top: 15px;
		right: 0;
		position: absolute;
	}
}
