.navbar {
    background-color: $light;
    border-bottom: 1px solid $navbar_border;
    padding: 15px 20px;
    z-index: 8;

    &.sidebar-full {
        transition: padding-left 0.7s;
        padding-left: 220px;
    }

    &.sidebar-fully {
        transition: padding-left 0.7s;
        padding-left: 70px;
    }

    .navbar-btn {
        background-color: $transparent;
        .navbar-btn-label {
            font-weight: $f_bold;
            font-size: $md;
        }
    }
}
