// Create Host Component

.ng-form-field {
    position: relative;
}

.google-form-wrapper {
    position: relative;

    .location-candidates {
        background: #fff;
        max-height: 250px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 8;
        overflow: hidden;
        overflow-y: auto;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                cursor: pointer;
                background-color: $light;
                border-bottom: 1px solid $muted;
                padding: 15px;
                &:hover {
                    background-color: $muted;
                }
            }
        }
    }
}

.map-wrapper {
    border: 1px solid $gray_border;
    height: 750px;
}

.round-label {
    background-color: rgb(172, 172, 172);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: 0.2s linear;

    span {
        font-size: 12px;
    }

    &.active {
        background-color: rgb(144, 189, 61);
        color: #fff;
    }
}

.time-picker {
    display: inline-block;
    max-width: 40%;
    input {
        border: none;
        border-bottom: 1px solid #eaeaea;
        width: 100%;
    }
}

.input-border-bottom {
    border-bottom: 1px solid #ccc !important;
}

.add-hours-btn {
    color: rgb(144, 189, 61);
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    transition: 0.2s linear;

    &:hover {
        background-color: #e0e0e0;
    }
}

.remove-hours-btn {
    color: rgb(207, 65, 77);
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    transition: 0.2s linear;

    &:hover {
        background-color: #e0e0e0;
    }
}

.dealer-picker {
    display: flex;
    flex-wrap: nowrap;
    right: 0;
    padding-right: 26px;
    flex-direction: column;
    z-index: 10;
    .dealer-field {
        margin-left: auto;
        .mat-form-field-subscript-wrapper {
            display: none !important;
        }
        .mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }
        .mat-form-field-underline {
            bottom: 0px !important;
        }
    }
}

#outer-mat {
    > .mat-expansion-panel-content {
        background: $gray;
        padding-top: 10px;
    }
}

#directory-paging {
    .new-paging-container {
        position: relative;
    }
}

.margin-top-extra {
    margin-top: 150px;
}

.statistics {
    margin-top: 25px;
    max-height: 300px;
    transition: max-height 1s ease-out;
    canvas {
        display: block;
        margin: 0 auto;
    }
}

.statistics-graph {
    margin-top: 25px;
    max-height: 450px;
    transition: max-height 1s ease-out;
    canvas {
        display: block;
        margin: 0 auto;
    }
}

.spinner-wrapper {
    position: absolute;
    left: 42%;
    top: 32%;
}

#licenseTable {
    th {
        font-size: 11px;
    }
}

.top-50 {
    position: relative;
    top: -50px;
}

.top-120 {
    position: relative;
    top: -120px;
}

.top-90 {
    position: relative;
    top: -90px;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    &:before,
    &:after {
        position: absolute;
        content: "";
        display: block;
        border: 5px solid #ad4d4d;
    }
    span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 15px 0;
        background-color: red;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #fff;
        font: 700 18px/1 "Lato", sans-serif;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        text-align: center;
    }
}

.ribbon-top-right {
    top: -10px;
    right: -10px;
    &:before,
    &:after {
        border-top-color: transparent;
        border-right-color: transparent;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        right: 0;
    }
    span {
        left: -25px;
        top: 30px;
        transform: rotate(45deg);
    }
}

.album-preview {
	position: absolute;
	background: $dark;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 10;
	box-shadow: 5px 5px 15px $gray_dark;

	.items-wrapper {
		height: 160px;
	}

	.items {
		display: inline-block;
		height: 80px;
		width: 50%;
	}

	.controls {
		position: absolute;
		bottom: 10px;
		width: 100%;
		left: 0;
	}
}
