// Autocomplete Field
.custom-autocomplete {
    .ac-options {
        background-color: $light;
        top: 100%;
        max-height: 200px;
        overflow-y: scroll;
        z-index: 9;
        ul {
            li {
                border-bottom: 1px solid $autocomplete_border;
                font-size: 13px;
                transition: 0.2s linear;
                &:hover {
                    background-color: $lighten_white;
                }
            }
        }
    }
}

.no-screen {
    border: 1px solid $silver;
    opacity: 0.4;
    border-radius: 3px;
    background: $silver;
    .fa {
        color: $gray_dark;
        font-size: 200px;
    }
    .captions {
        font-size: 20px;
    }
}

#generate-feed-page,
#single-template-page {
    .color-picker.open {
        left: 30% !important;
        top: 10% !important;
    }
}

.color-showcase {
    height: 20px;
    width: 20px;
    top: 5px;
    right: 15px;
}

.upload-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    border: none;
    background: gray;
    color: white;
    z-index: 7;
}

.remove-button {
    position: absolute;
    right: 60px;
    top: 0;
    height: 100%;
    width: 60px;
    border: none;
    background: rgb(236, 113, 113);
    color: white;
    z-index: 7;
}

.grid-details {
    // &:hover, &:focus {
    //     .license-details {
    //         max-height: 69px;
    //         height: 69px;
    //         // transition: max-height 0.25s ease-in;
    //         // transform: scaleY(1);
    //     }
    // }
    .license-details {
        height: 69px;
        // overflow: hidden;
        // transition: transform .5s;
        // transform: scaleY(0);
        // transform-origin: 0 100%;
    }
    .fas {
        font-size: 14px;
    }
}

.favorites-container {
    &:hover {
        i {
            color: yellow;
        }
    }
}
