// Autocomplete Field
.custom-autocomplete {
    .ac-options {
        background-color: $light;
        top: 100%;
        max-height: 200px;
        overflow-y: scroll;
        z-index: 9;
        ul {
            li {
                border-bottom: 1px solid $autocomplete_border;
                font-size: 13px;
                transition:  0.2s linear;
                &:hover {
                    background-color: $lighten_white;
                }
            }
        }
    }
}

.no-screen {
    border: 1px solid $silver;
    opacity: .4;
    border-radius: 3px;
    background: $silver;
    .fa {
        color: $gray_dark;
        font-size: 200px;
    }
    .captions {
        font-size: 20px;
    }
}

.color-picker.open {
    left: 30% !important;
    top: 10% !important; 
}

.color-showcase {
    height: 20px;
    width: 20px;
    top: 5px;
    right: 15px;
}

.upload-button {
    position: absolute;
    right: -13px;
    top: -26px;
    height: 60px;
    width: 60px;
    border: none;
    background: gray;
    color: white;
    z-index: 7;
}