@property --bg {
    syntax: '<color>';
    inherits: true;
    initial-value: #1c2731;
}

@media screen {
    .sidebar {
        background-color: $dark;
        z-index: 8;
        .logo {
            display: flex;
            padding: 15px 20px;
            &-image {
                width: 140px;
            }
        }
        .menu {
            a {
                color: $light;
                display: inline-block;
                padding: 10px 20px;
                font-size: $md;
                transition: 0.1s linear;

                .count,
                .badge {
                    background-color: $primary;
                }

                &:hover {
                    background-color: rgb(142 198 65 / 20%);
                    padding-left: 30px;
                }
                &.is-active {
                    background-color: rgb(142 198 65 / 20%);
                    border-left: 3px solid $primary;

                    .fas {
                        color: $primary;
                    }

                    .count,
                    .badge {
                        background-color: $dark;
                    }
                }
            }
        }
        .sidebar-toggle-button {
            background-color: $primary;
            color: $light;
            height: 25px;
            right: -12px;
            top: 15px;
            width: 25px;
        }
    }

    .sidebar-menu {
        transition: width 0.7s;
        width: 200px;

        .logo {
            display: flex;
            align-items: center;

            &-image {
                opacity: 1;
                transition: 0.6s ease-in-out;
                margin-left: -25px;
            }

            &-icon {
                opacity: 0;
                margin-left: -10px;
                width: 35px;
            }
        }

        .url-text {
            opacity: 1;
            transition: 0.5s ease-in-out;
            margin-left: 10px;
        }
    }

    .menu {
        transition: --bg 0.8s;
        height: calc(100vh - 55px);
        overflow-y: hidden;
    }

    .menu:hover {
        overflow-y: auto;
        --bg: #f1f1f1;
    }

    .menu::-webkit-scrollbar {
        width: 10px;
    }

    .menu::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: var(--bg);
        border: solid 3px #1c2731;
    }

    .sidebar-icons-only {
        transition: width 0.8s;
        width: 50px;

        .logo-icon {
            position: relative;
            transition: 0.6s ease-in-out;
            opacity: 1;
            left: -15px;
            width: 35px;
        }

        .logo-image {
            transition: margin-left 0.6s;
            opacity: 0;
            margin-left: 25px;
        }

        .menu {
            .url-text {
                opacity: 0;
                transition: 0.4s ease-in-out;
                margin-left: -120px;
            }

            a {
                &:hover {
                    padding-left: 20px;
                }
            }
        }
    }
}
