.programmatic-key-value {
    height: 250px;
    overflow-y: scroll;
}

.form-error-message {
    font-size: 12px;
    color: red;
}

.gap-2 {
    gap: 2px;
}

.text-area-description {
    min-height: 4em;
}
