<div class="p-2">
	<div class="d-flex">
		<div class="flex-even">
			<h3 class="p-0 col-lg-12">Dealer Details: </h3>
			<p class="p-0 sm-text mb-4">You can update dealer details here:</p>
		</div>
		<div>
			<button class="modal-close-btn no-border no-background" [mat-dialog-close]="true">
				<span class="fas fa-times"></span>
			</button>
		</div>
	</div>
	<div *ngIf="other_users;else loading">
		<form [formGroup]="dealer_form" (ngSubmit)="onSubmit()" class="text-left" >
			<div class="row mb-4">
				<div *ngFor="let field of dealer_form_view" class="{{ field.col }} mb-3">
					<mat-form-field class="full-width" *ngIf="field.type !== 'toggle'; else toggle">
						<mat-label>{{ field.label }}</mat-label> 
						<span class="validation-message warning sm-text py-1 text-danger" *ngIf="!email_not_valid && has_duplicate_email && field.control == 'email'">
                            This email is already taken.
						</span>
						<span class="validation-message warning sm-text py-1 text-danger" *ngIf="email_not_valid && field.control == 'email'">
                            The email format is invalid.
						</span>
						<input formControlName="{{ field.control }}" matInput placeholder="{{ field.placeholder }}" *ngIf="field.control !== 'password'">
						<input formControlName="{{ field.control }}" matInput placeholder="{{ field.placeholder }}" *ngIf="field.control === 'password'" [type]="is_password_field_type ? 'password' : 'text'">
						<mat-icon class="pw-visibility" matSuffix (click)="togglePasswordFieldType()" *ngIf="field.control === 'password'">
							{{ is_password_field_type ? 'visibility_off' : 'visibility' }}
						</mat-icon>
					</mat-form-field>

				</div>
			</div>
			<button mat-button mat-raised-button type="submit" color="primary" class="theme-btn mt-4 mr-2" [disabled]="!enable_update_form">
				Update
			</button>
			<button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="true">
				Cancel
			</button>
			
			<!-- DELETE DEALER BUTTON -->
			<ng-container *ngIf="is_admin">
				<button mat-button mat-raised-button class="theme-btn mt-4 delete bg-danger" type="button" (click)="onDeleteDealer()">
					Delete Dealer
				</button>
			</ng-container>

			<!-- RE-ASSIGN DEALER BUTTON -->
			<button mat-button mat-raised-button class="theme-btn mt-4 mr-2 reassign bg-danger" type="button" (click)="onReassignDealer()">
				Re-assign Dealer
			</button>
		</form>
	</div>

	<ng-template #loading>
        <div class="vh-50 d-flex align-items-center justify-content-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

	<ng-template #toggle>
		Active:
		<mat-slide-toggle 
			[checked]="is_set_to_active"
			(click)="onToggleStatus($event)">
		</mat-slide-toggle>
	</ng-template>
</div>
