<!-- <div class="stat-cards top-50 mb-4" [ngClass]="{'margin-top-extra-notes' : margin_notes, 'double-margin-top-extra' : didToggleNotesAndHours() }"> -->
<div class="stat-cards top-50 mb-4">
    <div class="theme-container">

		<div class="row">
            <div class="col-lg-12">
                <mat-card class="p-1" style="height: 400px;">
                    <agm-map [latitude]="latitude" 
						[longitude]="longitude" 
						[maxZoom]="20" [fitBounds]="true">
							<agm-marker 
								[latitude]="latitude" 
								[longitude]="longitude"	
								[agmFitBounds]="true">
							</agm-marker>
					</agm-map>
                </mat-card>
            </div>
        </div>
    </div>
</div>