.bg-gray {
    background-color: #e2e2e2;
}

.feed-item {
    margin-bottom: 15px;

    &:last-child {
        margin: 0;
    }
}

.delete-item {
    background: none;
    border: none;
    font-size: 15px;
    color: rgb(230, 64, 64);
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    height: 135px;
    width: 100%;

    .overlay {
        color: rgb(177, 226, 42);
        padding: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        text-align: left;
        width: 100%;
        z-index: 7;
    }

    .edit-image-btn {
        background: none;
        border: none;
        color: #ffffff;
        position: absolute;
        right: 10px;
        bottom: 5px;
        z-index: 8;
    }
}

.sequence-field-group {
    height: 30px;

    .sequence-input {
        background: #ddd;
        border: 1px solid #aaa;
        border-right: 0;
        font-size: 12px;
        height: 100%;
        padding: 0 5px;
        width: 40px;
        outline: none;
    }

    button {
        background: rgb(14, 25, 36);
        border: 1px solid #aaa;
        color: rgb(180, 219, 73);
        font-size: 12px;
        height: 100%;
        padding: 5px;
    }
}

.apply-to-all-btn {
    background: #aaa;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    right: 0;
    top: 5px;
    padding: 5px;
    position: absolute;

    &.active {
        background: rgb(180, 219, 73);
    }
}

.loading-overlay {
    background-color: rgba(#ffffff, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}
