
<div class="shared-page pt-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <h1 class="page-title">Create New User</h1>
				<p class="mb-4">Select the user type you wish to create.</p>
				<ng-container *ngFor="let r of user_type">
					<app-user-type
					*ngIf="r.is_dealer != true"
					[image_icon]="r.role_icon"
					[user_type]="r.role"
					[title]="r.role_name"
					[description]="r.role_description">
					</app-user-type>
				</ng-container>
            </div>
        </div>
    </div>
</div>  