<ng-container>
    <div *ngIf="dealer && loaded; else loading">
        <div class="position-relative">
            <app-banner
                [image]="img"
                [title]="dealer.businessName"
                [description]="banner_description"
                [editable]="true"
                [refresh_banner]="true"
                [page]="'single-dealer'"
                [page_data]="dealer_and_user_data"
                (update_info)="ngOnInit()"
            >
            </app-banner>

            <div class="select-dealer-field text-white position-absolute">
                <app-autocomplete-field
                    (data_value)="dealerSelected($event)"
                    [key_of_value]="'dealerId'"
                    [placeholder]="'N-Compass TV'"
                    [label]="'Selected Dealer'"
                    [white_label]="true"
                    [data_reference]="dealers_data"
                    [search_keyword]="'businessName'"
                    [primary_keyword]="'businessName'"
                    [paging]="paging"
                    (call_next_page)="searchBoxTrigger($event)"
                    (searched)="searchData($event)"
                    [new_value]="dealer_name"
                    [initial_value]="dealer_name"
                    [loading_data]="loading_data"
                    [loading_search]="loading_search"
                >
                </app-autocomplete-field>

                <span class="fas fa-search icon text-white"></span>
            </div>
        </div>

        <div class="stat-cards top-120 mb-4">
            <div class="theme-container">
                <div class="row row-eq-height">
                    <div class="col-lg-6">
                        <mat-card class="h-100">
                            <app-data-card-graph
                                [id]="'license-statistics'"
                                [compare_basis]="license_card.basis"
                                [compare_basis_label]="license_card.basis_label"
                                [compare_basis_sub_label]="license_card.basis_sub_label"
                                [good_value]="license_card.good_value"
                                [good_value_label]="license_card.good_value_label"
                                [bad_value]="license_card.bad_value"
                                [bad_value_label]="license_card.bad_value_label"
                                [label_array]="temp_label"
                                [value_array]="temp_array_value"
                                [has_breakdown]="true"
                                [breakdown1_value]="license_card.breakdown1_value"
                                [breakdown1_label]="license_card.breakdown1_label"
                                [breakdown2_value]="license_card.breakdown2_value"
                                [breakdown2_label]="license_card.breakdown2_label"
                                [breakdown3_value]="license_card.breakdown3_value"
                                [breakdown3_label]="license_card.breakdown3_label"
                                [breakdown4_value]="license_card.breakdown4_value"
                                [breakdown4_label]="license_card.breakdown4_label"
                                [breakdown4_sub_label]="license_card.breakdown4_sub_label"
                                [breakdown5_value]="license_card.breakdown5_value"
                                [breakdown5_label]="license_card.breakdown5_label"
                                [fourth_value]="license_card.fourth_value"
                                [fourth_value_label]="license_card.fourth_value_label"
                            >
                            </app-data-card-graph>
                        </mat-card>
                    </div>

                    <div class="col-lg-3">
                        <ng-container *ngIf="is_host_stats_loaded; else smallLoader">
                            <app-data-quick-stats
                                [total]="host_card.basis"
                                [total_label]="host_card.basis_label"
                                [active]="host_card.good_value"
                                [active_label]="host_card.good_value_label"
                                [inactive]="host_card.bad_value"
                                [inactive_label]="host_card.bad_value_label"
                                [icon]="'fas fa-briefcase'"
                            >
                            </app-data-quick-stats>
                        </ng-container>
                    </div>

                    <div class="col-lg-3">
                        <app-data-quick-stats
                            [total]="advertiser_card.basis"
                            [total_label]="advertiser_card.basis_label"
                            [active]="advertiser_card.good_value"
                            [active_label]="advertiser_card.good_value_label"
                            [inactive]="advertiser_card.bad_value"
                            [inactive_label]="advertiser_card.bad_value_label"
                            [icon]="'fas fa-ad'"
                        >
                        </app-data-quick-stats>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-container top-90 pb-5">
            <div class="row">
                <div class="col-lg-12 custom-mat-tab">
                    <mat-tab-group dynamicHeight (selectedTabChange)="onSelectTab($event)" [selectedIndex]="selected_index">
                        <!-- LICENSES TAB -->
                        <mat-tab label="Licenses">
                            <div *ngIf="current_tab === 'licenses'">
                                <div *ngIf="!no_licenses; else no_data">
                                    <div *ngIf="!initial_load_license; else loader">
                                        <!-- BUTTONS ROW -->
                                        <div class="row mt-4">
                                            <div class="col-lg-8">
                                                <button mat-button mat-raised-button class="theme-btn sm-text mr-2 h-45" [matMenuTriggerFor]="licenseStatus">
                                                    <span class="button-label">License Status</span>
                                                    <span class="fas fa-circle xsm-text"></span>
                                                </button>
                                                <mat-menu #licenseStatus="matMenu">
                                                    <button class="md-text" mat-menu-item (click)="filterTable('assigned', 'true')" [matMenuTriggerFor]="assignedSubMenu">
                                                        <span class="fas fa-user text-primary mr-3"></span>Assigned
                                                    </button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('assigned', 'false')">
                                                        <span class="fas fa-user-alt-slash text-gray mr-3"></span>Unassigned
                                                    </button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('activated', '1')">
                                                        <span class="fas fa-user text-light-gray mr-3"></span>Inactive
                                                    </button>
                                                </mat-menu>

                                                <mat-menu #assignedSubMenu="matMenu">
                                                    <button class="md-text" mat-menu-item (click)="filterTable('status', '1')">
                                                        <span class="fas fa-circle text-primary mr-3"></span>Online
                                                    </button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('status', '0')" [matMenuTriggerFor]="offlineSubMenu">
                                                        <span class="fas fa-circle text-danger mr-3"></span>Offline
                                                    </button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('pending', 'true')">
                                                        <span class="fas fa-circle text-orange mr-3"></span>Pending
                                                    </button>
                                                </mat-menu>

                                                <mat-menu #offlineSubMenu="matMenu">
                                                    <button class="md-text" mat-menu-item (click)="filterTable('days_offline', '0', '5', '5 days')">5 Days</button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('days_offline', '6', '30', '30 days')">6 - 30 Days</button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('days_offline', '31', '365', 'Long Time')">> 30 Days</button>
                                                </mat-menu>

                                                <button mat-button mat-raised-button class="theme-btn sm-text mr-2 h-45" [matMenuTriggerFor]="timezone">
                                                    <span class="button-label">Timezone</span>
                                                    <span class="fas fa-sort xsm-text"></span>
                                                </button>
                                                <mat-menu #timezone="matMenu">
                                                    <button class="md-text" mat-menu-item (click)="filterTable('zone', 'Central')">Central</button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('zone', 'Eastern')">Eastern</button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('zone', 'Mountain')">Mountain</button>
                                                    <button class="md-text" mat-menu-item (click)="filterTable('zone', 'Pacific')">Pacific</button>
                                                </mat-menu>

                                                <button mat-button mat-raised-button class="theme-btn sm-text mr-2 h-45" (click)="sortByUser()">
                                                    <span class="button-label">User</span>
                                                    <span class="fas fa-user xsm-text"></span>
                                                </button>

                                                <button
                                                    mat-button
                                                    mat-raised-button
                                                    class="theme-btn pi-control sm-text mr-2"
                                                    [disabled]="searching_license"
                                                    (click)="reloadLicense()"
                                                    title="Reload"
                                                >
                                                    <span class="fas fa-sync-alt"></span>
                                                    <span class="ml-2 button_text_animation">Reload</span>
                                                </button>

                                                <button
                                                    mat-button
                                                    mat-raised-button
                                                    class="theme-btn pi-control _cool sm-text mr-2"
                                                    [matMenuTriggerFor]="orderSort"
                                                    title="Order by License Status"
                                                >
                                                    <span class="fas fa-sort"></span>
                                                    <span class="ml-2 button_text_animation">Order by License Status</span>
                                                </button>
                                                <mat-menu #orderSort="matMenu">
                                                    <button mat-menu-item (click)="sortList('desc')"><span class="fas fa-circle text-primary xsm-text mr-3"></span>Online</button>
                                                    <button mat-menu-item (click)="sortList('asc')"><span class="fas fa-circle xsm-text text-danger mr-3"></span>Offline</button>
                                                </mat-menu>

                                                <ng-container *ngIf="show_admin_buttons">
                                                    <!-- <button
														mat-button
														mat-raised-button
														*ngIf="!remote_update_disabled; else disabled_remote_update"
														class="theme-btn pi-control sm-text bg-dark-light mr-2"
														[disabled]="remote_update_disabled || !licenses"
														(click)="updateAndRestart()"
														title="Update System">
														<span class="fas fa-terminal"></span>
														<span class="ml-2 button_text_animation">Update System</span>
													</button>

													<ng-template #disabled_remote_update>
														<button
															mat-button
															mat-raised-button
															class="theme-btn pi-control sm-text _warning mr-2"
															[disabled]="true"
															[title]="timeout_message">
															<span class="fas fa-terminal"></span>
															<span class="ml-2 button_text_animation">Update System</span>
														</button>
													</ng-template> -->

                                                    <button
                                                        mat-button
                                                        mat-raised-button
                                                        *ngIf="!screenshot_disabled; else disabled_screenshot"
                                                        class="theme-btn pi-control sm-text _teal mr-2"
                                                        [disabled]="remote_reboot_disabled || !licenses"
                                                        (click)="screenshotDealer()"
                                                        title="Screenshot"
                                                    >
                                                        <span class="fas fa-camera"></span>
                                                        <span class="ml-2 button_text_animation">Screenshot</span>
                                                    </button>

                                                    <button
                                                        mat-button
                                                        mat-raised-button
                                                        *ngIf="!remote_reboot_disabled; else disabled_remote_reboot_player"
                                                        class="theme-btn pi-control sm-text _warning mr-2"
                                                        [disabled]="remote_reboot_disabled || !licenses"
                                                        (click)="rebootPlayer()"
                                                        title="Reboot Player"
                                                    >
                                                        <span class="fas fa-power-off"></span>
                                                        <span class="ml-2 button_text_animation">Reboot Player (Software)</span>
                                                    </button>

                                                    <button
                                                        mat-button
                                                        mat-raised-button
                                                        *ngIf="!remote_reboot_disabled; else disabled_remote_reboot_pi"
                                                        class="theme-btn pi-control sm-text _caution mr-2"
                                                        [disabled]="remote_reboot_disabled || !licenses"
                                                        (click)="rebootPi()"
                                                        title="Reboot Pi"
                                                    >
                                                        <span class="fas fa-power-off"></span>
                                                        <span class="ml-2 button_text_animation">Reboot Pi (Device)</span>
                                                    </button>

                                                    <ng-template #disabled_remote_reboot_player>
                                                        <button
                                                            mat-button
                                                            mat-raised-button
                                                            class="theme-btn pi-control sm-text _warning mr-2"
                                                            [disabled]="true"
                                                            [title]="timeout_message"
                                                        >
                                                            <span class="fas fa-power-off"></span>
                                                            <span class="ml-2 button_text_animation">Reboot Player (Software)</span>
                                                        </button>
                                                    </ng-template>

                                                    <ng-template #disabled_screenshot>
                                                        <button
                                                            mat-button
                                                            mat-raised-button
                                                            class="theme-btn pi-control sm-text _teal mr-2"
                                                            [disabled]="remote_reboot_disabled || !licenses"
                                                            title="timeout_message"
                                                        >
                                                            <span class="fas fa-camera"></span>
                                                            <span class="ml-2 button_text_animation">Screenshot</span>
                                                        </button>
                                                    </ng-template>

                                                    <ng-template #disabled_remote_reboot_pi>
                                                        <button
                                                            mat-button
                                                            mat-raised-button
                                                            class="theme-btn pi-control sm-text _caution mr-2"
                                                            [disabled]="true"
                                                            [title]="timeout_message"
                                                        >
                                                            <span class="fas fa-power-off"></span>
                                                            <span class="ml-2 button_text_animation">Reboot Pi (Device)</span>
                                                        </button>
                                                    </ng-template>

                                                    <button
                                                        mat-button
                                                        mat-raised-button
                                                        class="theme-btn pi-control sm-text mr-2"
                                                        [ngClass]="array_to_delete.length > 0 ? '_danger' : ''"
                                                        [disabled]="array_to_delete.length == 0"
                                                        (click)="multipleDeleteLicense()"
                                                        title="Multiple Delete"
                                                    >
                                                        <span class="fas fa-trash-alt" [ngStyle]="{ color: array_to_delete.length > 0 ? '#fff' : '#222' }"></span>
                                                        <span class="ml-2 button_text_animation" [ngStyle]="{ color: array_to_delete.length > 0 ? '#fff' : '#222' }">
                                                            Multiple Delete
                                                            <span class="xsm-text" *ngIf="array_to_delete.length > 1">({{ array_to_delete.length }} licenses)</span>
                                                            <span class="xsm-text" *ngIf="array_to_delete.length === 1">({{ array_to_delete.length }} license)</span>
                                                        </span>
                                                    </button>

                                                    <button
                                                        mat-button
                                                        mat-raised-button
                                                        class="theme-btn pi-control sm-text _primary mr-2"
                                                        (click)="exportTable('Licenses')"
                                                        [disabled]="workbook_generation"
                                                        title="Export to CSV"
                                                    >
                                                        <span
                                                            class="{{ !workbook_generation ? 'fas fa-file-excel' : 'fas fa-spinner fa-spin' }}"
                                                            [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }"
                                                        ></span>
                                                        <span class="ml-2 button_text_animation" [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }">{{
                                                            !workbook_generation ? "Export" : "Generating CSV"
                                                        }}</span>
                                                    </button>
                                                </ng-container>
                                            </div>
                                            <div class="col-lg-4">
                                                <app-search-field
                                                    *ngIf="!initial_load_license"
                                                    [form_title]="'Search License Alias, Host Name, Anydesk or #Tag'"
                                                    [placeholder]="'Example: License #100'"
                                                    [data_reference]="license_data"
                                                    [primary_keyword]="'alias'"
                                                    [secondary_keyword]="'host_name'"
                                                    (searched)="licenseFilterData($event)"
                                                    [api_search]="true"
                                                ></app-search-field>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="filters.label_status || filters.label_zone || filters.label_dealer || filters.label_host">
                                            <div class="col-lg-12">
                                                <div class="d-flex align-items-center p-2 bg-gray-2">
                                                    <div class="filter-pills">
                                                        <div class="filetype-pill pill" *ngIf="filters.label_status">
                                                            License Status: <strong>{{ filters.label_status }}</strong>
                                                        </div>

                                                        <div class="order-pill pill" *ngIf="filters.label_zone">
                                                            Timezone: <strong>{{ filters.label_zone }}</strong>
                                                        </div>

                                                        <div class="dealer-pill pill" *ngIf="filters.label_dealer">
                                                            Dealer: <strong>{{ filters.label_dealer }}</strong>
                                                        </div>

                                                        <div class="host-pill pill" *ngIf="filters.label_host">
                                                            Host: <strong>{{ filters.label_host }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="control flex-even text-right">
                                                        <button mat-button mat-raised-button class="theme-btn" (click)="clearFilter()">
                                                            <span class="button-label"> Clear Filter </span>
                                                            <span class="fas fa-times ml-2 sm-text"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ng-container *ngIf="!searching_license; else loader">
                                                    <mat-card *ngIf="license_filtered_data.length > 0; else no_data">
                                                        <app-data-table
                                                            id="licenseTable"
                                                            [table_columns]="license_table_columns"
                                                            [table_data]="license_filtered_data"
                                                            [ctrl_column]="true"
                                                            [ctrl_column_label]="'Activate'"
                                                            [ctrl_toggle]="true"
                                                            [new_table]="true"
                                                            [license_status_column]="true"
                                                            (toggle_triggered)="toggleActivateDeactivate($event)"
                                                            (update_info)="reloadLicense()"
                                                            [license_delete]="true"
                                                            [paging_details]="paging_data_license"
                                                            (page_triggered)="getLicensesofDealer($event)"
                                                            [multiple_delete]="true"
                                                            (delete_selected)="getMultipleDeleteData($event)"
                                                            (to_sort_column)="getColumnsAndOrder($event)"
                                                            [active_tab]="sort_column"
                                                            [sort_column]="sort_column"
                                                            [sort_order]="sort_order"
                                                            [dealer_id]="dealer_id"
                                                        >
                                                        </app-data-table>
                                                    </mat-card>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <!-- HOSTS TAB -->
                        <mat-tab label="Hosts">
                            <div *ngIf="current_tab === 'hosts'">
                                <div *ngIf="!initial_load; else loader">
                                    <div class="d-flex mt-3 table-controls">
                                        <div class="status-filter-container">
                                            <button mat-button mat-raised-button class="theme-btn status-filter-btn sm-text mr-2 h-45" [matMenuTriggerFor]="hostStatusList">
                                                <span class="button-label">Host Status: {{ current_host_status_filter | titlecase }}</span>
                                                <ng-container *ngIf="current_host_status_filter !== 'all'">
                                                    <span class="fas fa-circle" [ngClass]="current_host_status_filter === 'active' ? 'text-primary' : 'text-gray'"> </span>
                                                </ng-container>
                                            </button>
                                            <mat-menu #hostStatusList="matMenu">
                                                <button mat-menu-item (click)="filterHostsByStatus('active')">
                                                    <span class="fas fa-circle text-primary mr-2 xsm-text"></span>Active
                                                </button>
                                                <button mat-menu-item (click)="filterHostsByStatus('inactive')">
                                                    <span class="fas fa-circle text-gray mr-2 xsm-text"></span>Inactive
                                                </button>
                                                <button mat-menu-item (click)="filterHostsByStatus('all')"><span class="text-gray mr-2 xsm-text"></span>All</button>
                                            </mat-menu>
                                        </div>
                                        <button
                                            mat-button
                                            mat-raised-button
                                            class="theme-btn pi-control sm-text _primary mr-2"
                                            (click)="exportTable('Hosts')"
                                            [disabled]="workbook_generation"
                                            title="Export to CSV"
                                        >
                                            <span
                                                class="{{ !workbook_generation ? 'fas fa-file-excel' : 'fas fa-spinner fa-spin' }}"
                                                [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }"
                                            ></span>
                                            <span class="ml-2 button_text_animation" [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }">{{
                                                !workbook_generation ? "Export" : "Generating CSV"
                                            }}</span>
                                        </button>
                                        <div class="search-field">
                                            <app-search-field
                                                *ngIf="!initial_load"
                                                [form_title]="'Search Host Name, Address, City, Postal Code, or #Tag'"
                                                [placeholder]="'Example: N-Compass'"
                                                [data_reference]="host_data"
                                                [primary_keyword]="'host_name'"
                                                [secondary_keyword]="'host_name'"
                                                (searched)="hostFilterData($event)"
                                                [api_search]="true"
                                            >
                                            </app-search-field>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!initial_load">
                                        <div class="col-lg-12">
                                            <ng-container *ngIf="!searching; else loader">
                                                <mat-card *ngIf="host_filtered_data.length > 0; else no_data">
                                                    <app-data-table
                                                        [table_columns]="host_table_col"
                                                        [table_data]="host_filtered_data"
                                                        [new_table]="true"
                                                        [paging_details]="paging_data"
                                                        [active_tab]="sort_column_hosts"
                                                        [sort_column]="sort_column_hosts"
                                                        [sort_order]="sort_order_hosts"
                                                        [page]="'single-dealer-host-tab'"
                                                        (page_triggered)="getDealerHost($event)"
                                                        (to_sort_column)="getHostsColumnsAndOrder($event)"
                                                    >
                                                    </app-data-table>
                                                </mat-card>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <!-- ADVERTISERS TAB -->
                        <mat-tab label="Advertisers">
                            <div *ngIf="current_tab === 'advertisers'">
                                <div *ngIf="!initial_load_advertiser; else loader">
                                    <div class="d-flex pt-2 table-controls">
                                        <div class="status-filter-container">
                                            <button mat-button mat-raised-button class="theme-btn status-filter-btn sm-text mr-2 h-45" [matMenuTriggerFor]="advertiserStatusList">
                                                <span class="button-label"> Advertiser Status: {{ current_advertiser_status_filter | titlecase }} </span>
                                                <span class="fas fa-circle" [ngClass]="current_advertiser_status_filter === 'active' ? 'text-primary' : 'text-gray'"> </span>
                                            </button>
                                            <button
                                                mat-button
                                                mat-raised-button
                                                class="theme-btn pi-control sm-text _primary mr-2"
                                                (click)="exportTable('Advertisers')"
                                                [disabled]="workbook_generation"
                                                title="Export to CSV"
                                            >
                                                <span
                                                    class="{{ !workbook_generation ? 'fas fa-file-excel' : 'fas fa-spinner fa-spin' }}"
                                                    [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }"
                                                ></span>
                                                <span class="ml-2 button_text_animation" [ngStyle]="{ color: workbook_generation ? '#222' : 'white' }">{{
                                                    !workbook_generation ? "Export" : "Generating CSV"
                                                }}</span>
                                            </button>
                                            <mat-menu #advertiserStatusList="matMenu">
                                                <button mat-menu-item (click)="filterAdvertisersByStatus('active')">
                                                    <span class="fas fa-circle text-primary mr-2 xsm-text"></span>Active
                                                </button>
                                                <button mat-menu-item (click)="filterAdvertisersByStatus('inactive')">
                                                    <span class="fas fa-circle text-gray mr-2 xsm-text"></span>Inactive
                                                </button>
                                            </mat-menu>
                                        </div>
                                        <div class="search-field">
                                            <app-search-field
                                                *ngIf="!initial_load_advertiser"
                                                [form_title]="'Search Business Name, Address, City, State, Postal Code, or #Tag'"
                                                [placeholder]="'Example: N-Compass'"
                                                [data_reference]="advertiser_data"
                                                [primary_keyword]="'name'"
                                                [secondary_keyword]="'name'"
                                                (searched)="advertiserFilterData($event)"
                                                [api_search]="true"
                                            >
                                            </app-search-field>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!initial_load_advertiser">
                                        <div class="col-lg-12">
                                            <ng-container *ngIf="!searching_advertiser; else loader">
                                                <mat-card *ngIf="advertiser_filtered_data.length > 0; else no_data">
                                                    <app-data-table
                                                        [table_columns]="adv_table_col"
                                                        [table_data]="advertiser_filtered_data"
                                                        [new_table]="true"
                                                        [paging_details]="paging_data_advertiser"
                                                        [advertiser_delete]="true"
                                                        [active_tab]="sort_column_advertisers"
                                                        [sort_column]="sort_column_advertisers"
                                                        [sort_order]="sort_order_advertisers"
                                                        [page]="'advertisers'"
                                                        (page_triggered)="getDealerAdvertiser($event)"
                                                        (update_info)="reloadAdvertiser()"
                                                        (to_sort_column)="getAdvertisersColumnsAndOrder($event)"
                                                    >
                                                    </app-data-table>
                                                </mat-card>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <!-- ZONE TAB -->
                        <mat-tab label="Zone">
                            <div *ngIf="current_tab === 'zone'">
                                <div *ngIf="!initial_load_zone; else loader">
                                    <div *ngIf="!no_license_zone; else no_data">
                                        <div class="row pt-2">
                                            <div class="col-lg-8"></div>
                                            <div class="col-lg-4">
                                                <app-search-field
                                                    *ngIf="!initial_load_zone"
                                                    [form_title]="'Search License ID or Alias'"
                                                    [placeholder]="'Example: License # 9'"
                                                    [data_reference]="license_zone_data"
                                                    [primary_keyword]="'licenseKey'"
                                                    [secondary_keyword]="'licenseAlias'"
                                                    (searched)="licenseZoneFilterData($event)"
                                                    [api_search]="true"
                                                >
                                                </app-search-field>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="!initial_load_zone">
                                            <div class="col-lg-12">
                                                <ng-container *ngIf="!searching_license_zone; else loader">
                                                    <mat-card *ngIf="license_zone_filtered_data.length > 0; else no_data">
                                                        <app-data-table
                                                            [table_data]="license_zone_filtered_data"
                                                            [table_columns]="license_zone_table_col"
                                                            [new_table]="true"
                                                            [paging_details]="paging_data_zone"
                                                            (page_triggered)="getDealerLicenseZone($event)"
                                                        >
                                                        </app-data-table>
                                                    </mat-card>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <!-- ACTIVITY TAB -->
                        <mat-tab label="Activity">
                            <div class="col-lg-12 p-0" *ngIf="current_tab === 'activity'">
                                <div class="row">
                                    <div class="col-lg-12 ml-2 pt-4">
                                        <h5>{{ createdBy }}</h5>
                                        <h6>{{ dateCreated | date : "MMMM d, y" }}</h6>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12" *ngIf="!initial_load_activity; else loader_activity">
                                        <app-single-activity-tab
                                            *ngIf="activity_data.length; else loader_activity"
                                            [activity_data]="activity_data"
                                            [paging_data]="paging_data"
                                            [sort_column]="sort_column_activity"
                                            [sort_order]="sort_order_activity"
                                            [currentUser]="currentUser"
                                            [currentRole]="currentRole"
                                            [ownerId]="dealer_id"
                                            [initial_load]="initial_load_activity"
                                            [createdBy]="createdBy"
                                            [dateCreated]="dateCreated"
                                            [owner_data]="dealer_data"
                                            [reload_data]="reload_data"
                                            (pageChanged)="getDealerActivity($event)"
                                            (sortColumnEvent)="getActivityColumnsAndOrder($event)"
                                        >
                                        </app-single-activity-tab>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <!-- TERMINAL TAB -->
                        <mat-tab label="Terminal" *ngIf="is_admin">
                            <div class="row mt-4">
                                <div class="col-lg-7">
                                    <h3>Remote Terminal</h3>
                                    <p class="sm-text mb-3">Write a short script and send it to all online players.</p>

                                    <div class="terminal-area mt-4">
                                        <app-remote-terminal (run)="runTerminalScript($event)"></app-remote-terminal>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Billing" *ngIf="!is_dealer_admin">
                            <div class="col-lg-12 p-0" *ngIf="current_tab === 'billing'">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <app-single-billings [dealer]="dealer_id" [reload]="reload_billing"> </app-single-billings>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

    <ng-template #no_data>
        <div class="col-lg-12 pl-0 pr-0">
            <mat-card class="pt-5 pb-5 col-lg-12 text-center">
                <div class="mb-4">
                    <i class="text-gray fa-5x far fa-file-alt"></i>
                </div>
                <h3 class="text-gray col-lg-12">No Results Found.</h3>
                <span class="text-gray col-lg-12">Try adjusting your search to find what you're looking for.</span>
            </mat-card>
        </div>
    </ng-template>

    <ng-template #no_data_activity>
        <mat-card class="p-5"> <app-error-message></app-error-message></mat-card>
    </ng-template>

    <ng-template #loader_activity>
        <ng-container *ngIf="!no_activity_data; else no_data_activity">
            <div class="py-4 white-bg h-500">
                <app-spinner></app-spinner>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #loader>
        <div class="py-4 white-bg h-500">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <ng-template #loading>
        <div class="text-center d-flex align-items-center justify-content-center vh-50">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

    <ng-template #smallLoader>
        <app-spinner [diameter]="70"></app-spinner>
    </ng-template>
</ng-container>
