<div class="bg-white material-shadow p-3 d-flex align-items-center rounded">
	<div class="sort-file-type mr-2">
		<button mat-button mat-raised-button [matMenuTriggerFor]="menu" mat-raised-button class="theme-btn">
			<span class="button-label">Media Type</span>
			<span class="fas fa-angle-down ml-2"></span>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="viewByFileType('image')">Images</button>
			<button mat-menu-item (click)="viewByFileType('video')">Videos</button>
			<button mat-menu-item (click)="viewByFileType('feed')">Feeds</button>
		</mat-menu>
	</div>

	<div class="sort-by-date mr-2">
		<button mat-button mat-raised-button [matMenuTriggerFor]="orderSort" class="theme-btn">
			<span class="button-label">Order by Date</span>
			<span class="fas fa-sort ml-2"></span>
		</button>
		<mat-menu #orderSort="matMenu">
			<button mat-menu-item (click)="sortAscending()">Ascending</button>
			<button mat-menu-item (click)="sortDescending()">Descending</button>
		</mat-menu>
	</div>
	
	<div class="sort-by-user" *ngIf="!disable_user_filter">
		<button mat-button mat-raised-button (click)="sortByUser()" class="theme-btn">
			<span class="button-label">Filter by User</span>
			<span class="fas fa-sort fa-user"></span>
		</button>
	</div>

    <div class="flex-even text-right ml-3">
        <div class="form-field">
			<span *ngIf="search_form_invalid" class="invalidator text-danger font-weight-bold xsm-text">
				Type in at least 3 characters
			</span>
			<input 
			class="input-field no-border no-outline" 
			type="text" 
			placeholder="Search a File"
			[formControl]="search_control">
			
			<span class="fas fa-search"></span>
			
        </div>
    </div>
</div>