.selected-role {
    margin-left: 20px;

    mat-icon {
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
    }
}

.top-spacing {
    margin-top: 0.3em;
}
