<div class="p-4">
    <div *ngIf="!no_dealers; else no_data">
        <div class="sort-by-dealer">
            <h3 class="mb-1" *ngIf="!is_license; else licenseLabel">Filter Media Files by User</h3>
            <ng-template #licenseLabel>
                <h3 class="mb-1">Filter Licenses by User</h3>
            </ng-template>

            <div *ngIf="!isDealer; else userDealer">
                <p class="sm-text mb-4">Select Dealer, Host <span *ngIf="!is_license">, and Advertiser</span></p>
                <!-- Dealer Autocomplete -->
                <app-dealer-autocomplete (dealer_selected)="dealerSelected($event)" [active_only]="false">
                </app-dealer-autocomplete>
                <!-- Dealer Autocomplete -->

                <!-- Host Autocomplete -->
                <app-host-autocomplete
                    *ngIf="dealerId; else no_dealer_host"
                    [dealer_id]="dealerId"
                    (host_selected)="hostSelected($event)">
                </app-host-autocomplete>

                <ng-template #no_dealer_host>
                    <p class="bg-info text-white p-2 mb-3 sm-text">
                        Host field will appear if Dealer has available hosts
                    </p>
                </ng-template>
                <!-- Host Autocomplete -->
            </div>

            <ng-template #userDealer>
                <p class="sm-text mb-4">Select Host</p>
                <app-host-autocomplete (host_selected)="hostSelected($event)"> </app-host-autocomplete>

                <ng-template #no_dealer_host>
                    <p class="bg-info text-white p-2 mb-3 sm-text">
                        Host field will appear if Dealer has available hosts
                    </p>
                </ng-template>
                <!-- Host Autocomplete -->
            </ng-template>

            <div class="advertiser-field" *ngIf="!is_license">
                <div class="advertiser-dropdown-holder" *ngIf="dealerId && advertisers.length; else no_dealer_adv">
                    <app-autocomplete
                        *ngIf="advertisers"
                        [field_data]="advertisers_data"
                        (value_selected)="advertiserSelected($event)">
                    </app-autocomplete>
                </div>

                <ng-template #no_dealer_adv>
                    <p class="bg-info text-white p-2 mb-0 sm-text">
                        Advertiser field will appear if Dealer has available advertisers
                    </p>
                </ng-template>
            </div>

            <button
                mat-button
                mat-raised-button
                [mat-dialog-close]="filterData"
                class="theme-btn mt-4 mr-2"
                [disabled]="!dealerId">
                Filter
            </button>
            <button mat-button mat-raised-button mat-dialog-close class="theme-btn mt-4">Close</button>
        </div>

        <ng-template #loader_sm>
            <div class="text-center py-4">
                <app-spinner [diameter]="65"></app-spinner>
                <h5 class="mt-3">Getting Users. Please Wait.</h5>
            </div>
        </ng-template>
    </div>

    <ng-template #no_data>
        <h3>What the!?</h3>
        <p class="sm-text mb-4">There are no dealers at the moment.</p>
        <button
            mat-button
            mat-raised-button
            class="theme-btn mr-2"
            [routerLink]="['/administrator/users/create-user/dealer']">
            Add Dealer
            <span class="fas fa-plus ml-2 sm-text"></span>
        </button>
    </ng-template>
</div>
