<div class="p-4">
    <div *ngIf="!no_dealers; else no_data">
        <div class="sort-by-dealer">
            <h3 class="mb-2">{{ modalTitle }}</h3>
            <p class="sm-text mb-4">{{ modalSubTitle }}</p>

            <div class="dropdown-container">
                <app-dealer-autocomplete
                    *ngIf="!isDealer"
                    (dealer_selected)="dealerSelected($event)"
                    [active_only]="false">
                </app-dealer-autocomplete>

                <ng-container *ngIf="!data.dealerOnly">
                    <app-host-autocomplete
                        *ngIf="dealerId; else no_dealer_host"
                        [dealer_id]="dealerId || null"
                        (host_selected)="hostSelected($event)">
                    </app-host-autocomplete>

                    <ng-template #no_dealer_host>
                        <p class="bg-info text-white p-2 mb-3 sm-text">
                            Host field will appear if Dealer has available hosts
                        </p>
                    </ng-template>

                    <div class="advertiser-field" *ngIf="!is_license">
                        <app-autocomplete
                            *ngIf="dealerId && advertisers.length; else no_dealer_adv"
                            [field_data]="advertisersData"
                            (value_selected)="advertiserSelected($event)">
                        </app-autocomplete>

                        <ng-template #no_dealer_adv>
                            <p class="bg-info text-white p-2 mb-0 sm-text">
                                Advertiser field will appear if Dealer has available advertisers
                            </p>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
            <button
                mat-button
                mat-raised-button
                [mat-dialog-close]="filterData"
                class="theme-btn mt-4 mr-2"
                [disabled]="!dealerId">
                Filter
            </button>
            <button mat-button mat-raised-button mat-dialog-close class="theme-btn mt-4 btn-danger">Close</button>
        </div>

        <ng-template #loader_sm>
            <div class="text-center py-4">
                <app-spinner [diameter]="65"></app-spinner>
                <h5 class="mt-3">Getting Users. Please Wait.</h5>
            </div>
        </ng-template>
    </div>

    <ng-template #no_data>
        <h3>What the!?</h3>
        <p class="sm-text mb-4">There are no dealers at the moment.</p>
        <button
            mat-button
            mat-raised-button
            class="theme-btn mr-2"
            [routerLink]="['/administrator/users/create-user/dealer']">
            Add Dealer
            <span class="fas fa-plus ml-2 sm-text"></span>
        </button>
    </ng-template>
</div>
