<!-- DROPDOWN AND SEARCH BOX ROW -->
<div class="dropdown-and-search-section d-flex justify-content-between">
			
	<!-- SEARCH FIELD -->
	<div class="search-container">
		<mat-form-field class="full-width" *ngIf="!isLoading">
			<mat-label>Search Tags...</mat-label>
			<input matInput [formControl]="searchFormControl">
		</mat-form-field>
	</div>

</div>

<mat-card>
	<ng-container *ngIf="!isLoading; else loading">
		<!-- TABLE -->
		<app-tags-table *ngIf="tags.length > 0; else noResults"
			[currentTabIndex]="currentTabIndex"
			[currentTagType]="currentTagType"
			[currentUserRole]="currentUserRole"
			[isLoading]="isLoading"
			[paging]="pagingData"
			[tableColumns]="columns"
			[tableData]="tags"
			(clickedPageNumber)="onClickPageNumber($event)"
			(clickedTagName)="onClickTagName($event)">
		</app-tags-table>
	</ng-container>
</mat-card>

<ng-template #loading>
	<div class="py-4">
		<app-spinner [diameter]="60"></app-spinner>
	</div>
</ng-template>

<ng-template #noResults>
	<p>No results found</p>
</ng-template>