<div class="p2">
    <div class="d-flex justify-content-end">
        <div>
            <button class="modal-close-btn no-border no-background" [mat-dialog-close]="false">
                <span class="fas fa-times"></span>
            </button>
        </div>
    </div>
    <div class="confirmation-modal h-100 d-flex align-items-center justify-content-center">
        <!-- Success -->
        <div class="text-center" *ngIf="status === 'success'">
            <app-success-animation></app-success-animation>
            <h3 class="mb-1">{{ title }}</h3>
            <p class="mb-0 sm-text font-weight-md">{{ message }}</p>
            <button mat-button mat-raised-button [mat-dialog-close]="action || true" class="mt-4 theme-btn" (click)="displaySuccess()">OK</button>
        </div>

        <!-- Something Went Wrong -->
        <div class="text-center" *ngIf="status === 'error'">
            <app-fail-animation></app-fail-animation>
            <h3 class="mb-1">{{ title }}</h3>
            <p class="mb-0 sm-text font-weight-md text-danger">{{ message }}</p>
        </div>

        <!-- Warning Modal -->
        <div class="text-center" *ngIf="status === 'warning'">
            <app-warning-animation></app-warning-animation>
            <h3 class="mb-1 mt-2">{{ title }}</h3>
            <p class="mb-4 sm-text font-weight-md text-warning">{{ message }}</p>
            <button mat-button mat-raised-button class="theme-btn mr-2 bg-danger" [mat-dialog-close]="false" *ngIf="!rename && !is_selection">Cancel</button>
            <button mat-button mat-raised-button class="theme-btn mr-2 bg-danger" [mat-dialog-close]="'no'" *ngIf="is_selection">No</button>
            <button mat-button mat-raised-button class="theme-btn" [mat-dialog-close]="'yes'" *ngIf="is_installation">Yes</button>
            <button
                mat-button
                mat-raised-button
                class="theme-btn"
                (click)="displaySuccess()"
                *ngIf="!rename && action != 'playlist_delete' && is_selection && !is_installation && !delete"
            >
                Yes
            </button>
            <button mat-button mat-raised-button class="theme-btn" (click)="displaySuccess()" *ngIf="!rename && action != 'playlist_delete' && !is_selection && !delete">
                Continue
            </button>
            <button mat-button mat-raised-button class="theme-btn" (click)="displaySuccess()" *ngIf="action == 'playlist_delete'">Continue</button>
            <button mat-button mat-raised-button class="theme-btn" (click)="deleteContent()" *ngIf="delete">Continue</button>
            <button mat-button mat-raised-button class="theme-btn mr-2" (click)="renameAllowed()" *ngIf="rename && !is_selection">
                {{ filler_photo ? "No" : picture_upload ? "Use Default Photo" : "Rename" }}
            </button>
            <button mat-button mat-raised-button class="theme-btn" (click)="continueUpload()" *ngIf="rename && !is_selection">Continue Upload</button>
        </div>

        <!-- Warn User to be Logged Out -->
        <div class="text-center" *ngIf="status === 'logout'">
            <app-warning-animation></app-warning-animation>
            <h3 class="mb-1">{{ title }}</h3>
            <p class="mb-0 sm-text font-weight-md">{{ message }}</p>
            <button mat-button mat-raised-button [mat-dialog-close]="action || true" class="mt-4 theme-btn">OK</button>
        </div>
    </div>
</div>
