.notification-item {
    border-bottom: 1px solid #eaeaea;
    padding: 20px 15px;

    &:last-child {
        border-bottom: 0;
    }
}

.see-more {
    background: transparent;
    border: 0;
    padding: 10px;

    &:hover {
        background: #f0f0f0;
    }
}

.notification-header {
	padding: 10px 0;
	position: relative;
}

.notification-content {
	width: 83%;
}

.mark-as-resolved {
    border: none;
    font-size: 10px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 15px;

    &:hover {
        background: #fafafa;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(142, 143, 134);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

  @media only screen and (max-width: 1024px) {
    .notification-content {
      width: 80%;
    }
  } 