.media-holder {
    background-color: #000;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.close-btn {
    background: transparent;
    border: 0;
    font-size: 20px;
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 10px;
}

video {
    height: 100%;
    left: 0;
    object-fit: fill;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    &.no-stretch {
        object-fit: contain;
    }
}

img {
    background-color: #000;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: contain;
    width: 100%;
    z-index: 5;
}

.frame-wrap {
    height: 100%; /* new height (400 * (1/0.8) ) */
    max-width: 808.89px; /* new width (100 * (1/0.8) )*/
    padding: 0;
    overflow: hidden;
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    z-index: 5;
}
