.upload-image-field {
    height: 60px;

    img {
        object-fit: cover;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
    }

    .filename {
        font-size: 15px;
        position: absolute;
        left: 75px;
        top: 18px;
    }
}