.color-picker.open {
    left: 30% !important;
    top: 10% !important; 
}

.color-showcase {
    height: 20px;
    width: 20px;
    top: 5px;
    right: 15px;
}

.upload-button {
    position: absolute;
    right: 0;
    top: 0;
}