.theme-banner {
	background: #eaeaea;
	padding: 60px 20px 170px 20px;
	border-bottom: 1px solid #d0d0d0;
	left: 0;
	top: 0;
	width: 100%;
	position: relative;

	.single-image {
		border-radius: 100%;
		height: 100px;
		overflow: hidden;
		width: 100px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.status {
		font-size: 10px;
		font-weight: bold;
		color: #fff;
		border-radius: 10px;
		padding: 2px 10px;
		letter-spacing: 0.5px;

		&.active {
			background-color: #8ec641;
		}

		&.inactive {
			background-color: red;
		}
	}

	.tags-container {
		.tag {
			margin-right: 7px;
			color: white;
			font-size: 10px;
			padding: 2px 10px;
			letter-spacing: 0.5px;
			text-shadow: black -1px 0px, black 0px 1px, black 1px 0px, black 0px -1px;
			border: 1px solid gray;
			text-align: center;
			vertical-align: middle;
			line-height: 20px;

			&.dealer {
				border-radius: 5px;
			}
		}
	}

	.host-btn-container {
		width: 150px;
		margin: auto;

		.host-btn {
			width: 100%;
		}
	}

	.settings-btn {
		background-color: transparent;
		border: none;
		color: rgb(37, 37, 37);
		font-size: 20px;
		position: absolute;
		right: 25px;
		top: 20px;

		&:hover {
			color: #87af3c;
		}
	}
}

.host-padding {
	padding: 60px 20px !important;
}

a.text-white {
	transition: 0.2s linear;
	&:hover {
		color: #8ec641 !important;
	}
}

.justified {
	text-align: justify;
}

.transition {
	height: 135px;
	transition: height 0.5s ease-out;
}

.hidden_hours {
	height: 0px;
	transition: height 0.5s ease-out;
	overflow: hidden;
}

.license_count {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	h1,
	h3 {
		text-align: center;
	}
}

.disabled {
	background-color: gray;
	cursor: not-allowed;
}

.single-info {
	flex-grow: 3;
}
