<div class="theme-banner">
    <div class="theme-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex align-items-center">
                    <div class="single-image mr-3" *ngIf="single_image != null">
                        <img src="assets/media-files/admin-icon.png" alt="admin">
                    </div>
                    <div class="single-info flex-even">
						<div class="d-flex align-items-center">
							<h3 class="text-dark mb-1" *ngIf="single_name != null">{{ single_name | titlecase }}</h3>
						</div>
						
						<div class="d-flex align-items-baseline" *ngIf="dealer_data && dealer_data.dealerIdAlias">
							<h5 class="text-dark font-italic sm-text mb-1">
								Dealer Alias: {{ dealer_data.dealerIdAlias }}
							</h5>
						</div>

                        <h4 class="d-inline-block sm-text mb-0 font-italic text-dark" *ngIf="host_data && host_data.dealer && isAdmin()">
                            <a class="text-dark" [routerLink]="['/'+routes+'/dealers', host_data.dealer.dealerId]">{{ host_data.dealer.businessName }}</a><span class="mx-2">|</span>
                        </h4>

                        <h4 class="d-inline-block sm-text text-dark mb-1" *ngIf="category"><i>{{ category }}</i></h4>

                        <h5 class="text-dark font-italic sm-text mb-1" *ngIf="single_desc != null">{{ single_desc }}</h5>

                        <div class="d-flex tag-pills mt-1">
                            <div class="status" [ngClass]="status === 'active' ? 'active' : 'inactive'" *ngIf="view === 'dealer'">
                                <span>{{ status | titlecase }}</span>
                            </div>
    
                            <div class="d-flex tags-container" *ngIf="tags.length > 0">
                                <div *ngFor="let tag of tags" class="d-inline tag" 
                                    [style.backgroundColor]="tag.tagColor ? tag.tagColor : 'gray'">
                                    <div class="name">{{ tag.name }}</div>
                                </div>
                            </div>
                        </div>
                        
						<div *ngIf="single_host_data">
                            <div *ngIf="business_hours != null; else openhours" class="md-text mb-0">
                                <div class="cursor-pointer text-dark" (click)="triggerToggleMargin()">
                                    <strong>Business Hours:</strong> 
                                    <span class="ml-2" *ngIf="!show_hours">{{ current_operations.day }} - {{ current_operations.period }}</span>
                                    <i *ngIf="!show_hours" class="ml-3 fa fa-caret-down"></i>
                                    <i *ngIf="show_hours" class="ml-3 fa fa-caret-up"></i>
                                </div>
                                <div *ngIf="show_hours">
                                    <div *ngFor="let hours of business_hours; let i = index" [ngClass]="current_business_day === hours.day ? 'text-primary': 'text-dark'">
                                        {{hours.day}} 
                                        <span *ngIf="hours.periods[0]; else close"> 
                                            <span *ngFor="let periods of hours.periods; let j = index">
                                                <span *ngIf="j > 0"> & </span>
                                                <span *ngIf="periods.open == '' && periods.close =='' && hours.status">- Open 24 hours</span>
                                                <span *ngIf="periods.open == '' && periods.close =='' && !hours.status">- Closed</span>
                                                <span *ngIf="periods.open != '' && periods.close !=''">
                                                    - {{periods.open}} <span *ngIf="periods.open != '' && periods.close != ''">-</span> {{ periods.close }}
                                                </span>
                                            </span>
                                        </span>
                                        <ng-template #close>
											- CLOSED
										</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <ng-template #openhours>
                            <div class="text-dark mt-1 md-text mb-0">
                                <strong>Business Hours:</strong> <span class="ml-2">CLOSED</span>
                            </div>
                        </ng-template>

                        <div class="mt-1 md-text mb-0" *ngIf="host_data">
                            <div class="cursor-pointer text-dark" (click)="onShowNotes()">
                                <strong>Notes: </strong>
                                <span class="ml-2">{{ partialNotes() }}</span>
                                <i class="ml-3 fa fa-external-link"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-even text-right">
                        <div class="control-buttons" *ngIf="single_host_controls && single_host_data">
                            <button mat-button mat-raised-button 
							(click)="triggerAssignLicenseModal()"
							class="theme-btn mr-3">
                                <span class="button-label">Assign License</span>
                                <span class="fas fa-barcode"></span>
                            </button>
                            <button mat-button mat-raised-button class="theme-btn"
                            (click)="checkRoute(single_host_data.dealer_id, single_host_data.host_id)">
                                <span class="button-label">Create Screen</span>
                                <span class="fas fa-tv"></span>
                            </button>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button *ngIf="editable" class="settings-btn" (click)="checkContent()">
        <span class="md-text"><strong>Modify Dealer</strong> <span class="fas fa-cog ml-2"></span></span>
    </button>
</div>