<mat-expansion-panel hideToggle [expanded]="false">
	<mat-expansion-panel-header class="align-items-center" [attr.title]="host_licenses.host.name">
		<div class="flex-even align-middle">
			<mat-slide-toggle
			class="align-middle"
			[checked]="hasActiveLicenses() || remove_in_blocklist.length > 0"
			(click)="$event.stopPropagation()"
			(change)="blocklistingAllLicenses($event, host_licenses.host.hostId)">
			</mat-slide-toggle>
			
			<h5 class="font-weight-bold mb-0 sm-text d-inline-block ml-2 align-middle">{{ cutString(host_licenses.host.name) }}</h5>
		</div>
		<div class="xsm-text">
			{{ host_licenses.licenses.length }} License<span *ngIf="host_licenses.licenses.length > 1">s</span>
			<span class="fas fa-arrow-down ml-2"></span>
		</div>
	</mat-expansion-panel-header>

	<div class="px-3 py-3 border-top">
		<div *ngFor="let l of host_licenses.licenses" class="option-license-list w-100">
			<mat-slide-toggle class="sm-text"
			(change)="blocklisting($event, l.licenseId)"
			[checked]="!incoming_blocklist.includes(l.licenseId) || remove_in_blocklist.includes(l.licenseId)">
				{{ l.alias || l.licenseKey }}
			</mat-slide-toggle>
		</div>
	</div>
</mat-expansion-panel>