<div class="theme-container single-content content-section">
    <div class="row mb-4" *ngIf="content$ | async as c">
        <div class="col-lg-6">
            <div class="d-flex align-items-center content-wrapper">
                <ng-container *ngIf="c.fileType | isvideo">
                    <video autoplay muted [src]="c.url+c.fileName"></video>
                </ng-container>
                <ng-container *ngIf="c.fileType | isimage">
                    <img [src]="c.url+c.fileName">
                </ng-container>
                <ng-container *ngIf="c.fileType == 'feed'">
                    <div class="frame-wrap">
                        <iframe class="responsive-iframe" [src]="c.url | sanitize" frameborder="0"></iframe>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-lg-6 white-bg p-5">
            <div class="mb-3">
                <h3 class="col-lg-12 p-0 mb-3">File Info</h3>
                <div class="col-lg-12 p-0">
                    <span class="font-weight-medium">File Name:</span>
                    <span>{{ c.title }}</span>
                </div>
                <div class="col-lg-12 p-0">
                    <span class="font-weight-medium">Created By:</span>
                    <span>{{ c.createdByName }} </span>
                </div>
                <div class="col-lg-12 p-0">
                    <span class="font-weight-medium">Created At:</span>
                    <span>{{ c.dateCreated | date }}</span>
                </div>
                <div class="col-lg-12 p-0">
                    <span class="font-weight-medium">File Type:</span>
                    <span>{{ c.fileType }}</span>
                </div>
                <div class="col-lg-12 p-0">
                    <span class="font-weight-medium">File Size:</span>
                    <span>{{ getFileSize(c.filesize) }}</span>
                </div>
                <div class="col-lg-12 p-0">
                    <span class="font-weight-medium">Duration:</span>
                    <span>{{ c.duration }} s</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <mat-tab-group dynamicHeight>
                <mat-tab label="Content Analytics">
                    <div class="row align-items-center mt-4">
                        <div class="col-lg-4">
                            <h3 class="mb-0">Report for {{ date_selected }}</h3>
                        </div>
                        <div class="col-lg-8 text-right">
                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput (dateInput)="onSelectDate($event.value)" [matDatepicker]="contentDatePicker" [(value)]="queried_date" readonly>
                                <mat-datepicker-toggle matSuffix [for]="contentDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #contentDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <mat-card>
                                <ng-container *ngIf="!daily_chart_updating; else loader">
                                    <app-data-graph
                                        [data_set]="content_daily_count"
                                        [graph_title]="'Daily Content Play Analytics'"
                                        [graph_description]="'Graph shows the play count of this content for this day.'"
                                        [graph_id]="'daily_graph'"
                                        [realtime_data_per_content]="realtime_data"
                                        [update_chart]="update_chart">
                                    </app-data-graph>
                                </ng-container>
                            </mat-card>
                        </div>

                        <div class="col-lg-12 mb-4">
                            <mat-card>
                                <ng-container *ngIf="!monthly_chart_updating; else loader">
                                    <app-data-graph 
                                        [date_format]="'monthly'"
                                        [data_set]="content_monthly_count"
                                        [graph_title]="'Monthly Content Play Analytics'"
                                        [graph_description]="'Graph shows the play count of this content for this month.'"
                                        [graph_id]="'monthly_graph'"
                                        [realtime_data_per_content]="realtime_data"
                                        [update_chart]="update_chart">
                                    </app-data-graph>
                                </ng-container>
                            </mat-card>
                        </div>

                        <div class="col-lg-12">
                            <mat-card>
                                <ng-container *ngIf="!yearly_chart_updating; else loader">
                                    <app-data-graph 
                                        [date_format]="'yearly'"
                                        [data_set]="content_yearly_count"
                                        [graph_title]="'Yearly Content Play Analytics'"
                                        [graph_description]="'Graph shows the play count of this content for this year.'"
                                        [graph_id]="'yearly_graph'"
                                        [realtime_data_per_content]="realtime_data"
                                        [update_chart]="update_chart">
                                    </app-data-graph>
                                </ng-container>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="In Playlist">
                    <h1>Coming Soon</h1>
                </mat-tab>
                <mat-tab label="Playing Where">
                    <mat-card *ngIf="playing_where.length > 0; else nodata">
                        <app-data-table 
                        [table_data]="playing_where"
                        [table_columns]="table_columns"
                        [new_table]="true"></app-data-table>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <ng-template #loader>
        <div class="loader text-center py-5">
            <app-spinner></app-spinner>
            <h3 class="mt-4 mb-2">Please Wait</h3>
            <p class="sm-text">Getting content logs from database.</p>
        </div>
    </ng-template>

    <ng-template #nodata>
        <div class="col-lg-12 pl-0 pr-0">
            <mat-card class="pt-5 pb-5 col-lg-12 text-center">
                <div class="mb-4">
                    <i class="text-gray fa-5x far fa-file-alt"></i>
                </div>
                <h3 class="text-gray col-lg-12">No Data Found.</h3>
            </mat-card>
        </div>
    </ng-template>
</div>