<div class="dialog-container change-template-dialog d-flex flex-column p-2">
    <div class="d-flex align-items-center heading">
        <div class="flex-even">
            <h1 mat-dialog-title>{{ title }}</h1>
        </div>
        <button class="modal-close-btn no-border no-background" [mat-dialog-close]="false">
            <span class="fas fa-times"></span>
        </button>
    </div>

    <br />
    <div mat-dialog-content>
        <div class="content-container d-flex justify-content-between">
            <!-- CURRENT TEMPLATE -->
            <div class="template current-template d-flex flex-column">
                <h4><b>Current Template:</b></h4>
                <br />

                <!-- TEMPLATE -->
                <h4>
                    <u>{{ currentTemplate.template.name }}</u>
                </h4>
                <br />

                <!-- ZONE PLAYLISTS -->
                <ng-container *ngFor="let zone of screenZonePlaylists">
                    <mat-card class="playlist-zones">
                        <div class="d-flex align-items-center justify-content-between">
                            <label class="zone-name"
                                ><b>{{ zone.screen_template.name | titlecase }} Zone</b></label
                            >
                            <p class="playlist-name">
                                Playlist: {{ zone.screen_template.playlist_name }}
                            </p>
                        </div>
                    </mat-card>
                    <br />
                </ng-container>
            </div>

            <!-- PREVIEW TEMPLATE -->
            <div class="template preview-template d-flex flex-column">
                <h4><b>New Template:</b></h4>

                <ng-container *ngIf="isFormReady; else loading">
                    <form [formGroup]="changeTemplateForm" class="d-flex flex-column">
                        <ng-container *ngFor="let control of formControls">
                            <ng-container *ngIf="fieldInputList.includes(control.type)">
                                <mat-form-field>
                                    <ng-container
                                        *ngIf="control.type === 'select'; else defaultInputField">
                                        <mat-select
                                            [formControlName]="control.name"
                                            [placeholder]="control.label">
                                            <mat-option
                                                *ngFor="let option of control.options"
                                                [value]="option">
                                                {{ option[control.option_label] }}
                                            </mat-option>
                                        </mat-select>
                                    </ng-container>

                                    <ng-template #defaultInputField>
                                        <input
                                            matInput
                                            [formControlName]="control.name"
                                            [placeholder]="control.label" />
                                    </ng-template>
                                </mat-form-field>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="hasSelectedTemplate">
                            <mat-accordion>
                                <mat-expansion-panel
                                    *ngFor="let zone of selectedTemplate.templateZones">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="font-weight-medium">
                                            {{ zone.name | titlecase }} Zone
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field>
                                        <mat-select
                                            [placeholder]="'Select playlist...'"
                                            (selectionChange)="onSelectPlaylist(zone, $event)">
                                            <mat-option
                                                *ngFor="let playlist of dealerPlaylists"
                                                [attr.data-zone-id]="playlist.playlistId"
                                                [value]="playlist">
                                                {{ playlist.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </ng-container>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <div class="actions-container d-flex margin-left-auto">
            <button
                mat-raised-button
                class="submit"
                color="primary"
                (click)="onSubmit()"
                [disabled]="changeTemplateForm.invalid">
                Submit
            </button>
            <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="d-flex align-items-center justify-content-center w-100 h-100 py-5">
        <div class="py-5">
            <app-spinner></app-spinner>
            <h5 class="mt-4 text-center">Please wait...</h5>
        </div>
    </div>
</ng-template>
