<div class="p-5 user-form">
    <div class="d-flex align-items-center mb-5">
        <div class="mr-3">
            <img src="/assets/media-files/advertiser-icon.png" class="user-icon" alt="dealer-icon" />
        </div>
        <div class="flex-even">
            <h3 class="mb-0">New Advertiser</h3>
            <p class="sm-text mb-0">Fill the forms below to create a new Advertiser.</p>
        </div>
        <div class="text-right">
            <a class="sm-text font-weight-bold text-primary" [routerLink]="back_btn">
                <span class="fas fa-angle-left mr-2"></span>
                Select User Type
            </a>
        </div>
    </div>

    <form
        [formGroup]="new_advertiser_form"
        #formDirective="ngForm"
        (ngSubmit)="createNewAdvertiser(formDirective)"
        class="text-left"
        *ngIf="!is_loading; else loader">
        <div class="row mb-4">
            <ng-container *ngFor="let f of form_fields_view">
                <div class="{{ f.width }}">
                    <mat-form-field
                        class="full-width"
                        *ngIf="!f.is_autocomplete && f.type !== 'password' && !f.isComponent; else customField">
                        <mat-label>{{ f.label }}</mat-label>
                        <input
                            formControlName="{{ f.control }}"
                            matInput
                            type="{{ f.type }}"
                            placeholder="{{ f.placeholder }}" />
                    </mat-form-field>

                    <div class="validation" *ngIf="f.type === 'password'">
                        <span
                            *ngIf="f.password_field"
                            class="validation_msg sm-text"
                            [ngClass]="password_is_valid ? 'success' : 'error'">
                            {{ password_is_valid_msg }}
                        </span>

                        <span
                            *ngIf="f.re_password_field"
                            class="validation_msg sm-text"
                            [ngClass]="password_is_match ? 'success' : 'error'">
                            {{ password_match_msg }}
                        </span>
                    </div>

                    <ng-template #customField>
                        <mat-form-field class="full-width" *ngIf="f.control === 'password'">
                            <mat-label>{{ f.label }}</mat-label>
                            <div class="password-container">
                                <div class="field">
                                    <input
                                        formControlName="{{ f.control }}"
                                        matInput
                                        placeholder="{{ f.placeholder }}"
                                        [type]="is_password_field_type ? 'password' : 'text'" />
                                    <mat-icon class="pw-visibility" matSuffix (click)="togglePasswordFieldType()">{{
                                        is_password_field_type ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                                </div>
                            </div>
                        </mat-form-field>

                        <mat-form-field class="full-width" *ngIf="f.control === 're_password'">
                            <mat-label>{{ f.label }}</mat-label>
                            <div class="field d-flex">
                                <input
                                    formControlName="{{ f.control }}"
                                    matInput
                                    placeholder="{{ f.placeholder }}"
                                    [type]="is_retype_password_field_type ? 'password' : 'text'" />
                                <mat-icon class="pw-visibility" matSuffix (click)="toggleRetypePasswordFieldType()">{{
                                    is_retype_password_field_type ? 'visibility_off' : 'visibility'
                                }}</mat-icon>
                            </div>
                        </mat-form-field>

                        <ng-container *ngIf="f.control === 'contactNumber'">
                            <app-contact-number
                                (contact_value)="getContactValue($event)"
                                (touch_and_not_valid)="setContactNumberToInvalid($event)">
                            </app-contact-number>
                        </ng-container>

                        <app-dealer-autocomplete
                            *ngIf="f.dealer_field"
                            (dealer_selected)="dealerSelected($event)"
                            [initial_value]="dealer_name"
                            [active_only]="true">
                        </app-dealer-autocomplete>

                        <div *ngIf="f.advertiserField">
                            <app-autocomplete
                                [field_data]="advertiserDataField"
                                *ngIf="advertiserDataField.data.length; else loading"
                                (value_selected)="advertiserSelected($event)">
                            </app-autocomplete>
                        </div>

                        <ng-template #loading>
                            <p
                                class="bg-info text-white p-2 mb-3 sm-text"
                                *ngIf="!advertiserDataField.data.length && !selectedDealer">
                                Advertiser field will appear if Dealer has available advertiser profiles
                            </p>
                            <p
                                class="bg-danger text-white p-2 mb-3 sm-text"
                                *ngIf="!advertiserDataField.data.length && noAdvertiser">
                                Dealer has no available advertiser profiles
                            </p>
                            <app-spinner [diameter]="30" *ngIf="selectedDealer && !noAdvertiser"></app-spinner>
                        </ng-template>
                    </ng-template>
                </div>
            </ng-container>
        </div>
        <button
            mat-button
            mat-raised-button
            class="theme-btn mr-2"
            [disabled]="form_invalid || !dealerHasValue || contactTouchAndInvalid">
            Create Advertiser
        </button>
    </form>

    <div class="submit-on-load d-flex align-items-center justify-content-center w-100" *ngIf="is_submitted">
        <app-spinner></app-spinner>
    </div>
    <ng-template #loader>
        <div class="vh-50 d-flex align-items-center justify-content-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
