<div class="theme-container">
    <div class="content-section">
        <div class="row">
            <div class="col-12 col-lg">
                <mat-card *ngIf="!loading_license; else spinner">
                    <app-data-card-compare *ngIf="license_details.basis > 0; else no_license"
                    [compare_basis]="license_details.basis"
                    [compare_basis_label]="license_details.basis_label"
                    [good_value]="license_details.good_value"
                    [good_value_label]="license_details.good_value_label"
                    [bad_value]="license_details.bad_value"
                    [bad_value_label]="license_details.bad_value_label">
                    </app-data-card-compare>
                </mat-card>
            </div>
            <div class="col-12 col-lg">
                <mat-card *ngIf="!loading_advertiser; else spinner">
                    <app-data-card-compare *ngIf="advertiser_details.basis > 0; else no_advertiser"
                    [compare_basis]="advertiser_details.basis"
                    [compare_basis_label]="advertiser_details.basis_label"
                    [good_value]="advertiser_details.good_value"
                    [good_value_label]="advertiser_details.good_value_label"
                    [bad_value]="advertiser_details.bad_value"
                    [bad_value_label]="advertiser_details.bad_value_label">
                    </app-data-card-compare>
                </mat-card>
            </div>
            <div class="col-12 col-lg">
                <mat-card *ngIf="!loading_host; else spinner">
                    <app-data-card-compare *ngIf="host_details.basis > 0; else no_host"
                    [compare_basis]="host_details.basis"
                    [compare_basis_label]="host_details.basis_label"
                    [good_value]="host_details.good_value"
                    [good_value_label]="host_details.good_value_label"
                    [bad_value]="host_details.bad_value"
                    [bad_value_label]="host_details.bad_value_label"
                    [additional_value]="host_details.additional_value"
                    [additional_value_label]="host_details.additional_value_label">
                    </app-data-card-compare>
                </mat-card>
            </div>
            <div class="col-12 col-lg">
                <mat-card *ngIf="!loading_content; else spinner">
                    <app-data-card-compare *ngIf="content_details.basis > 0; else no_content"
                    [compare_basis]="content_details.basis"
                    [compare_basis_label]="content_details.basis_label"
                    [good_value]="content_details.good_value"
                    [good_value_label]="content_details.good_value_label"
                    [bad_value]="content_details.bad_value"
                    [bad_value_label]="content_details.bad_value_label"
                    [additional_value]="content_details.additional_value"
					[additional_value_label]="content_details.additional_value_label"
					[is_green]="true">
                    </app-data-card-compare>
                </mat-card>
            </div>
            <ng-template #spinner>
                <mat-card class="py-5">
                    <app-spinner [diameter]="65"></app-spinner>
                </mat-card>
            </ng-template>        
        </div>
        <div class="row mt-5" *ngIf="user_data">
            <div class="col-lg-12">
                <mat-card class="p-5">
                    <form [formGroup]="update_user" (ngSubmit)="updateUserInfo()">
                        <div class="d-flex align-items-center mb-4">
                            <div class="flex-even">
                                <h3>Dealer Profile Info</h3>
                                <p class="sm-text mb-0">Modify Basic Dealer Info and Save Changes.</p>
                            </div>
                            <div class="text-right">
                                <button type="button" mat-button mat-raised-button class="theme-btn mt-4 mr-3" [disabled]="update_info_form_disabled" (click)="activateEdit(true)">
                                    Edit
                                </button>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-lg-12 text-success mb-3">
                                Dealer Since: {{user_data.dateCreated}}
                            </div>
                        </div>
                        <div class="row">
                            <mat-form-field class="{{ f.width }}" *ngFor="let f of form_fields_view" >
                                <mat-label>{{ f.label }}</mat-label>
                                <input matInput formControlName="{{ f.control }}" [type]="f.type" [placeholder]="f.placeholder" >
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button mat-raised-button class="theme-btn mt-4 mr-3" [disabled]="!update_info_form_disabled">
                                Update
                            </button>
                            <button type="button" mat-button mat-raised-button [disabled]="!update_info_form_disabled" (click)="activateEdit(false)" class="theme-btn">
                                Cancel
                             </button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>

        <ng-template #no_license>
            <div class="py-4 align-items-center justify-content-center">
                <h3>Oh Snap!</h3>
                <p class="sm-text mb-3">
                    There are no available licenses at the moment.
                </p>
            </div>
        </ng-template>
        <ng-template #no_advertiser>
            <div class="py-1 align-items-center justify-content-center">
                <h3>Aw, Sorry!</h3>
                <p class="sm-text mb-3">
                    There are no available advertiser profile at the moment.
                </p>
                <button mat-button mat-raised-button class="md-text mb-1 theme-btn mr-2" [routerLink]="['/sub-dealer/advertisers/create-advertiser']">
                    Add Advertiser Profile
                    <span class="fas fa-user ml-2 sm-text"></span>
                </button>
            </div>
        </ng-template>
        <ng-template #no_host>
            <div class="py-1 align-items-center justify-content-center">
                <h3>Ugh, Sorry!</h3>
                <p class="sm-text mb-3">
                    There are no available host place at the moment.
                </p>
                <button mat-button mat-raised-button class="md-text mb-1 theme-btn mr-2" [routerLink]="['/sub-dealer/hosts/create-host']">
                    Add Host Place
                    <span class="fas fa-map-marker ml-2 sm-text"></span>
                </button>
            </div>
        </ng-template>
        <ng-template #no_content>
            <div class="py-1 align-items-center justify-content-center">
                <h3>Oh no!</h3>
                <p class="sm-text mb-3">
                    There are no available content at the moment.
                </p>
                <button mat-button mat-raised-button class="md-text mb-1 theme-btn mr-2" [routerLink]="['/sub-dealer/media-library']">
                    Add Content
                    <span class="fas fa-upload ml-2 sm-text"></span>
                </button>
            </div>
        </ng-template>
    </div>
</div>