.marked {
    box-shadow:
        0 10px 20px rgba(151, 209, 17, 0.836),
        0 6px 6px rgba(151, 209, 17, 0.884);
}

.loader-overlay {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-playlist-forms {
    display: flex;
    gap: 30px;

    p {
        text-wrap: pretty;
    }
}

.app-playlist-forms--content {
    width: 100%;
}

.add-playlist-head {
    padding-top: 1.34375em;
}

.font-semibold {
    font-weight: 600;
    color: #8ec641;
}
