<!-- DROPDOWN AND SEARCH BOX ROW -->
<div class="dropdown-and-search-section d-flex justify-content-between">
	
	<!-- TAG TYPES DROPDOWN -->
	<div class="tag-types-select-container">

		<div class="mr-2">
			<button mat-button mat-raised-button [matMenuTriggerFor]="tagTypeMenu" mat-raised-button class="theme-btn">
				<span class="button-label">Filter by: {{ currentFilter }}</span>
				<span class="fas fa-angle-down ml-2"></span>
			</button>
			<mat-menu #tagTypeMenu="matMenu">
				<button mat-menu-item *ngFor="let type of tagTypes" 
					[class.selected-filter]="type.name === currentFilter"
					(click)="onSelectTagType(type)">{{ type.name }}</button>
			</mat-menu>
		</div>
	</div>

	<!-- SEARCH FIELD -->
	<div class="search-container">
		<mat-form-field class="full-width" *ngIf="!isLoading">
			<mat-label>Search Tags/Owners...</mat-label>
			<input matInput [formControl]="searchFormControl">
		</mat-form-field>
	</div>

</div>

<mat-card>
	<ng-container *ngIf="!isLoading; else loading">
		<!-- TABLE -->
		<app-tags-table *ngIf="owners.length > 0; else noResults"
			[tableType]="'tag-owners'"
			[isLoading]="isLoading"
			[paging]="pagingData"
			[tableColumns]="columns"
			[tableData]="owners"
			[currentTagType]="currentTagType"
			[currentUserRole]="currentUserRole"
			(clickedPageNumber)="onClickPageNumber($event)">
		</app-tags-table>
	</ng-container>
</mat-card>

<ng-template #loading>
	<div class="py-4">
		<app-spinner [diameter]="60"></app-spinner>
	</div>
</ng-template>

<ng-template #noResults>
	<p>No results found</p>
</ng-template>