.heading {
	.saving-indicator {
		margin-right: 20px;
	}
}

.sections {
	.text-editor-section {
		min-width: 550px;
	}
}

.mat-dialog-actions {
	justify-content: flex-start;
	margin-top: 20px;
}
