<div id="create-release-notes-dialog p-2">
    <div class="heading d-flex">
        <div class="flex-even">
            <h3 class="p-0 col-lg-12">{{ title }}</h3>
        </div>
        <div>
            <button class="modal-close-btn no-border no-background" [mat-dialog-close]="false">
                <span class="fas fa-times"></span>
            </button>
        </div>
    </div>

    <hr />

    <div class="sections">
        <div class="text-editor-section">
            <ng-container *ngIf="isFormLoaded">
                <form [formGroup]="notesForm">
                    <div class="d-flex">
                        <!-- VERSION -->
                        <mat-form-field class="flex-even mr-4" appearance="fill">
                            <mat-label>Version</mat-label>
                            <input
                                formControlName="version"
                                matInput
                                placeholder="e.g. v1.2.3"
                                type="text" />
                        </mat-form-field>

                        <mat-form-field class="flex-even" appearance="fill">
                            <mat-label>Title</mat-label>
                            <input
                                formControlName="title"
                                matInput
                                placeholder="e.g. Release Notes for 2024"
                                type="text" />
                        </mat-form-field>
                    </div>
                    <div>
                        <app-wysiwyg
                            (tynimce_value)="fetchingValue($event)"
                            [description]="description"></app-wysiwyg>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>

    <!-- SUBMIT BUTTON -->
    <div mat-dialog-actions>
        <button
            mat-button
            mat-raised-button
            class="submit theme-btn _primary"
            type="submit"
            (click)="onSubmit()"
            [disabled]="notesForm.invalid">
            Submit
        </button>
        <button mat-button mat-raised-button class="theme-btn bg-danger" [mat-dialog-close]="true">
            Cancel
        </button>
    </div>
</div>
