.form-spinner {
    position: absolute;
    right: 10px;
    top: 10px;
}

.img-responsive {
    width: 100%;
}

.theme-container {
    padding: 0 30px;
}

.word-break {
    word-wrap: break-word !important;
}

.submit-on-load {
    background-color: rgba($light, 0.85);
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
}

//Cursor
.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.cursor-void {
    cursor: no-drop;
}

// Display
.inline-block {
    display: inline-block;
}
.flex-even {
    flex: 1;
}

.flex {
    display: flex;
}

//borders, backgrounds and outlines
.no-border {
    border: 0;
}
.no-background {
    background: none;
}
.no-outline {
    outline: none;
}
.br-100 {
    border-radius: 100%;
}
.right-border {
    border-right: 1px solid gray;
}

//width
.full-width {
    width: 100%;
}

// Image Full Width Cover
.image-w-100 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

//height
.vh-100 {
    height: 100vh !important;
}

.vh-50 {
    height: 50vh !important;
}

.vh-60 {
    height: 60vh !important;
}

.vh-64 {
    height: 64vh !important;
}

.vh-75 {
    height: 75vh !important;
}

.vh-30 {
    height: 30vh !important;
}

.min-height-30 {
    min-height: 30vh;
}

.min-height-500 {
    min-height: 500px !important;
}

.height-100 {
    height: 100%;
}

//positions
.p-fixed {
    position: fixed !important;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}

.font-weight-medium {
    font-weight: 600;
}

//margins
// .m-0 {
//     margin:0px;
// }
// .mr-3 {
//     margin-right: 1rem;
// }
// .mb-4 {
//     margin-bottom: 1.5em !important; //remove important if bootstrap is gone
// }
// .mb-5 {
//     margin-bottom: 3em !important; //remove important if bootstrap is gone
// }
// .ml-10 {
//     margin-left: 10px;
// }
// .mr-10 {
//     margin-right: 10px;
// }
// .my-4 {
//     margin-bottom: 1.5rem !important;
// }

.mx-30 {
    margin-inline: -30px;
}

//paddings
// .p-0 {
//     padding: 0px;
// }
// .p-3 {
//     padding: 1rem;
// }

.child-container {
    padding-inline: 35px;
}

//text sizes
.sm-text {
    font-size: $sm !important;
}

.xxsm-text {
    font-size: $xxsm !important;
}

.x-sm-text {
    font-size: 9px !important;
}

.xsm-text {
    font-size: $xsm;
}

.md-text {
    font-size: $md !important;
}
.normal-text {
    font-size: $normal !important;
}

.lg-text {
    font-size: $lg !important;
}

.xlg-text {
    font-size: $xlg !important;
}

.line-height-lg {
    line-height: $lg;
}

.line-height-xlg {
    line-height: $xlg;
}

//Overflows
.overflow-hidden {
    overflow: hidden !important;
}

//Colors
.text-white {
    color: $light;
}

//Font Weight
.font-weight-md {
    font-weight: 500 !important;
}
.font-weight-bold {
    font-weight: 700;
}

//Ordered Unordered List
.list-unstyled {
    list-style: none;
}

.fs-normal {
    font-size: $normal;
}
