$black: #000000;
$black_light: rgba(0, 0, 0, 0.54);
$blue_dark: #5d89a8;
$dark: #1c2731;
$disabled: #9cb493;
$light: #ffffff;
$lighten_white: #fafafa;
$autocomplete_border: #f0f0f0;
$muted: #ebebeb;
$gray: #ececec;
$gray2: #ddd;
$gray_border: #ccc;
$gray_table_border: #dee2e6;
$navbar_border: #eaeaea;
$silver: #c0c0c0;
$playlist_bg: #e9e9e9;
$danger: #ee5454;
$primary: #8ec641;
$primary_focus: #6b9630;
$green_border: #97c44e;
$green_light: #e3eec4;
$success: #6baa30;
$example_handle: #83c033;
$thead_gray: #ece9e9;
$trow_gray: #f8f8f8;
$error: #d44747;
$transparent: transparent;
$gray_dark: #696969;
$button_gray: #8c8787;
$light_gray: #f1f1f1;
$shadow: #7b7b7b;
$cool: #0b6088;

// Text Size
$xxsm: 8px;
$xsm: 10px;
$sm: 12px;
$md: 13px;
$normal: 15px;
$lg: 20px;
$xlg: 24px;

// Font weight
$f_medium: 500;
$f_bold: bold;
