$black: #000000;
$dark: #1C2731;
$disabled: #9CB493;
$light: #FFFFFF;
$lighten_white: #FAFAFA;
$autocomplete_border: #F0F0F0;
$muted: #EBEBEB;
$gray: #ECECEC;
$gray2: #DDD;
$gray_border: #CCC;
$gray_table_border: #DEE2E6;
$navbar_border: #EEE;
$silver: #C0C0C0;
$playlist_bg: #E9E9E9;
$danger: #EE5454;
$primary: #8EC641;
$primary_focus: #6B9630;
$green_border: #97C44E;
$green_light: #e3eec4;
$success: #6BAA30;
$example_handle: #83C033;
$thead_gray: #ece9e9;
$trow_gray: #f8f8f8;
$error: #D44747;
$transparent: transparent;
$gray_dark: #696969;
$button_gray: #8c8787;
$light_gray: #f1f1f1;
$shadow: #7b7b7b;

// Text Size
$xsm: 10px;
$sm: 12px;
$md: 13px;
$normal: 15px;
$lg: 20px;
$xlg: 25px;

// Font weight
$f_medium: 500;
$f_bold: bold;