<div class="theme-container">
    <div class="title-section">
        <h1 class="page-title">{{ title }}</h1>
        <p class="sm-text">This is a danger zone, actions done in this page may result to breaking changes.</p>
        <hr class="mt-4 mb-0" />
    </div>

    <div class="row">
        <div class="col-lg-12">
            <mat-tab-group dynamicHeight>
                <mat-tab label="Vendors">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="mat-top-em">
                                <div class="flex">
                                    <div class="flex-2 d-inline-flex">
                                        <button
                                            mat-button
                                            mat-raised-button
                                            class="theme-btn pi-control sm-text"
                                            (click)="openAddProgrammaticModal()">
                                            <span class="fas fa-plus"></span>
                                            <span class="ml-2 button_text_animation">Add Programmatic</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <mat-card class="p-5 mt-5">
                                <h3>Set Global Settings</h3>
                                <p class="sm-text mb-4">
                                    Global settings are configuration fetched and applied by all players.
                                </p>
                                <form [formGroup]="global_settings_form">
                                    <mat-form-field class="mb-3 full-width" appearance="fill">
                                        <mat-label>Vistar Network ID</mat-label>
                                        <input
                                            type="text"
                                            matInput
                                            formControlName="vistarNetworkId"
                                            placeholder="Enter Vistar Network ID" />
                                    </mat-form-field>

                                    <mat-form-field class="mb-3 full-width" appearance="fill">
                                        <mat-label>Vistar API Key</mat-label>
                                        <input
                                            type="text"
                                            matInput
                                            formControlName="vistarApiKey"
                                            placeholder="Enter API Key" />
                                    </mat-form-field>

                                    <button
                                        mat-button
                                        mat-raised-button
                                        class="theme-btn"
                                        [disabled]="!global_settings_form.valid">
                                        Save
                                    </button>
                                </form>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Targets"> </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
