.weather-demo {
    background: #e0e0e0;
    min-height: 450px;
    position: relative;
    width: 100%;

    .spinner-display {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 6;
    }

    img {
        position: relative;
        z-index: 7
    }
}