<div id="dma-tab-view">
    <div class="action-buttons d-flex mt-3 mb-3">
        <button
            mat-button
            mat-raised-button
            class="theme-btn pi-control sm-text _primary mr-2"
            (click)="onExport()"
            [disabled]="isExporting || currentDMAList.length === 0"
            title="Export to CSV">
            <span class="{{ !isExporting ? 'fas fa-file-excel' : 'fas fa-spinner' }}"></span>
            <span class="ml-2 button_text_animation">{{
                !isExporting ? 'Export' : 'Generating CSV'
            }}</span>
        </button>
        <button
            mat-button
            mat-raised-button
            class="theme-btn pi-control sm-text _cool mr-2"
            (click)="toggleOverMap()"
            title="{{ status ? 'Show Search Result' : 'Hide Search Results' }}">
            <span [ngClass]="status ? 'fas fa-eye' : 'fas fa-eye-slash'"></span>
            <span class="ml-2 button_text_animation">{{
                status ? 'Show Search Result' : 'Hide Search Results'
            }}</span>
        </button>
    </div>

    <div class="content">
        <div class="content-container">
            <div class="map-overlay">
                <!-- MAP -->
                <agm-map
                    class="vh-100"
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [fitBounds]="hasSelectedDMA"
                    [maxZoom]="19">
                    <agm-marker
                        id="{{ host.hostId }}"
                        *ngFor="let host of dmaHostLocations"
                        (markerClick)="onClickMarkedHostLocation(host.hostId, window)"
                        [latitude]="host.latitude"
                        [longitude]="host.longitude"
                        [agmFitBounds]="true">
                        <agm-info-window [isOpen]="currentHostIdSelected == host.hostId" #window>
                            <h4 class="font-weight-bold">{{ host.hostName }}</h4>
                            <div class="mt-2">
                                <tr>
                                    <th>
                                        <h5 class="font-weight-bold">Address:</h5>
                                    </th>
                                    <td class="mr-2">
                                        <h5>{{ host.address }}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5 class="font-weight-bold">Category:</h5>
                                    </th>
                                    <td>
                                        <h5>{{ host.category }}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pr-2">
                                        <h5 class="font-weight-bold">Operation Hours:</h5>
                                    </th>
                                    <td>
                                        <tr *ngFor="let schedule of host.storeHoursParsed">
                                            <th class="pr-4">
                                                <h5>{{ schedule.day }}</h5>
                                            </th>
                                            <span *ngIf="schedule.periods[0]; else close">
                                                <td
                                                    *ngFor="
                                                        let hrs of schedule.periods;
                                                        let j = index
                                                    ">
                                                    <h5 *ngIf="j > 0">&</h5>
                                                    <h5
                                                        *ngIf="
                                                            hrs.open == '' &&
                                                            hrs.close == '' &&
                                                            schedule.status
                                                        ">
                                                        - Open 24 hours
                                                    </h5>
                                                    <h5
                                                        *ngIf="
                                                            hrs.open == '' &&
                                                            hrs.close == '' &&
                                                            !schedule.status
                                                        ">
                                                        - Closed
                                                    </h5>
                                                    <h5 *ngIf="hrs.open != '' && hrs.close != ''">
                                                        {{ hrs.open }} - {{ hrs.close }}
                                                    </h5>
                                                </td>
                                            </span>
                                            <ng-template #close>- CLOSED</ng-template>
                                        </tr>
                                    </td>
                                </tr>
                            </div>
                            <h6 class="coordinates mt-3">
                                <i class="fas fa-map-marker"></i> {{ host.latitude }},{{
                                    host.longitude
                                }}
                            </h6>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>

                <!-- SEARCH CONTAINER -->
                <div class="search-container" [ngClass]="status ? 'minimize-overlay' : ''">
                    <div class="search-box pl-3 pt-2 pr-3">
                        <ng-container *ngIf="isFormReady">
                            <form [formGroup]="searchSelectForm">
                                <div class="d-flex">
                                    <div class="search-input full-width">
                                        <mat-form-field class="full-width md-text">
                                            <mat-select
                                                #dma_multi_select
                                                formControlName="dmaList"
                                                [placeholder]="'Select DMA'"
                                                [multiple]="true"
                                                disableOptionCentering>
                                                <div class="custom-panel">
                                                    <mat-option>
                                                        <ngx-mat-select-search
                                                            noEntriesFoundLabel="No results"
                                                            formControlName="searchDMAKeyword"
                                                            [placeholderLabel]="
                                                                'Search DMA by name, code, or rank'
                                                            "
                                                            [clearSearchInput]="true"
                                                            [searching]="isSearchingDMA"
                                                            class="md-text">
                                                            <mat-icon class="clear">close</mat-icon>
                                                        </ngx-mat-select-search>
                                                    </mat-option>

                                                    <mat-option
                                                        *ngFor="let dma of filteredDMA | async"
                                                        [value]="dma">
                                                        <div class="dma">
                                                            #{{ dma.dmaRank }} - {{ dma.dmaName }}
                                                        </div>
                                                    </mat-option>
                                                </div>
                                                <footer class="selection">
                                                    <button
                                                        class="theme-btn _primary md-text mr-3"
                                                        (click)="dma_multi_select.close()">
                                                        APPLY SELECTION
                                                    </button>
                                                </footer>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </div>

                    <div class="selected-dma p-3" *ngIf="currentDMAList.length > 0">
                        <div class="col-lg-12 d-flex p-0">
                            <div class="col-lg-7 p-0 pb-1">
                                <h5>DMA Name(s):</h5>
                            </div>
                            <div
                                class="col-lg-5 p-0 pb-1 text-right md-text f-500 text-danger clickable"
                                (click)="onClearDMA()">
                                <i class="far fa-times-circle mr-2"></i>
                                <span>CLEAR SELECTION</span>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex p-0">
                            <ng-container *ngIf="currentDMAList.length > 0">
                                <div class="list-container d-flex align-items-start flex-wrap">
                                    <div
                                        *ngFor="let dma of currentDMAList; let i = index"
                                        class="dma d-flex align-items-center">
                                        <div class="name">
                                            #{{ dma.dmaRank }} - {{ dma.dmaName }}
                                        </div>
                                        <div
                                            class="remove-btn cursor-pointer"
                                            (click)="onDeselectDMA(i)">
                                            <mat-icon>close</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <ng-container *ngIf="currentDMAList.length > 0">
                        <div class="selected-dma-info p-3 mt-3">
                            <mat-accordion>
                                <mat-expansion-panel
                                    *ngFor="let dma of currentDMAList"
                                    class="mb-3"
                                    [ngClass]="dma.totalHosts > 0 ? '' : 'not-clickable'">
                                    <mat-expansion-panel-header class="mt-2">
                                        <mat-panel-title class="md-text p-0">
                                            <div class="name font-weight-bold md-text">
                                                #{{ dma.dmaRank }} - {{ dma.dmaName }}
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description
                                            class="md-text p-0"
                                            *ngIf="dma.hosts">
                                            <div
                                                class="total-hosts"
                                                [ngClass]="
                                                    dma.totalHosts > 0
                                                        ? 'text-primary'
                                                        : 'text-danger'
                                                ">
                                                <!-- <b>{{ dma.totalHosts }}</b> Host(s) -->
                                                <b>{{ dma.hosts.length }}</b> Host(s)
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="expansion-panel-content full-width">
                                        <hr />
                                        <mat-list class="dma-host-list">
                                            <mat-list-item
                                                *ngFor="let host of dma.hosts"
                                                class="name sm-text"
                                                (click)="onClickHostName(host.hostId)">
                                                {{ host.hostName }}
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
