<div id="dma-tab-view">

	<div class="content">

		<div class="content-container">

			<!-- MAP -->
			<div class="map-overlay">
				<agm-map class="vh-100" [latitude]="latitude" [longitude]="longitude" [fitBounds]="hasSelectedDMA" [maxZoom]="19">
					<agm-marker id="{{ host.hostId }}" *ngFor="let host of dmaHostLocations"
						(markerClick)="onClickMarkedHostLocation(host.hostId, window)" [latitude]="host.latitude" [longitude]="host.longitude"
						[agmFitBounds]="true">
				
						<agm-info-window [isOpen]="currentHostIdSelected == host.hostId" #window>
							<h4 class="font-weight-bold">{{ host.hostName }}</h4>
							<div class="mt-2">
								<tr>
									<th>
										<h5 class="font-weight-bold">Address:</h5>
									</th>
									<td class="mr-2">
										<h5>{{ host.address }}</h5>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="font-weight-bold">Category:</h5>
									</th>
									<td>
										<h5>{{ host.category }}</h5>
									</td>
								</tr>
								<tr>
									<th class="pr-2">
										<h5 class="font-weight-bold">Operation Hours: </h5>
									</th>
									<td>
										<tr *ngFor="let schedule of host.storeHours">
											<th class="pr-4">
												<h5>{{ schedule.day }} </h5>
											</th>
											<span *ngIf="schedule.periods[0]; else close">
												<td *ngFor="let hrs of schedule.periods; let j = index">
													<h5 *ngIf="j > 0"> & </h5>
													<h5 *ngIf="hrs.open == '' && hrs.close =='' && schedule.status"> - Open 24 hours</h5>
													<h5 *ngIf="hrs.open == '' && hrs.close =='' && !schedule.status"> - Closed</h5>
													<h5 *ngIf="hrs.open != '' && hrs.close !=''">
														{{hrs.open}} - {{ hrs.close }}
													</h5>
												</td>
											</span>
											<ng-template #close>- CLOSED</ng-template>
										</tr>
									</td>
								</tr>
							</div>
							<h6 class="coordinates mt-3"><i class="fas fa-map-marker"></i> {{host.latitude}},{{host.longitude}}</h6>
						</agm-info-window>
				
					</agm-marker>
				</agm-map>
			</div>

			<!-- SEARCH CONTAINER -->
			<div class="search-container">

				<div class="search-box pl-3 pt-2 pr-3">
					<ng-container *ngIf="isFormReady">
						<form [formGroup]="searchSelectForm">
							<div class="d-flex">
								<div class="search-input full-width">
									<mat-form-field class="full-width">
											<mat-select #dma_multi_select formControlName="dmaList" [placeholder]="'Select DMA'"
												[multiple]="true" (closed)="onCloseSearchSelectMenu()" disableOptionCentering>
												<mat-option>
													<ngx-mat-select-search noEntriesFoundLabel="No results" formControlName="searchDMAKeyword"
														[placeholderLabel]="'Search DMA by name, code, or rank'" [clearSearchInput]="false"
														[searching]="isSearchingDMA">
														<mat-icon class="clear" ngxMatSelectSearchClear>close</mat-icon>
													</ngx-mat-select-search>
								
												</mat-option>
								
												<mat-option *ngFor="let dma of filteredDMA | async" [value]="dma">
													<div class="dma">
														#{{ dma.dmaRank }} - {{ dma.dmaName }}
													</div>
												</mat-option>
											</mat-select>
		
									</mat-form-field>
								</div>
							</div>
						</form>
					</ng-container>
				</div>

				<div class="selected-dma pl-3 pt-2 pr-3 pb-3">
					<div class="d-flex flex-column">
						<h5>DMA Name(s):</h5>

						<ng-container *ngIf="currentDMAList.length > 0">
							<div class="list-container d-flex align-items-start flex-wrap">
								<div *ngFor="let dma of currentDMAList; let i = index;" class="dma d-flex align-items-center">
									<div class="name">#{{ dma.dmaRank }} - {{ dma.dmaName }}</div>
									<div class="remove-btn cursor-pointer" (click)="onDeselectDMA(i)">
										<mat-icon>close</mat-icon>
									</div>
								</div>	
							</div>
						</ng-container>
					</div>

				</div>

				<ng-container *ngIf="currentDMAList.length > 0">
					<div class="selected-dma-info pl-3 pt-2 pr-3 pb-3">
		
						<mat-accordion>
							<mat-expansion-panel *ngFor="let dma of currentDMAList" class="mb-3">
								<mat-expansion-panel-header class="mt-2">
									<mat-panel-title class="md-text p-0">
										<div class="name font-weight-bold">
											#{{ dma.dmaRank }} - {{ dma.dmaName }}
										</div>
									</mat-panel-title>
									<mat-panel-description class="md-text p-0">
										<div class="total-hosts">
											<b>{{ dma.totalHosts }}</b> Host(s)
										</div>
									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="expansion-panel-content">
									<mat-list class="dma-host-list">
										<mat-list-item *ngFor="let host of dma.hosts" class="name sm-text" (click)="onClickHostName(host.hostId)">
											{{ host.hostName }}
										</mat-list-item>
									</mat-list>
								</div>
							</mat-expansion-panel>
						</mat-accordion>
						
					</div>
				</ng-container>
				
			</div>
			

		</div>
	</div>
</div>