<div class="pt-4">
	<div class="row">
		<div class="col-lg-8">
			<button mat-button mat-raised-button class="theme-btn pi-control sm-text mr-2" title="Reload" (click)="onReloadLicenses()">
				<span class="fas fa-sync-alt"></span>
				<span class="ml-2 button_text_animation">Reload</span>
			</button>

			<button
				mat-button
				mat-raised-button
				class="theme-btn pi-control _danger sm-text mr-2"
				title="Unassign Licenses"
				(click)="onUnassignLicense()"
				[disabled]="licenses.length == 0 || isViewOnly">
				<span class="fas fa-times"></span>
				<span class="ml-2 button_text_animation">Unassign Licenses</span>
			</button>

			<button
				mat-button
				mat-raised-button
				class="theme-btn pi-control _warning sm-text mr-2"
				title="Content Update"
				(click)="onPushUpdate()"
				[disabled]="licenses.length === 0 || isPiUpdating || isViewOnly">
				<span class="fas fa-upload"></span>
				<span class="ml-2 button_text_animation">Content Update</span>
			</button>

			<button
				mat-button
				mat-raised-button
				class="theme-btn pi-control _primary sm-text mr-2"
				title="{{ updateBtnText }}"
				(click)="onUpdateAndRestart()"
				[disabled]="licenses.length === 0 || isPiUpdating || isViewOnly">
				<span class="fas fa-terminal"></span>
				<span class="ml-2 button_text_animation">{{ updateBtnText }}</span>
			</button>
		</div>
		<div class="col-lg-4">
			<mat-form-field class="full-width">
				<mat-label><span class="fas fa-search sm-text mr-2"></span> Search License Key or Alias</mat-label>
				<input matInput [formControl]="searchFormControl" />
			</mat-form-field>
		</div>
		<div class="col-lg-12">
			<mat-card>
				<ng-container *ngIf="licenses && licenses.length > 0; else loading">
					<app-data-table
						[table_columns]="tableColumns"
						[table_data]="tableData"
						[paging_details]="pagingData"
						[new_table]="true"
						[license_status_column]="true"
						[is_view_only]="isViewOnly"
						(update_info)="onReloadLicenses()">
					</app-data-table>
				</ng-container>
			</mat-card>
		</div>
	</div>
</div>

<ng-template #loading>
	<ng-container *ngIf="!hasNoData; else no_data">
		<div class="loading-wrapper">
			<app-spinner></app-spinner>
		</div>
	</ng-container>
</ng-template>

<ng-template #no_data>
	<app-error-message></app-error-message>
</ng-template>
