<div class="p-4 user-form position-relative">
    <h3 class="mb-4">Create a Feed</h3>

    <form
        class="text-left"
        [formGroup]="new_feed_form"
        (ngSubmit)="saveFeed()"
        class="text-left"
        #formDirective="ngForm">
        <div class="d-flex flex-column">
            <mat-form-field class="full-width">
                <mat-label>Feed Type</mat-label>
                <mat-select formControlName="feedType">
                    <mat-option *ngFor="let feed of feed_types" [value]="feed.id">
                        {{ feed.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Feed Title</mat-label>
                <input
                    matInput
                    formControlName="feedTitle"
                    matInput
                    type="text"
                    placeholder="Ex: ESPN News" />
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Feed Description</mat-label>
                <input
                    matInput
                    formControlName="feedDescription"
                    matInput
                    type="text"
                    placeholder="Ex: ESPN Latest News Today" />
            </mat-form-field>

            <ng-container *ngIf="has_loaded_dealers; else loadingDealers">
                <div class="autocomplete-container full-width">
                    <app-autocomplete-field
                        (data_value)="dealerSelected($event)"
                        [data_reference]="dealers_data"
                        [key_of_value]="'dealerId'"
                        [label]="'Choose A Dealer'"
                        [placeholder]="'Choose A Dealer'"
                        [primary_keyword]="'businessName'"
                        [search_keyword]="'dealer'"
                        [paging]="paging"
                        (call_next_page)="searchBoxTrigger($event)"
                        (searched)="searchData($event)"
                        [loading_data]="loading_data"
                        [initial_value]="dealer_name"
                        [new_value]="dealer_name"
                        [disabled]="is_current_user_dealer"
                        [loading_search]="loading_search"
                        [disable_minimum_search_length]="true"
                        [disabled]="true">
                    </app-autocomplete-field>
                </div>
            </ng-container>

            <ng-container *ngIf="!has_selected_widget_feed_type; else textAreaScript">
                <div class="position-relative">
                    <mat-form-field class="full-width">
                        <mat-label>Feed URL</mat-label>
                        <input
                            matInput
                            formControlName="feedUrl"
                            matInput
                            type="text"
                            placeholder="URL needs to be working" />
                    </mat-form-field>
                    <div
                        *ngIf="is_validating_url"
                        class="spinner-container d-flex align-items-center justify-content-between position-absolute top-0 right-0">
                        <app-spinner [diameter]="35"></app-spinner>
                    </div>
                </div>
            </ng-container>

            <ng-template #textAreaScript>
                <mat-form-field class="full-width">
                    <textarea
                        matInput
                        placeholder="Paste your widget here"
                        formControlName="embeddedscript"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="10"
                        cdkAutosizeMaxRows="15">
                    </textarea>
                </mat-form-field>
            </ng-template>
        </div>

        <div
            class="alert alert-success"
            *ngIf="
                is_invalid_url === false && isUrlValidType === true!;
                has_selected_widget_feed_type
            ">
            <p class="sm-text font-weight-bold">Entered Feed URL is a supported format.</p>
        </div>

        <ng-container
            *ngIf="is_invalid_url && !is_validating_url && !has_selected_widget_feed_type">
            <ng-container *ngIf="is_invalid_url && isUrlValidType; else isInvalidType">
                <div class="alert alert-warning">
                    <p class="sm-text font-weight-bold">Entered Feed URL may be invalid.</p>
                </div>
            </ng-container>

            <ng-template #isInvalidType>
                <div class="alert alert-danger">
                    <p class="sm-text font-weight-bold">Feed URL Error! Possible reasons may be;</p>
                    <ul class="sm-text font-weight-bold pl-4">
                        <li>The feed URL does not start with "http" or "https"</li>
                        <li>Multiple HTTP protocols. Input one URL only.</li>
                    </ul>
                </div>
            </ng-template>
        </ng-container>

        <div class="d-flex flex-even align-items-center">
            <ng-container *ngIf="!has_selected_widget_feed_type; else widgetButton">
                <button
                    mat-button
                    mat-raised-button
                    class="theme-btn mr-2"
                    [disabled]="(is_validating_url && disabled_submit) || !isUrlValidType">
                    <ng-container *ngIf="is_creating_feed"> Creating feed... </ng-container>
                    <ng-container *ngIf="!is_creating_feed"> Submit </ng-container>
                </button>
            </ng-container>

            <ng-template #widgetButton>
                <button mat-button mat-raised-button class="theme-btn mr-2">
                    <ng-container *ngIf="is_creating_feed"> Creating feed... </ng-container>
                    <ng-container *ngIf="!is_creating_feed"> Submit </ng-container>
                </button>
            </ng-template>

            <button mat-button mat-raised-button class="theme-btn btn-danger" mat-dialog-close>
                Cancel
            </button>
        </div>
    </form>

    <ng-template #loading>
        <div class="py-5">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>

<ng-template #loadingDealers>
    <div class="spinner-container d-flex align-items-center justify-content-between">
        <h4>Loading dealers...</h4>
        <app-spinner [diameter]="35"></app-spinner>
    </div>
</ng-template>
