<div class="p-4 user-form position-relative">
	<ng-container *ngIf="!is_loading; else loading">
		<h3>New Feed</h3>
		<p class="sm-text mb-4">Fill the forms below to create a feed.</p>

		<form class="text-left" [formGroup]="new_feed_form" (ngSubmit)="saveFeed()" class="text-left" #formDirective="ngForm">
			<div class="row mb-4">
				<div *ngFor="let f of create_feed_fields" class="{{ f.width }}">
					<ng-container *ngIf="f.is_autocomplete != true; else autocomplete">
						<mat-form-field class="full-width" *ngIf="f.type != 'option'; else radios">
							<mat-label>{{ f.label }}</mat-label>
							<input matInput formControlName="{{ f.control }}" matInput type="{{ f.type }}" placeholder="{{ f.placeholder }}" />
						</mat-form-field>
					</ng-container>

					<ng-template #autocomplete>
						<app-autocomplete-field
							(data_value)="setDealerId($event)"
							[data_reference]="dealers_data"
							[key_of_value]="'dealerId'"
							[label]="'Choose A Dealer'"
							[placeholder]="'Choose A Dealer'"
							[primary_keyword]="'businessName'"
							[search_keyword]="'dealer'"
							[paging]="paging"
							(call_next_page)="searchBoxTrigger($event)"
							(searched)="searchData($event)"
							[loading_data]="loading_data"
							[initial_value]="dealer_name"
							[new_value]="dealer_name"
							[disabled]="is_dealer"
							[loading_search]="loading_search"
							[disabled]="true">
						</app-autocomplete-field>
					</ng-template>
					<ng-template #radios>
						<div class="col-lg-12 p-0 mb-1">
							<mat-label class="text-gray">{{ f.label }}</mat-label>
						</div>

						<mat-radio-group name="opList" fxLayout="column" formControlName="{{ f.control }}">
							<mat-radio-button
								*ngFor="let op of list"
								class="mr-2 md-text text-gray"
								name="opList"
								[value]="op.id"
								(change)="changeType($event)"
								>{{ op.name }}</mat-radio-button
							>
						</mat-radio-group>
					</ng-template>
				</div>
			</div>
			<div class="d-flex">
				<div class="flex-even">
					<button mat-button mat-raised-button class="theme-btn mr-2" [disabled]="disable_btn">Save</button>

					<button mat-button mat-raised-button class="theme-btn" mat-dialog-close>Cancel</button>
				</div>
			</div>
		</form>
	</ng-container>

	<ng-template #loading>
		<div class="py-5">
			<app-spinner></app-spinner>
		</div>
	</ng-template>
</div>
