@import '~@angular/material/theming';

$dashboard-primary: mat-palette($mat-light-green, 500);
$dashboard-accent: mat-palette($mat-grey, 900);
$n-compass-theme: mat-light-theme($dashboard-primary, $dashboard-accent);
@include angular-material-theme($n-compass-theme);

$custom-typography: mat-typography-config(
    $font-family: '"Poppins", sans-serif;',
);
@include mat-core($custom-typography);

html {
    scroll-behavior: smooth;
}

.selected,
.marked {
    box-shadow:
        0 0 10px rgba(147, 202, 20, 0.945),
        0 0 10px rgba(151, 209, 17, 0.938);
}

.mat-slide-toggle-thumb-container {
    z-index: initial !important;
}

.no-padding > .mat-dialog-container {
    padding: 0 !important;
}

.draggable-content {
    cursor: move;

    &.dragging {
        &:before {
            background-color: rgba(151, 209, 17, 0.2);
            content: ' ';
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 9;
        }

        cursor: move;
        opacity: 1;
    }
}

.mat-tab-list {
    padding-bottom: 0 !important;
}

.mat-form-field-no-padding-bottom .mat-form-field-wrapper {
    margin-bottom: -1.25em;
}

.margin-left-auto {
    margin-left: auto;
}

.mat-top-em {
    margin-top: 1.25em;
}

.mat-bl-em {
    margin-block: 1.25em;
}

.p-top-em {
    padding-top: 1.25em;
}

.p-in-em {
    padding-inline: 1.25em;
}
