#viewTagDialog {

	.add-btn {
		margin-right: 25%;
	
		i {
			font-size: 12px;
		}
	}

	.table-container {

		.theme-table {

			table {
				.action-buttons {
					text-align: center;
			
					mat-icon {
						cursor: pointer;
						font-size: 15px;
					}
				}
			}
		}

	}

	.spinner {
		margin-top: 20%;
	}

}
