<div class="theme-container">
    <div class="title-section col-lg-12 p-0 flex mt-4">
        <div class="col-lg-6 p-0 text-left">
            <h1 class="page-title">{{ title }}</h1>
        </div>
        <div class="col-lg-6 p-0 text-right date-section">
            <div class="text-gray md-text">{{ date }}</div>
        </div>
    </div>

    <hr class="my-3">

	
	<ng-template #spinner>
		<mat-card class="py-5">
			<app-spinner [diameter]="85"></app-spinner>
		</mat-card>
	</ng-template>
</div>