.autocomplete-field {
    position: relative;
}

.autocomplete-error-msg {
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.selection-remover {
    border-radius: 4px;
    height: 20px;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
}

.mat-option {
    font-size: 13px;
    height: unset;
    white-space: normal;
    border-bottom: 1px solid #f0f0f0;
    line-height: normal;
    padding: 1rem !important;
}
