<div class="autocomplete-field">
    <mat-form-field appearance="standard" class="custom-autocomplete w-100">
        <mat-label>{{ field_data.label }}</mat-label>
        <input
            type="text"
            matInput
            [placeholder]="field_data.placeholder"
            [formControl]="autoCompleteControl"
            [matAutocomplete]="auto"
            (focus)="onFocus()"
            #autoCompleteInputField />
        <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="!staticVal && displayOption"
            (optionSelected)="valueSelected($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.value }}
            </mat-option>
        </mat-autocomplete>
        <button
            matSuffix
            *ngIf="field_data.unselect && autoCompleteControl.value && !field_data.disabled"
            class="selection-remover naked-btn mt-3 bg-danger text-white"
            title="Remove Selection"
            (click)="autoCompleteFocusTrigger($event)">
            <i class="fas fa-times"></i>
        </button>
    </mat-form-field>
    <div class="autocomplete-error-msg bg-danger text-white" *ngIf="field_data.noData">
        <span>{{ field_data.noData }}</span>
    </div>
</div>
