<div class="autocomplete-field w-100">
    <mat-form-field appearance="standard" class="w-100 custom-autocomplete">
        <mat-label>{{ field_data.label }}</mat-label>
        <input
            type="text"
            matInput
            [placeholder]="field_data.placeholder"
            [formControl]="autoCompleteControl"
            [matAutocomplete]="auto"
            (focus)="onFocus()"
            #autoCompleteInputField />
        <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="!staticVal && displayOption"
            (optionSelected)="valueSelected($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.value }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div class="autocomplete-error-msg bg-danger text-white" *ngIf="field_data.noData">
        <span>{{ field_data.noData }}</span>
    </div>
</div>
