<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{ data.name }}</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
        <div class="first-row d-flex justify-content-between">
            <mat-form-field *ngFor="let field of firstRowFields">
                <ng-container *ngIf="field.type !== 'color'; else colorPicker">
                    <input
                        matInput
                        [placeholder]="field.placeholder"
                        [type]="field.type"
                        [formControlName]="field.name" />
                </ng-container>

                <ng-template #colorPicker>
                    <input
                        matInput
                        class="color-picker-field"
                        [placeholder]="field.placeholder"
                        [cpAlphaChannel]="'disabled'"
                        [cpDisableInput]="true"
                        [cpPosition]="'bottom-right'"
                        [style.background]="selectedZoneColor"
                        [(colorPicker)]="selectedZoneColor"
                        (colorPickerChange)="onSelectZoneColor(selectedZoneColor)"
                        [value]="selectedZoneColor || ''" />
                </ng-template>
            </mat-form-field>
        </div>

        <div class="second-row d-flex justify-content-between">
            <mat-form-field *ngFor="let field of secondRowFields">
                <input matInput [placeholder]="field.placeholder" [type]="field.type" [formControlName]="field.name" />
            </mat-form-field>
        </div>

        <mat-action-row class="zone-controls">
            <!-- TOGGLE FOR MAIN ZONE -->
            <mat-slide-toggle
                formControlName="isMainZone"
                (change)="toggleMainZone($event)"
                (click)="$event.stopPropagation()"
                [labelPosition]="'before'">
                <span> Set as the main zone </span>
            </mat-slide-toggle>

            <!-- BUTTON TO RESET ZONE DATA -->
            <button mat-button mat-raised-button class="reset-btn bg-danger text-white" (click)="onReset()">
                Reset
            </button>
        </mat-action-row>
    </form>
</mat-expansion-panel>
