.generated-feed-preview {
    overflow: hidden;
    background: #121212;
    height: 455px;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;

    // img {
    //     animation: zoom-in-zoom-out 150s ease-out infinite;
    //     height: 100%;
    //     left: 0;
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    // }

    .context {
        background: rgba(0, 0, 0, 0.3);
        bottom: 0;
        color: #fff;
        left: 0;
        padding: 40px;
        position: absolute;
        width: 100%;
        z-index: 9;

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }
    }
}

.hidden {
    display: none;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

/** Based from Template **/
.demo-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .banner-image {
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 30%;
        position: absolute;
        z-index: 8;
    }

    .headline {
        box-shadow:
            0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
        position: absolute;
        padding: 10px 20px;
        top: -30px;
        left: 0;
        z-index: 9;
    }

    .item-text-heading {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    .item-text-paragraph {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.4em;
        margin: 0;
        max-width: 1620px;
        transition: 1s linear;
        text-shadow:
            0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .item-text {
        bottom: 0;
        color: #fff;
        display: flex;
        justify-content: center;
        position: absolute;
        padding: 40px 40px 30px 40px;
        transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 100%;
        z-index: 8;
    }
}
