<div class="contact-number-container">
    <form [formGroup]="contactForm">
        <mat-form-field class="full-width">
            <mat-label>Contact Number</mat-label>
            <input
                class="no-spinners"
                matInput
                formControlName="contactNumber"
                [placeholder]="'Ex. 555 555 1234'"
                [type]="'tel'"
                [required]="false"
                (input)="numberValidator($event)"
                [maxlength]="10" />
            <mat-error *ngIf="contactForm.controls['contactNumber'].hasError('minlength')">
                Contact Number should be 10-digit.
            </mat-error>
        </mat-form-field>
    </form>
</div>
