<!-- DROPDOWN AND SEARCH BOX ROW -->
<div class="dropdown-and-search-section d-flex justify-content-between">

	<div class="action-buttons-container d-inline-flex">
		<!-- ADD TAGS -->
		<button mat-button mat-raised-button class="theme-btn pi-control sm-text mr-2 _cool" title="Add Tags" (click)="openDialog('add_tag')">
			<span class="fas fa-tags"></span> <span class="ml-2 button_text_animation">Add Tags</span>
		</button>

		<!-- ASSIGN TAGS -->
		<button mat-button mat-raised-button class="theme-btn pi-control sm-text mr-2 _teal" title="Assign Tags" (click)="openDialog('assign_tags')">
			<span class="fas fa-user-plus"></span> <span class="ml-2 button_text_animation" >Assign Tags</span>
		</button>

		<!-- SELECTED TAG INDICATOR -->
		<ng-container *ngIf="hasTagSelected">
			<div class="pill selected-tag">
				<div class="d-flex align-items-center">
					<div>Tag: <strong>{{ selectedTag.name }}</strong></div>
					<mat-icon (click)="onClearSelectedTag()">close</mat-icon>
				</div>
			</div>
		</ng-container>

		<!-- FILTER TAG BY OWNER TYPE -->
		<button mat-button mat-raised-button [matMenuTriggerFor]="tagOwnerTypeMenu" mat-raised-button class="theme-btn">
			<span class="button-label">Owner Types</span>
			<span class="fas fa-angle-down ml-2"></span>
		</button>
		<mat-menu #tagOwnerTypeMenu="matMenu">
			<button mat-menu-item *ngFor="let owner of ownerTypes" (click)="onFilterByOwnerType(owner)">
				<span class="md-text">{{ owner.name | titlecase }}</span>
			</button>
		</mat-menu>

		<!-- EXPORT TAGS -->
		<!-- <button mat-button mat-raised-button class="theme-btn pi-control sm-text mr-2 _primary" title="Export">
			<span class="fas fa-file-excel"></span> <span class="ml-2 button_text_animation">Export</span>
		</button> -->
	</div>

	<!-- SEARCH FIELD -->
	<div class="search-container">
		<mat-form-field class="full-width" *ngIf="!isLoading">
			<mat-label>Search by tag or @assignee</mat-label>
			<input matInput [formControl]="searchFormControl">
		</mat-form-field>
	</div>

</div>

<mat-card>
	<ng-container *ngIf="!isLoading; else loading">
		<!-- TABLE -->
		<app-tags-table *ngIf="owners.length > 0; else noResults"
			[tableType]="'tag-owners'"
			[isLoading]="isLoading"
			[paging]="pagingData"
			[tableColumns]="columns"
			[tableData]="owners"
			[currentTagType]="currentTagType"
			[currentUserRole]="currentUserRole"
			(onClickPageNumber)="clickedPageNumber($event)">
		</app-tags-table>
	</ng-container>
</mat-card>

<ng-template #loading>
	<div class="py-4">
		<app-spinner [diameter]="60"></app-spinner>
	</div>
</ng-template>

<ng-template #noResults>
	<p>No results found</p>
</ng-template>