.selected-tag {
	mat-icon {
		text-align: center;
		font-size: 18px;
		line-height: 30px;
		cursor: pointer;
	}
}

.search-container {
		
	mat-form-field {
		width: 400px;
	}
}

.dropdown-and-search-section {
	margin-top: 20px;
}

.selected-filter {
	background-color: #8EC641;

	&:hover {
		background-color: #8EC641 !important;
	}
}

.action-buttons-container {
	height: 46px;
}