<div class="h-100 d-flex align-items-center">
	<div class="p-3 w-100">
        <h4 class="mb-2">
            <span class="text-dark font-weight-medium" *ngIf="compare_basis_label">
                Total {{ compare_basis_label }}
            </span>

            <span class="text-dark font-weight-medium" *ngIf="average_basis_label">
                {{ average_basis_label }}
            </span>
        </h4>
        <div class="col-lg-12 p-0 flex">
            <div class="col-lg-3 p-0">
                <span class="sm-text text-dark">
                    {{ compare_basis_sub_label}}
                </span>
                <h2>
                    <span class="text-primary font-weight-medium" *ngIf="!average_basis_label">
                        {{ compare_basis }}
                    </span>

                    <span class="text-primary font-weight-medium" *ngIf="average_basis_label">
                        {{ average_basis }}
                    </span>
                </h2>
            </div>
            <div class="col-lg-9 p-0">
                <canvas id="breakdown-{{ id }}" height="150"></canvas>
            </div>
        </div>
        <div class="col-xs-12 flex" *ngIf="good_value && bad_value">
            <div class="col-xs-6 mr-2">
                <span class="text-primary fas fa-circle mr-2 xsm-text">
                </span>
                <span class="sm-text text-dark">
                    <span class="text-primary font-weight-medium">{{ good_value }}</span> {{ good_value_label }}
                </span>
            </div>
            <div class="col-xs-6">
                <span class="text-danger fas fa-circle mr-2 xsm-text">
                </span>
                <span class="sm-text text-dark">
                    <span class="text-danger font-weight-medium">{{ bad_value }}</span> {{ bad_value_label }}
                </span>
            </div>
        </div>
	</div>
</div>