<div class="row">
	<div class="col-lg-12 mb-2" *ngIf="has_breakdown">
		<span class="text-dark font-weight-medium"> Total {{ compare_basis_label }} </span>
	</div>
	<div class="col-lg-6" *ngIf="has_breakdown">
		<div class="row no-gutters">
			<div class="col-lg-12" *ngIf="!average_basis_label">
				<span class="text-primary font-weight-medium xlg-text">{{ compare_basis }}</span>
				<span class="md-text text-gray f-500">
					{{ compare_basis_sub_label }}
				</span>
			</div>
			<div class="col-lg-12 mt-2 pb-2 border-bottom" *ngIf="good_value || bad_value">
				<div class="row">
					<div class="col-lg-3" *ngIf="third_value_label">
						<span class="info-text lg-text font-weight-medium">
							{{ third_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ third_value_label }}
						</span>
					</div>
					<div class="col-lg-3" *ngIf="fourth_value_label">
						<span class="text-gray lg-text font-weight-medium">
							{{ fourth_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ fourth_value_label }}
						</span>
					</div>
					<div class="col-lg-3">
						<span class="text-gray lg-text font-weight-medium">
							{{ bad_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ bad_value_label }}
						</span>
					</div>
					<div class="col-lg-3">
						<span class="text-gray lg-text font-weight-medium">
							{{ good_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ good_value_label }}
						</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12 mt-2">
				<div class="row">
					<div class="col-lg-3">
						<span class="text-primary lg-text font-weight-medium">
							{{ breakdown1_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ breakdown1_label }}
						</span>
					</div>
					<div class="col-lg-3">
						<span class="text-danger lg-text font-weight-medium">
							{{ breakdown2_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ breakdown2_label }}
						</span>
					</div>
					<div class="col-lg-3">
						<span class="text-orange lg-text font-weight-medium">
							{{ breakdown3_value }}
						</span>
						<br />
						<span class="f-500 md-text text-gray">
							{{ breakdown3_label }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CHART SECTION -->
	<div [ngClass]="has_breakdown ? 'col-lg-6' : 'col-lg-12 text-center'">
		<div class="row" [ngClass]="breakdown4_sub_label ? '' : 'pt-4 mt-2'">
			<div class="col-lg-12" *ngIf="!has_breakdown">
				<span class="text-primary font-weight-medium xlg-text">{{ compare_basis }}</span>
				<span class="md-text text-gray f-500">
					{{ compare_basis_label }}
				</span>
			</div>

			<div class="col-lg-12">
				<div class="wrapper-for-canvas full-width text-center" [ngClass]="has_breakdown ? '' : 'pt-2'">
					<canvas id="breakdown-{{ id }}" height="150" width="150"></canvas>
				</div>
			</div>

			<!-- CONNECTION STATUS -->
			<div class="col-lg-12 text-center" *ngIf="breakdown4_sub_label">
				<span class="text-gray sm-text font-weight-medium">
					<i class="fa fa-plug" aria-hidden="true"></i>
					{{ breakdown4_value }} {{ breakdown4_label }}
				</span>
				<span class="text-gray sm-text ml-3 font-weight-medium">
					<i class="fa fa-plug" aria-hidden="true"></i>
					{{ breakdown5_value }} {{ breakdown5_label }}
				</span>
			</div>
		</div>
	</div>
</div>
