<div class="col-lg-12 pl-0 pr-0 pb-4">
	<div class="tab-actions-section d-flex align-items-center">
		<div class="datepicker-container">
			<div class="d-flex">
				<!-- DATEPICKER -->
				<ng-container *ngIf="isDatePickerEnabled">
					<mat-form-field class="datepicker mat-form-field-no-padding-bottom" appearance="fill" appDefaultDateFormat>
						<mat-label>Current / Selected Date</mat-label>
						<input [formControl]="date" (dateInput)="dateSelected($event.value)" matInput [matDatepicker]="datePicker" readonly>
						<mat-datepicker-toggle matSuffix [for]="datePicker" [disabled]="searching"></mat-datepicker-toggle>
						<mat-datepicker #datePicker></mat-datepicker>
					</mat-form-field>
				</ng-container>

				<!-- DATE VIEW BUTTONS -->
				<ng-container *ngIf="isDatePickerViewEnabled">
					<mat-button-toggle-group class="date-views-container align-items-center" name="view-toggle">
						<mat-button-toggle class="theme-btn _neutral cursor-pointer" *ngFor="let view of dateViews" (click)="onSelectDateView.emit(view.index)">
							
							<ng-container *ngIf="view.index === 0; else defaultViewButton">
								<span class="fas fa-times" data-toggle="tooltip" title="Clear Filter"></span>
							</ng-container>
	
							<ng-template #defaultViewButton>
								{{ view.name }}
							</ng-template>
	
						</mat-button-toggle>
					</mat-button-toggle-group>
				</ng-container>
			</div>
		</div>

		<!-- EXPORT BUTTON -->
		<button mat-button mat-raised-button class="theme-btn pi-control sm-text _primary mr-2" title="Export to CSV" (click)="onExport.emit()" [disabled]="isExporting">
			<span class="{{ !isExporting ? 'fas fa-file-excel' : 'fas fa-spinner' }}"></span> 
			<span class="ml-2 button_text_animation">{{ !isExporting ? 'Export' : 'Generating CSV' }}</span>
		</button>

		<!-- SEARCH FIELD -->
		<app-search-field *ngIf="!initialLoad" class="search-field margin-left-auto"
			[form_title]="'Search Dealer Business Name'"
			[placeholder]="'Example: N-Compass'"
			[data_reference]="installations"
			[primary_keyword]="'business_name'"
			[secondary_keyword]="'business_name'"
			(searched)="searchInstallations($event)"
			[api_search]="true">
		</app-search-field>

	</div>

	<div class="mb-3 col-lg-12">
		<span class="sm-text">Note: Licenses colored in Red are expired installations.</span>
	</div>

	<div *ngIf="!initialLoad; else loader">
		<div class="row" *ngIf="!initialLoad">
			<div class="col-lg-12">
				<ng-container *ngIf="!searching; else loader">
					<mat-card *ngIf="filteredData.length > 0; else no_data">
						<!-- DATA TABLE -->
						<app-data-table
							(page_triggered)="onSelectPage.emit($event)"
							(to_sort_column)="onSortByColumnAndOrder.emit($event)"
							(update_info)="onTableRefresh.emit()"
							[table_data]="filteredData"
							[table_columns]="tableColumns"
							[new_table]="true"
							[paging_details]="pagingData"
							[active_tab]="currentFilters.sortColumn"
							[sort_column]="currentFilters.sortColumn"
							[sort_order]="currentFilters.sortOrder">
						</app-data-table>
					</mat-card>
				</ng-container>
			</div>
		</div>
	</div>
</div>

<ng-template #loader>
	<mat-card>
		<app-spinner [diameter]="60"></app-spinner>
	</mat-card>
</ng-template>

<ng-template #no_data>
	<mat-card class="p-5">
		<h3>Oh Boy.</h3>
		<p class="sm-text mb-3">
			There are no scheduled installations at the moment.
		</p>
	</mat-card>
</ng-template>